{config_load file=$smarty.session.lang_file}
<link href="{$path}/datagrid.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{$path}/datagrid.js"></script>
<link rel="stylesheet" href="{$path}/calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.css" type="text/css" media="screen" />
<script type="text/javascript" src="{$path}/calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.js?random=20060118"></script>
<form name="for_datagrid" action="" method="get" style="margin:0px;">
<input type="hidden" name="mod" value="{$smarty.get.mod}">
<input type="hidden" name="amod" value="{$smarty.get.amod}">
<input type="hidden" name="atask" value="{$smarty.get.atask}">
<input type="hidden" name="sys" value="{$smarty.get.sys}" />
<input type="hidden" name="tab" value="{$smarty.get.tab}" />
<input type="hidden" name="sort_by" value="{$sort_by}">
<input type="hidden" name="sort_value" value="{$sort_value}">

{if $root_path}
<table cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td valign="middle" id="root">
			&nbsp;&nbsp;{$root_path}
		</td>
	</tr>
</table>
{/if}
<div style="width: 100%; border: 0px solid gray;">
<table width="100%" border="0" cellpadding="0" cellspacing="0"   >
	<tr>
		
		
	    <td align="right" height="60px">
           
		   
		    		   
		   {if $arr_check!= '' && $arr_value!=''}
			
			{foreach from=$arr_check item=item}
            {if $item}
			 <div id="icon">
				<span style="cursor:pointer;text-decoration:none" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'"  onclick= {if $item.check}"event_check('{$item.task}','{$item.confirm}',true);" {else} "event_check('{$item.task}','{$item.confirm}',false);" {/if} >
				 <img src="/images/icon/{$item.task}.png" width="32px" height="32px" /> <br>
				{$item.display}</span>
		     </div>
            {/if}
			{/foreach}
		   {/if}
		   
		    {if $arr_action && $has_action =='' && $has_action_add}
				 <div id="icon">
				 <span style="cursor:pointer;text-decoration:none" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'"  onclick="{if $arr_action[0].action!= ''}{$arr_action[0].action}{else}redirect_url('{$submit_url}&task=add');{/if}"> <img src="/images/icon/new_all.png" width="32px" height="32px" /> <br>         
				 Thêm mới
				  </span>
				 </div>
		   {/if} 
           
           {******
           {if $smarty.get.amod=='customer' && $smarty.get.atask=='customer'}
           <div id="icon" style="float:left; width:auto;">
				<span style="cursor:pointer;text-decoration:none" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'"  onclick= "sendmsg('sendmsg','Gửi tin nhắn cho thành viên');" >
				 <img src="/images/icon/e-mail_icon.jpg" width="32px" height="32px" /> <br>
				Gửi mã khuyến mại
                </span>
		   </div>
           {/if}
           *******}
           
           {if $smarty.get.amod=='customer' && $smarty.get.atask=='customer'}
           <div id="icon">
                <span style="cursor:pointer;text-decoration:none" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'" onclick="{if $arr_action[0].action!= ''}{$arr_action[0].action}{else}event_check('sendmsg','Xác nhận gửi tin',false);{/if}" >
                 <img src="/images/icon/e-mail_icon.jpg" width="32px" height="32px" /> <br>
                 Gửi mã <br />khuyến mại</span>
            </div>
            {/if}
            
           {if $smarty.get.amod=='regismail' && $smarty.get.atask=='regismail'}
           <div id="icon">
                <span style="cursor:pointer;text-decoration:none" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'" onclick="{if $arr_action[0].action!= ''}{$arr_action[0].action}{else}event_check('sendmsg','Xác nhận gửi tin',false);{/if}" >
                 <img src="/images/icon/e-mail_icon.jpg" width="32px" height="32px" /> <br>
                 Gửi tin mới</span>
            </div>
            {/if}
            
           {if ($smarty.get.amod=='product' && ($smarty.get.atask=='product' || $smarty.get.atask=='product_regismail')) || ($smarty.get.amod=='customer' && $smarty.get.atask=='customer') || ($smarty.get.amod=='regismail' && $smarty.get.atask=='regismail') || $smarty.get.amod=='order'}
            <div id="icon" style="width:95px;">
                <span style="cursor:pointer;text-decoration:none" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'" onclick="{if $arr_action[0].action!= ''}{$arr_action[0].action}{else}event_check({if $smarty.get.amod=='order'}'export_order'{else}'export_error'{/if},'Xác nhận xuất exel',false);{/if}" >
                 <img src="/images/icon/excel_icon.png" width="32px" height="32px" /> <br>
                Xuất Excel</span>
            </div>           
             {/if}
		   
		</td>
    		
	</tr>
   <tr>
   
          <td align="left">
			{if $arr_filter != ''}  
				<div style="float: left;width:100%;">
					<table cellpadding="" cellspacing="3" border="0">
					   	<tr >
					   	{foreach item=row from=$arr_filter name=filter}
						<td>
						&nbsp;{$row.display}:
						{if $row.type == 'date'}
						<input type="text" name="{if $row.name != ''}{$row.name}{else}{$row.field}{/if}" id="{if $row.name != ''}{$row.name}{else}{$row.field}{/if}" value="{$row.selected}" {if $row.style != ''} style="{$row.style}"{/if}/>
						<img src="{$path}/calendar/images/lich.gif" id="img_{$smarty.foreach.filter.index}" onclick="displayCalendar(document.getElementById({if $row.name != ''}'{$row.name}'{else}'{$row.field}'{/if}),'yyyy-mm-dd',this)" />
						{elseif $row.type=='text'}
							<input type="text" name="{if $row.name != ''}{$row.name}{else}{$row.field}{/if}" value="{$row.selected}"  style="{$row.style}" />
						{else}
						<select name="{if $row.name != ''}{$row.name}{else}{$row.field}{/if}" id="{if $row.name != ''}{$row.name}{else}{$row.field}{/if}" {if $row.style != ''} style="{$row.style}"{/if}  onchange="{$row.onchange}" >
							{if $row.option_string == ''}
								<option value="">---Tất cả---</option>
								{html_options options = $row.options selected = $row.selected}							
							{else}
								{$row.option_string}
							{/if}
						</select>
						{/if}
						</td>
						
				  	{/foreach}
					    <td valign="bottom"><input type="submit" name="bt_fillter" value="Lọc dữ liệu"  style="border:1px solid #CCCCCC; background-color:#F5F5F5; font-weight:bold; color:#0033CC"/>  </td>
					   	</tr>	 	
					</table>
									
			  </div>
			  {/if}
                       			
		</td>
   </tr>
   {if $msg != ''}	
	<tr >
		<td class="notice_msg" style="color:#F00">{$msg}</td>
	</tr>
	{/if}
</table>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr class="tr_title">
	    {if $arr_check!= '' && $arr_value!=''} 
		<td class="td_check">
		
			<input type="checkbox" name="checkall" onclick="check_all(this)" title="Check All"/>
			<input type="hidden" name="task" />
		</td>
		{else}
			&nbsp;
		{/if}
		<td class="td_index">Index</td>
		
		{foreach item=row from=$arr_cols}
			{if $row.visible == '' || $row.visible != 'hidden'}			
				<td class="td_border_left" style="color:#000000;text-align: {if $row.align}{$row.align}{else}left{/if}; padding-{if $row.align}{$row.align}{else}left{/if}: 3px; {if $row.width}width:{$row.width}px;{/if}">
				{if $row.sortable}<img src="{$path}/images/sort_asc{if ($sort_by==$row.field) && ($sort_value=='asc')}_select{/if}.gif" onclick="for_datagrid.sort_by.value='{$row.field}'; for_datagrid.sort_value.value='asc'; for_datagrid.submit();" style="cursor:pointer"/>&nbsp;{/if}
				{$row.display}
				{if $row.sortable}&nbsp;<img src="{$path}/images/sort_desc{if ($sort_by==$row.field) && ($sort_value=='desc')}_select{/if}.gif" onclick="for_datagrid.sort_by.value='{$row.field}'; for_datagrid.sort_value.value='desc'; for_datagrid.submit();" style="cursor:pointer"/>{/if}
                {if $row.datatype == 'order' && $arr_value}<img src="{$path}/images/save.png" style="cursor:pointer" title="Lưu thứ tự" border="0" onclick="save_order();"/>{/if}
				</td>
			{/if}
		{/foreach}		
		
		<td class="td_action td_border_left" style="width:{$action_width}px;"></td>
		
	</tr>
	
	{foreach name=value item=row from=$arr_value}		
	<tr class="{if $smarty.foreach.value.index % 2 ==0}tr_mau1{else}tr_mau2{/if}" onMouseOver="this.className='tr_hover'" onMouseOut="this.className='{if $smarty.foreach.value.index % 2 ==0}tr_mau1{else}tr_mau2{/if}'" >
		{if $arr_check!= ''}
		<td class="td_check {if !$smarty.foreach.value.last} td_border{else} td_border_left{/if}">
			<input type="checkbox" name="arr_check[]" id="check_{$smarty.foreach.value.index}" value="{$row[$pkey]}" />
			<input type="hidden" name="all_check[]" value="{$row[$pkey]}">
		</td>
		{/if}
		
		<td class="td_index {if !$smarty.foreach.value.last} td_border{else} td_border_left{/if}">{$smarty.foreach.value.index+$index_start}</td>
		
		{foreach key=key item=item from=$arr_cols name=col}
			{if $item.visible == '' || $item.visible != 'hidden'}				
				<td class="{if !$smarty.foreach.value.last} td_border{else} td_border_left{/if}" style="text-align: {if $item.align}{$item.align}{else}left{/if}; padding-{if $item.align}{$item.align}{else}left{/if}: 3px; {if $item.width}width:{$item.width}px;{/if}">
				{if $item.link != ''} {*<a href="{$item.link}&{$item.field}={$row[$item.field]}&id={$row[$pkey]}">*}
                 <a style="cursor:pointer" onclick="javascript:redirect_url('{$item.link}&{$item.field}={$row[$item.field]}&id={$row[$pkey]}');">{/if}
				{if $item.value_cores != ''}
					{foreach key=ref item=cor from=$item.value_cores}
						{if $ref == $row[$item.field]}
							{$cor}
						{/if}					
					{/foreach}
				{else}
					{if $item.datatype=='img'}
						{if $row[$item.field] != ''}
						<a href="{$item.img_path}{$row[$item.field]}" onclick="return hs.expand(this)">						
							<img src="{$item.img_path}{$row[$item.field]}" width="40" height="20" border="0" title="{$row[$item.tooltip]}"/>
						</a>
						{else}
						&nbsp;
						{/if}
					{elseif $item.datatype=='boolean'}
						{if $row[$item.field]=='1' || $row[$item.field]=='t' ||$row[$item.field]=='active' }
							<img src="{$path}/images/active.gif" border="0">
						{else}
							<img src="{$path}/images/deactive.gif" border="0">
						{/if}
                    {elseif $item.datatype=='publish'}
						{if $row[$item.field]=='1' || $row[$item.field]=='t' ||$row[$item.field]=='active' }
							{*<img src="{$path}/images/active.gif" border="0" style="cursor:pointer" alt="unpublish" title="{#unpublish_item#}" onclick="doPublish('{$submit_url}&task=change_status&id={$row[$pkey]}&ajax', this);">*}
                            <a href="{$submit_url}&task=change_status&id={$row[$pkey]}&status=0"><img src="{$path}/images/active.gif" border="0" style="cursor:pointer" alt="unpublish" title="{#unpublish_item#}"></a>
	{else}
							{*<img src="{$path}/images/deactive.gif" border="0" alt="publish"  style="cursor:pointer" title="{#publish_item#}" onclick="doPublish('{$submit_url}&task=change_status&id={$row[$pkey]}&ajax', this);">*}
                             <a href="{$submit_url}&task=change_status&id={$row[$pkey]}&status=1"><img src="{$path}/images/deactive.gif" border="0" alt="publish"  style="cursor:pointer" title="{#publish_item#}"></a>
	{/if}
                        
						{elseif $item.datatype=='showhome'}
						{if $row[$item.field]=='1' || $row[$item.field]=='t' ||$row[$item.field]=='active' }
                            <a href="{$submit_url}&task=change_showhome&id={$row[$pkey]}&ShowHome=0"><img src="{$path}/images/active.gif" border="0" style="cursor:pointer;" alt="unpublish" title="{#unpublish_item#}"></a>
	{else}
                             <a href="{$submit_url}&task=change_showhome&id={$row[$pkey]}&ShowHome=1"><img src="{$path}/images/deactive.gif" border="0" alt="publish"  style="cursor:pointer" title="{#publish_item#}"></a>
	{/if}
                        
                        {elseif $item.datatype=='ishot'}
						{if $row[$item.field]=='1' || $row[$item.field]=='t' ||$row[$item.field]=='active' }
                            <a href="{$submit_url}&task=change_ishot&id={$row[$pkey]}&IsHot=0"><img src="{$path}/images/active.gif" border="0" style="cursor:pointer" alt="unpublish" title="{#unpublish_item#}"></a>
	{else}
                             <a href="{$submit_url}&task=change_ishot&id={$row[$pkey]}&IsHot=1"><img src="{$path}/images/deactive.gif" border="0" alt="publish"  style="cursor:pointer" title="{#publish_item#}"></a>
	{/if}
    
    
					{elseif $item.datatype=='value_set'}
						{foreach item=case from=$item.case key=key}
							{if $row[$item.field] == $key}
								{$case}
							{/if}
						{/foreach}
					{elseif $item.datatype=='number'}
						{$row[$item.field]|number_format:0:",":"."}	
					{elseif $item.datatype=='float'}
						{$row[$item.field]|number_format:3:".":","}
                    {elseif $item.datatype=='order'}
						<input type="text" name="{$item.field}[{$row[$pkey]}]" value="{$row[$item.field]}"  style="width:60px; height:18px; font-size:11px"/>
					{elseif $item.editable == true} 
					     <input style="text-align:center" size="1" type="text" name="{$item.field}[{$row.id}]" value="{$row[$item.field]}">									
					{else}
						{$row[$item.field]|default:'&nbsp;'}
					{/if}
				{/if}
				{if $item.link != ''}</a>{/if}	
				</td>
			{/if}
		{/foreach}
		{if  $has_action ==''}
		<td class="td_action {if !$smarty.foreach.value.last} td_border{else} td_border_left{/if}" style="width:{$action_width}px;">
		{foreach item=item from=$arr_action}
			{if $item.task!='add'}
			{if ($item.display == '') || ($item.operation == 'equal' && $row[$item.field]==$item.value) || ($item.operation == 'notequal' && $row[$item.field]!=$item.value)}			
			<span style="cursor:pointer" onclick="
				{if $item.confirm || $item.action}javascript: 
					{if $item.action!=''} {$item.action}('{$row[$pkey]}') 
					{else}
						{if $item.field_cascade != '' && $row[$item.field_cascade] != '' && $row[$item.field_cascade] != 0}
							confirm_redirect('{$item.confirm_cascade}', '{$submit_url}&task={$item.task}&id={$row[$pkey]}')
						{else}
							 confirm_redirect('{$item.confirm}', '{$submit_url}&task={$item.task}&id={$row[$pkey]}') 
							 
						{/if}	
					{/if} 
				{else} javascript:redirect_url('{$submit_url}&task={$item.task}&id={$row[$pkey]}') {/if}" title="{$item.tooltip}">
				{if $item.icon}<img src="{$path}/images/{$item.icon}" border="0" style="cursor:pointer;" />{else}{$item.text}{/if}
			</span>
			{/if}			
			{/if}
		{/foreach}
		</td>
		{/if}
	</tr>	
	{foreachelse}
	<tr>
		<td style="text-align: center; color: #FF3333; padding: 15px; border-top: 1px solid gray;" colspan="10">
			<strong>Hiện chưa có bản ghi nào trong cơ sở dữ liệu	</strong>
		</td>
	</tr>	
	{/foreach}	
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr class="tr_paging">
		<!--<td class="td_check">
		{if $arr_check!= '' && $arr_value!=''}
			<input type="checkbox" name="checkall" onclick="check_all(this)" title="Check All"/>
			<input type="hidden" name="task" />
		{else}
			&nbsp;
		{/if}
		</td>-->
		<!--<td valign="middle">&nbsp;
		{if $arr_check!= '' && $arr_value!=''}
			{foreach from=$arr_check item=item}
				<span style="cursor:pointer;" class="out" onmouseover="this.className='over'" onmouseout="this.className = 'out'" onclick="event_check('{$item.task}','{$item.confirm}');">{$item.display}</span>&nbsp;|
			{/foreach}
		{/if}
		</td>-->
		<td >
		<div style="float:left; width:120px; padding-top:0px;padding-left:10px">Tổng số bản ghi: <strong>{$number_record}</strong></div>  
		</td>
		
		<td  valign="middle" align="right">
			<div style="float: right;">
				Số bản ghi/trang: <input name="per_page" value="{$per_page|default:10}" style="width: 40px; text-align:center;" onKeyPress="if(event.keyCode==13) for_datagrid.submit();">&nbsp;&nbsp;
				{if $page > 1}
				<span onClick="for_datagrid.page.value=1; for_datagrid.submit();" style="cursor: pointer; padding-top:3px;">
					<img src="{$path}/images/page-first.gif" border="0"  style="cursor:pointer;"/>
				</span>
				<span onClick="for_datagrid.page.value={$page-1}; for_datagrid.submit();" style="cursor: pointer">
					<img src="{$path}/images/page-prev.gif" border="0"  style="cursor:pointer"/>
				</span>
				{else}
				<span>
					<img src="{$path}/images/page-first-disabled.gif" border="0" />
					<img src="{$path}/images/page-prev-disabled.gif" border="0" />
				</span>
				{/if}<img src="{$path}/images/grid-split.gif" border="0" />
				Trang: <input name="page" value="{$page|default:1}" style="width: 20px; text-align:center;" onKeyPress="if(event.keyCode==13) for_datagrid.submit();" />
				trong tổng số <strong>{$number_page}</strong>&nbsp;&nbsp;<img src="{$path}/images/grid-split.gif" border="0" />
				{if $page < $number_page}
				<span onClick="for_datagrid.page.value={$page+1}; for_datagrid.submit();" style="cursor: pointer;">
					<img src="{$path}/images/page-next.gif" border="0"  style="cursor:pointer;" />
				</span>
				<span onClick="for_datagrid.page.value={$number_page}; for_datagrid.submit();" style="cursor: pointer;">
					<img src="{$path}/images/page-last.gif" border="0"  style="cursor:pointer"/>
				</span>
				{else}
				<span>
					<img src="{$path}/images/page-next-disabled.gif" border="0" />
					<img src="{$path}/images/page-last-disabled.gif" border="0" />
				</span>
				{/if}&nbsp;
			</div>
		</td>
	</tr>
	
</table>
</div>
</form>
