/* CSS Document */
html,body{	
	margin:0px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
}

table{
	font-size:12px;		
}

a:visited,a:link{
	color:#003366;
	text-decoration:none;
}

a:hover
{
	color:#003366;
	text-decoration:underline;
}

.td_index
{
	width:40px;
	text-align: center;
	padding-right: 3px;
	color:#000000;
}

.td_check
{
	width:30px;
	text-align: center;
	color:#000000;
}


.td_border
{
	border-bottom:1px solid #999999;
	border-left:1px solid #E1E1E1;
}

.td_border_left
{
	border-left:1px solid #E1E1E1;
}

.td_action
{
	text-align: center;
	padding:2px;
}

.tr_mau1
{
	background:#FFFFFF;	
	height:23px;
}
.tr_mau2
{
	background:#EFEFEF;
	height:23px;
}
.tr_hover
{
	background:#E1FDF5;
	height:23px;
}

.tr_title
{
	background:url(images/wbg.gif) repeat-x top left;
	 height:28px;	 
	 font-weight:bold;
}

.tr_paging
{
	 background-image:url(images/wbg2.gif);
	 height:30px;
}

.div_filter
{		
	width: 100%;
	height: 30px;	
	text-align: left;
	background-color:#F2F1F1;
}

.over{
	color:#003399;
	text-decoration:underline;
}

.out{
	color:#003399;
}

#root
{		
	width: 100%;
	height: 27px;	
	text-align: left;
	font-weight: bold;		
	background-color:#006182;
	background:url(images/panel_title.gif) repeat-x;
}
#icon{

     float:right;
	 border:#dddddd solid 1px;
	 width:70px;
	 height:50px;
	 text-align:center;
	 margin:3px
}
#icon:hover{
     background-color: #f1e8e6; 
     float:right;
	 border:#c24733 solid 1px;
	 width:70px;
	 height:50px;
	 text-align:center;
	 margin:3px
}
