<div class="box_left">
	<div class="side_title" style="color:#3d8fc4;">{#partner#}</div>
	<div class="side_content" style="padding-top:5px;">
        <div class="newsticker-jcarousellite" id="newsticker-demo">
        <ul>
    {foreach from = $partner item = item name = item}
            <li>
        	<div class="partner_img">
        		<a href="{$item.Link}" target="_blank" ><img src="{$smarty.const.SITE_URL}{$item.Photo}" width="60" height="50" alt="{$item.Name}" style="margin:1px 0 0 3px;"/></a>
            </div>
                <a href="{$item.Link}" target="_blank" style="color:#5c5c5c; font-weight:700;" >{$item.Name}</a>
            </li>
    {/foreach}
            </ul>
        </div>
</div>
</div>

    
    
    


