<div class="box_right">
	<div class="box_right_title">
    	<div class="box_right_title_right">{#project_category#}</div>
    </div>
	<div class="div_general" style="background:#0a793c;">
		{foreach from = $cat item=item name=item}
		<div class="menu_right"><a href="{$smarty.const.SITE_URL}project/c-{$item.id}/{$item.Name|remove_marks}.html">{$item.Name}</a></div>
		{/foreach}
		
	</div>
</div>