<div class="box_left">
	<div class="side_title">{#support_online#}</div>
		<div class="side_content">            
        {foreach from=$listItem item=item name=item}
        	<div class="list_support" style="width:100%; text-align:center; margin-bottom:10px;">
                <a href="ymsgr:sendim?{$item.Nick}"><img src="http://opi.yahoo.com/online?u={$item.Nick}&amp;m=g&amp;t=1&amp;l=us" border="0" width="64" height="16" style="padding-bottom:5px;"></a>
                <br />
                <font style="color:#000; font-weight:normal; font-size:11px;">{$item.Name} : {$item.Phone}</font>
			</div>
		{/foreach}        
	</div>
</div>
