<div class="box_left">
	<div class="side_title">{#support_online#}</div>
	<div class="side_content">
        	<table width="100%" cellpadding="3" cellspacing="3" border="0" align="center">
        	{foreach item=item from=$home_support_1 name=item}
            	<tr>
                	{if $item.Nick}<td align="center" width="27"><a href="ymsgr:sendim?{$item.Nick}"><img src="/view/images/icon/yahoo.jpg" border="0" width="27" height="25" alt="" /></a></td>{/if}
                    {if $item.Skype}<td align="center" width="19"><a href="skype:{$item.Skype}?call"><img src="/view/images/icon/skype.jpg" border="0" width="19" height="20" alt="My status" /></a></td>{/if}
                    <td valign="middle" style="color:#414141;">{$item.Name}{if $item.Phone}<br /><b style="color:#F60">{$item.Phone}</b>{/if}</td>
                </tr>
            {/foreach}
            </table>
	</div>
</div>


<!-- AddThis Button BEGIN -->
<div class="side_content" style="border:none; padding-left:20px;">
    <div style="width:190px; height:79px; background:url(/view/images/background/bg_share.gif) no-repeat;">
    <div style="color:#ff3300; font-weight:bolder; padding:15px 0px; text-align:center;">{#share_with#}</div>
        <div class="addthis_toolbox addthis_default_style addthis_25x25_style" style="padding-left:25px;">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f2a921d35198164"></script>
    </div>
</div>