{config_load file=$smarty.session.lang_file}

	<div class="thick_title" style="width:510px; height:95px; float:left; background:url(../../../view/images/background/thick_title.jpg) right no-repeat; line-height:95px; font-size:30px; text-indent:20px; color:#6a0c0c;">{#support_online#}</div>
		<div class="thick_content"> 
        <font style="color:#44430b;">{#wecare#}</font>           
        {foreach from=$support item=item name=item}
        	<div class="thick_support" style="width:480px; height:40px; margin:20px 0 0 0;  float:left;">
                <a href="ymsgr:sendim?{$item.Nick}"><img src="http://opi.yahoo.com/online?u={$item.Nick}&amp;m=g&amp;t=2&amp;l=us" border="0"  style="float:left;"></a>
                <span style=" color:#fe0000; font-size:15px; font-weight:700; margin:-20px 0 0 30px; ">{$item.Name}</span> 	<br />                <span style=" color:#878787; font-size:14px; margin:0 0 0 30px; ">{#SDT#}: {$item.Phone} - {#email#}: {$item.Skype}</span>
			</div>
		{/foreach}        
	</div>
</div>
