* { margin:0; padding:0; }

#newsticker-demo { 
width:100%; 
padding:0; 
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img {}

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:100%; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:110px; }
.newsticker-jcarousellite .info { float:left; width:97%; height:auto;}
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }

.clear { clear: both; }
