<div class="box_left">
	<div class="side_title">{#ABOUT#}</div>
	<div class="side_content">
		{foreach from = $cat item=item name=item}
		<div class="product_cat">
<a {if $parent1==$item.id} style="color:#474747;"{/if} href="{$smarty.const.SITE_URL}about/c-{$item.id}/{$item.Name|remove_marks}.html">{$item.Name}</a></div>
		{/foreach}
	</div>
</div>