<div id="gallery">
    <a href="{$smarty.const.SITE_URL}{$show_img_color.Photo}">
        <img src="{$smarty.const.SITE_URL}{$show_img_color.Photo}" width="220" height="220" alt="{$smarty.const.SITE_URL}{$show_img_color.Photo}" />
    </a>
</div>
