	{literal}
    <!-- <link href="/lib/cloud-zoom/images/cloud-zoom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/lib/cloud-zoom/images/cloud-zoom.1.0.2.js"></script> -->
    <link href="/lib/cloud-zoom/cloud-zoom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/lib/cloud-zoom/cloud-zoom.js"></script>
    {/literal}

<div class="zoom-section">
    <div class="zoom-small-image">
    	<a href='{$smarty.const.SITE_URL}/upload/product/{$show_img.Photo_Name}' class = 'cloud-zoom' rel="tint: '',tintOpacity:0.7 ,smoothMove:5,zoomWidth:460, adjustY:-3, adjustX:80"><img src="{$smarty.const.SITE_URL}/upload/product/{$show_img.Photo_Name}" width="402" height="586" style="border:1px solid #efefef; margin-left:3px;" alt="{$smarty.const.SITE_URL}{$show_img.Photo_Name}" /></a>
	</div>
</div>
<div class="zoom-desc"></div>