<div style="margin-top:10px;" class="cart">
			 <table width="100%" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
			   <tr align="center">
				   <th>Sản phẩm</th>
					<th>Số lượng</th>
					<th>Thành tiền</th>
			   </tr>
			   {foreach item=item from=$result}
			   {assign var="pid" value=$item.product.id}
			   {assign var="delete_link" value="index.php?mod=cart&task=delete&pid=$pid"}
			   <tr>			   		
				   <td bgcolor="#FFFFFF" align="center"><br />
				   		
				   		<a href='{$smarty.const.SITE_URL}product/{$pid}-{$item.product.Name|remove_marks}.html'><img src="{$smarty.const.SITE_URL}{$item.product.Photo}" height="88px;" border="0" /></a><br /><br />
						<a href='{$smarty.const.SITE_URL}product/{$pid}-{$item.product.Name|remove_marks}.html' style="color:#006699; font-weight:bold">{$item.product.Name}</a><br /><br />						
						
						<span style="color:#FF0000; font-size:16px; font-weight:bold">{$item.product.Price|number_format:0:".":"."} VNĐ</span><br />
				   </td>
				   <td bgcolor="#FFFFFF" width="110" align="center" valign="middle">{$item.quantity}
				   </td>
				   <td bgcolor="#FFFFFF" width="120" align="right" style="font-weight:bold; color:#FF0000" >{$item.subtotal|number_format:0:".":"."} VNĐ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>				  
			   </tr>
			   {foreachelse}
				<tr>
				   <td colspan="4" align="center" bgcolor="#FFFFFF" align="center">Hiện không có sản phẩm nào trong giỏ hàng của bạn</td>
			   </tr>
			   {/foreach}		   
			   
			   {if $result}
			   	<tr>
				   <td bgcolor="#FFFFFF" colspan="2" align="right" style="font-weight:bold; text-transform:uppercase">Tổng cộng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				   <td bgcolor="#FFFFFF" colspan="2"><span id="total" style="font-weight:bold; color:#FF0000">&nbsp;&nbsp;{$total|number_format:0:".":"."} VNĐ</span></td>				   
			   </tr>
			   {/if}
			   
			 </table>
</div>
		

