.ves_fleft{
	float:left;
}
.ves_fright{
	float:right;
}
.ves_clear{
	clear:both;
}
.ves_spacer{
	padding:3px;
	margin:1px;
}
.ves_content{
	width:100%;
	margin:0 auto;
	padding-left:3px;
}
.ves_cat_header{
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#0066CC;
	font-weight:bold;
	font-size:14px;
}
.ves_news_content .ves_title a{
	color:#0033CC;
	font-weight:bold;
	text-decoration:none;
}
.ves_news_content .ves_title a:hover{
	color:#0033CC;
	font-weight:bold;
	text-decoration:underline;
}
.ves_news_content .ves_content{
	width:100%;
}
.ves_icon_detail{
	float:right;
	margin-right:10px;
}
.ves_icon_detail a{
	color:#0033CC;
	text-decoration:none;
	font-size:12px;
	margin-left:3px;
}
.ves_icon_detail a:hover{
	color:#0033CC;
	text-decoration:underline;
	font-size:12px;
	margin-left:3px;
}
.ves_dot_line{
	border-bottom:1px dotted #CCCCCC;
	width:100%;
	height:1px;
}