<div class="box_center1">
<div class="box_center_title1"><a href="{$smarty.const.SITE_URL}">Home /</a> {#info_acc#}</div>
<div class="box_center_content1">
<div class="box_center_title1" style="color:#000; border:none; font-size:28px; height:70px; line-height:70px;">{#info_acc#}</div>
<a class="edit_profile" href="{$smarty.const.SITE_URL}customer/edit_profile/">My personal information</a>
<a class="message_to" href="{$smarty.const.SITE_URL}message/to/">{#message#} <span style="font-size:11px; color:#9f9f9f; font-weight:400;">There currently are <b style="color:#FF0000;">{if $count > 0} {$count}{else}0{/if}</b> unread mail</span></a> 
<a class="change_pass" href="{$smarty.const.SITE_URL}customer/change_pass/">{#change_pass#}</a>
<a class="change_pass" href="{$smarty.const.SITE_URL}customer/history/">Order history</a>
</div>
</div>