{literal}
<script type="text/javascript">
	function up_date(id)
	{
		location.href="/index.php?mod=customer&task=up_date&id="+id;
	}
function confirmDel()
{
	if(confirm('Bạn có muốn xóa không?'))
		return true;
	else
		return false;
}

</script>
{/literal}
<div class="box_center">
<div class="box_center_title">{#manage_services#}</div>
<div class="box_center_content">
<table width="98%" cellpadding="8" cellspacing="0" class="tbl-services-new" border="0" align="center" style="text-align:center;border: 1px solid #B51A02; color:#242424; float:left;">
<tr class="row-title" style="background-color:#CCC;">
	<td style="border-right: 1px solid #B51A02;border-bottom:1px solid #B51A02;">{#title#}</td>
	<td style="border-right: 1px solid #B51A02;border-bottom:1px solid #B51A02;">{#idpost#}</td>
	<td style="border-right: 1px solid #B51A02;border-bottom:1px solid #B51A02;">{#view#}</td>
	<td style="border-right: 1px solid #B51A02;border-bottom:1px solid #B51A02;">{#date#}</td>
	<td style="border-right: 1px solid #B51A02;border-bottom:1px solid #B51A02;">{#date1#}</td>
	<td style="border-bottom: 1px solid #B51A02;">{#tool#}</td>
	<!--<td style="border: 1px solid #40a211;"></td>-->
</tr>
{foreach from = $list_post name = item item = item}
<tr height="30">
	<td align="left" style="border-right: 1px solid #B51A02;"><a href="{$smarty.const.SITE_URL}product/{$item.id}/{$item.Name|remove_marks}.html" style="color: #F15700;">{$item.Name}</a></td>
	<td style="border-right: 1px solid #B51A02;">{$item.id}</td>
	<td style="border-right: 1px solid #B51A02;">{$item.ViewNumber}</td>
	<td style="border-right: 1px solid #B51A02;">{$item.CreateDate|date_format:"%d/%m/%Y"}</td>
	<td style="border-right: 1px solid #B51A02;">{$item.MakeDate|date_format:"%d/%m/%Y"}</td>
	<td><a onclick="up_date({$item.id})" style="color: #F15700; cursor:pointer;" title="up tin"><img src="/view/images/uptin.png" /></a>  
    	<a href="/customer/edit-{$item.id}-{$item.Name|remove_marks}.html" style="color: #F15700;" title="Sửa tin"><img src="/view/images/edit-notes.png" /></a>  
        <a href="/customer/delete-{$item.id}/" style="color: #F15700;" onclick="return confirmDel()" title="Xóa tin"><img src="/view/images/delete.png" /></a> 
    </td>
</tr>
{/foreach}
</table>
</div>
</div>