		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" language="javascript" src="js/Library.js" ></script>
		<script type="text/javascript" language="javascript" src="js/Vne.js"></script>
		<script type="text/javascript" language="javascript" src="js/AdLib.js"></script>
		<script type="text/javascript" language="javascript" src="js/AjaxRequest.js"></script>
		<div class="goldprice fl">
			<div class="fl"><img class="img-icon" src="http://vnexpress.net/Images/money.gif" alt="" />&nbsp;&nbsp;<label class="link-folder">Giá vàng 9999</label></div>
			<div class="fl">
				<div id="eGold" class="gold-price fl">&nbsp;</div>
				<div class="fl" style="width:127px;"><label style="font:italic 10px arial; color:#919090;">(Nguồn: <a href="http://www.sacombank-sbj.com" target="_blank"><img style="border:0px;vertical-align:middle;width:80px;height:9px" src="http://vnexpress.net/Images/logoSb.gif" alt="Sacombank" /></a>)</label></div>
				<div class="fl"><img class="img-icon" src="http://vnexpress.net/Images/circle-chart.gif" alt="" />&nbsp;&nbsp;<label class="link-folder">Tỷ giá</label></div>
				<div id="eForex" class="forex-rate fl">&nbsp;</div>

				<div class="fl"><label style="font:italic 10px arial; color:#05324f;">(Nguồn: <a href="http://www.eximbank.com.vn" target="_blank"><img  style="border:0px;vertical-align:middle" src="http://vnexpress.net/Images/logo-EXIM.gif" /></a>)</label></div>				
			</div>
		</div>
	<script type="text/javascript" language="javascript" src="js/Gold_Content.js"></script>
	<script type="text/javascript" language="javascript" src="js/Forex_Content.js"></script>
	<script type="text/javascript" language="javascript">ShowGoldPrice();ShowForexRate();</script>