<div class="home_payment">   
	<div class="homepaymenttext">
    	Bạn có thể thanh toán với Bookthoidai bằng :
    </div>
    <div class="homepaymentmain">
    {foreach item=item from=$payment name=item}
       <div class="homepaymentimg">
       		<a href="{$smarty.const.SITE_URL}thanh-toan/{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}"><img src="{$item.Photo}" width="65" height="40" alt="{$item.Name}" /></a>
       </div>
    {/foreach}
    </div>
    <div class="home_support">
    	<a href="{$smarty.const.SITE_URL}tro-giup/"><img src="/view/images/web/help-img.png" width="200" height="60" alt="Trợ giúp" /></a>
    </div>
</div>

