
{literal}
<script>
function regismail_home(){
	var frm = document.frmregismailHome;
	var email = frm.Email_regis.value;
	var apos=email.indexOf("@");
	var dotpos=email.lastIndexOf(".");
	if(email == '')
	{
		alert("Please enter your email address!");
		frm.Email_regis.focus();
		return false;
	}
	else if (apos<1||dotpos-apos<2){
		alert("Invalid email address!");
		frm.Email_regis.select();
		return false;
	}
	// var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	// if (!filter.test(email.value)) {
 //        alert('Email is invalid. Please try again !');
 //        frm.Email_regis.select();
 //        return false;
 //    }
	
	return true;
}

</script>
{/literal}
    <div class="msg_info">{$error}</div>
    <div id="soldout" style="width:100%; float:left; margin-top:10px;"></div>
<div class="form_text" style="width:100%; margin-top:15px;">
	<form action="" method="post" name="frmregismailHome" onsubmit="return regismail_home()">
    		<input type="hidden" id="size_email" name="size_email" value="" />
        	<input type="text" class="email_text" name="Email_regis" value="{#regismail#}"  onclick="this.value=''"/>
        	<input class="reg_submit" type="submit" value="Notify me when available" style="width:200px;" />
    </form>
</div>







