<link type="text/css" rel="stylesheet" href="/core/calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.css?random=20051112" media="screen"></link>
<script type="text/javascript" src="/core/calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.js?random=20060118"></script>
<script language = "javascript">var pathToImages = "/core/calendar/images/"; </script>
{literal}
<script>

		function load_place123(id)
		{	
			$.ajax({
				type: "GET",
				url: "/index.php?mod=regismail&task=place&ajax",
				data: "id="+id,
				success: function(response_text){
					$("#place123").html(response_text);
				}
			});
		}

function validate_form(){
	var frm = document.frmContact;
	var email = frm.Email.value;
	var apos=email.indexOf("@");
	var dotpos=email.lastIndexOf(".");
	if(frm.FullName.value == '')
	{
		alert("Mời bạn nhập họ tên!");
		frm.FullName.focus();
		return false;
	}
	if(frm.Phone.value == '')
	{
		alert("Bạn chưa nhập số điện thoại!");
		frm.Phone.focus();
		return false;
	}
	if(frm.sex.value == '')
	{
		alert("Mời bạn chọn giói tính!");
		frm.sex.focus();
		return false;
	}
	if($("#sick").val()=="0")
	{
		alert("vui lòng chọn bệnh  cần chữa");
		$("#sick").focus();
		return false;
	}
	if($("#place").val()=="0")
	{
		alert("vui lòng chọn địa điểm khám");
		$("#sick").focus();
		return false;
	}
/*	if(frm.Content.value == '')
	{
		alert("Mời bạn nhập nội dung bài gửi!");
		frm.Content.focus();
		return false;
	}
*/	
/*	var check_ratio = 0;
	if ($("#day").is(":checked")) {
		check_ratio = 1;
	}
	if(check_ratio == 0)
	{
		alert("Mời bạn chọn thời gian khám");
		return false;
	}
*/	if ( frm.txt_captcha.value == '')
	{
		alert ("Bạn chưa nhập mã bảo vệ!");
		frm.txt_captcha.focus();
		return false;
	}
}

</script>
{/literal}
<div class="box_center" style="width:100%;">
		<span style="color:#717679; ">{#foreword#}</span>
    	<div class="box_center_title" style="width:100%;margin-top:20px;background:#e1e8f5; line-height:43px; color:#353535;">{#schedule#}</div>
    <div class="box_center_content" style="width:100%; ">		
		<table align="left" width="98%" cellpadding="3" cellspacing="3" border="0" style="text-transform:none; margin-left:30px;">
		<form action="" method="post" name="frmContact" onsubmit="return validate_form()">
			<tr>
				<td colspan="4" style="color:#FF0000; font-weight:bold ; text-align:left">{$msg_error}</td>
			</tr>
<!--			<tr>
				<td colspan="4" style="color:#353535; font-weight:bold ; text-align:left">
                {#schedule_for#}
                <input type="radio" name="IsThem" value="0" />  <span style="color:#1882c6; font-weight:400;">{#themselves#}</span>
                <input type="radio" name="IsThem"  value="1" />  <span style="color:#1882c6; font-weight:400;">{#relatives#}</span>
                </td>
			</tr>
-->			<tr>
				<td colspan="4" style="color:#353535; font-weight:bold ; text-align:left">{#info_sick#}</td>
			</tr>
			<tr>
				<td align="left"  style="text-align:left; color:#1882c6;">{#ct_fullname#}<span style="color:#CC3300">*</span>:</td>
				<td  align="left" style="text-align:left" ><input type="text" style="" name="FullName" class="register_line" value="{$smarty.post.FullName}" /></td>
				<td align="left"  style="text-align:left; color:#1882c6;"> {#select_place#}<span style="color:#CC3300">*</span>:</td>
				<td align="left" style="text-align:left">
                <select name="place" id="place" class="register_line" style="height:32px; width:301px;" >
                        {foreach from=$place item=item name=item}
                        <option value="{$item.id}" {if $smarty.post.place == $item.id} selected="selected" {/if} onclick="load_place123({$item.id})">{$item.Name}</option>
                        {/foreach}
                       
                     </td>
			</tr>
			<tr>
				<td align="left"  style="text-align:left; color:#1882c6;">{#sex#}<span style="color:#CC3300">*</span>:</td>
            	<td><select name="sex" id="sex" class="register_sex">                                        		                             <option value="{#male#}" {if $smarty.get.sex == 1} selected="selected" {/if}>{#male#}</option>
                            <option value="1" {if $smarty.get.sex == 2} selected="selected" {/if}>{#female#}</option>
                 </select>
                 <input type="text" class="register_birthday" name="birthday" class="contact_text" value="{#birthday#}" onclick="this.value=''" />
                 </td>
				<td align="left"  style="text-align:left; color:#1882c6;"> </td>
				<td align="left" style="text-align:left" id="place123">
                    <script type="text/javascript" src="{$smarty.const.SITE_URL}lib/thickbox/thickbox.js"></script>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.SITE_URL}lib/thickbox/thickbox.css" />
<a href="/index.php?mod=regismail&task=thickbox&id={$place1}&ajax&keepThis=true&TB_iframe=true&height=560&width=1000" title="" class="thickbox">
<span style="line-height:10px; color:#FF0000;">{#find_street#}</span> <img src="/view/images/background/place.png" style="margin-bottom:-8px;" /></a>
                </td>
			<tr>
			<tr>
				<td align="left" style="text-align:left; color:#1882c6;">{#address#}<span style="color:#CC3300">*</span>:</td>
				<td align="left" style="text-align:left"><input type="text" class="register_line" name="Phone" class="contact_text" value="{$smarty.post.Phone}" /></td>
				<td align="left"  style="text-align:left; color:#1882c6;"> {#position_pain#}<span style="color:#CC3300">*</span>:</td>
				<td align="left" style="text-align:left">
                <select name="sick" id="sick" class="register_line" style="height:32px; width:301px;">
                		<option value="0">{#select#}</option>
                        {foreach from=$sick item=item name=item}
                        <option value="{$item.id}" {if $smarty.post.sick == $item.id} selected="selected" {/if}>{$item.Name}</option>
                        {/foreach}
                     </select></td>
			</tr>
			<tr>
				<td align="left" style="text-align:left; color:#1882c6;">{#ct_phone#}<span style="color:#CC3300">*</span>:</td>
				<td align="left" style="text-align:left"><input type="text" class="register_line" name="Address" class="contact_text" value="{$smarty.post.Address}" /></td>
				<td align="left"  style="text-align:left; color:#1882c6;"> {#list_doctor#}:</td>
				<td align="left" style="text-align:left">
                <select name="doctor" id="doctor" class="register_line" style="height:32px; width:301px;">
                		<option value="0">{#select#}</option>
                        {foreach from=$doctor item=item name=item}
                        <option value="{$item.id}" {if $smarty.post.doctor == $item.id} selected="selected" {/if}>{$item.Name}</option>
                        {/foreach}
                     </select></td>
			</tr>
            <tr>
				<td align="left" valign="top" width="100px" style="text-align:left; color:#1882c6;"> {#email#}:</td>
				<td align="left" valign="top" style="text-align:left; color:#777777;"><input type="text" name="Email" class="register_line" value="{$smarty.post.Email}" /> <br /><br />
               <div style="margin-left:-110px; width:100px; float:left;color:#1882c6; ">{#day#}<span style="color:#CC3300">*</span>:</div> <input type="text" name="ExamTime" id="ExamTime" class="register_line" readonly/><img src="/view/images/background/img_date.png" width="27" height="24" style="margin-left:-30px; margin-top:4px; cursor:pointer;" onclick="displayCalendar(document.frmContact.ExamTime,'dd-mm-yyyy',this,true)"/><br /><br />
               <div style="margin:0 0 0 -110px; color:#1882C6; float:left;"> <span style="float:left;">{#examtime#}</span><span style="color:#CC3300;margin-right:20px; float:left;">*</span>
                 <select name="hour" id="hour" class="register_line" style="height:32px; width:55px; margin:0 10px 0 15px; float:left; ">
                		<option value="07">07</option>
                		<option value="08">08</option>
                		<option value="09">09</option>
                		<option value="09">09</option>
                		<option value="11">11</option>
                		<option value="12">12</option>
                		<option value="13">13</option>
                		<option value="14">14</option>
                		<option value="15">15</option>
                		<option value="16">16</option>
                		<option value="17">17</option>
                		<option value="18">18</option>
                     </select>
                     <select name="minute" id="minute" class="register_line" style="height:32px; width:55px; float:left; ">
                		<option value="00">00</option>
                		<option value="05">05</option>
                		<option value="10">10</option>
                		<option value="15">15</option>
                		<option value="20">20</option>
                		<option value="25">25</option>
                		<option value="30">30</option>
                		<option value="35">35</option>
                		<option value="40">40</option>
                		<option value="45">45</option>
                		<option value="50">50</option>
                		<option value="55">55</option>
                     </select>
                </div>
                </td>
				<td align="left" valign="top" style="text-align:left; color:#1882c6;"> {#description#}<span style="color:#CC3300"></span></td>
				<td align="left" style="text-align:left"><textarea name="Content" class="contact_text" style="height:100px; width:300px; font-family:Arial; font-size:12px">{$smarty.post.Content}</textarea></td>
			</tr>
			<tr>
				<td align="left" valign="top" width="100px" style="text-align:left; color:#1882c6;"> {#ct_code#}:</td>
            	<td><span style="font-size:18px; color:#000; margin-right:20px;">{$code}</span> <input type="text" name="txt_captcha"  class="register_sex" style="float:none; width:100px; height:25px;"/></div>
</td>
				
                <td align="center" colspan="2">&nbsp;<input type="submit" value="{#schedule#}" />&nbsp;</td>
			</tr>
		</form>
		</table>
	</div>
    <div class="box_center_bottom"></div>
</div>




