<div style="margin-top:10px; width:100%; float:left;">
			 <table width="100%" cellpadding="3" cellspacing="0"  style="font-size:11px">
			   <tr align="center" bgcolor="#fcfbfb">
                    <th style="border:1px solid #d0d0d0; border-right:none;" width="40%">Product</th>
                    <th style="border-bottom:1px solid #d0d0d0;border-top:1px solid #d0d0d0;" width="5%">Qty</th>				   	
					<th style="border:1px solid #d0d0d0; border-left:none;" width="13%">Price</th>			   
               </tr>
			   {foreach item=item from=$result name=item}
			   {assign var="pid" value=$item.product.id}
			   {assign var="delete_link" value="index.php?mod=cart&task=delete&pid=$pid"}
               {if $item.color==0}
			   <tr>			   		
                   <td  align="left" style="color:#704b3a; font-weight:bold">
                   <a href='{$smarty.const.SITE_URL}product/{$pid}/{$item.product.Name|remove_marks}.html' style="color:#6c6c6c; font-weight:bold">{$item.product.Name}</a> <br />
                   <span style="color:#424242; font-weight:400;">Size: {$item.product.size}</span>  <br /><br />
                   <!--<input type="button" class="bg_remove" value="Remove" onclick='if(confirm("Bạn có chắc muốn xóa sản phẩm này khỏi giỏ hàng hiện tại?")) location.href="{$smarty.const.SITE_URL}{$delete_link}";' />--></td> 
                   <td  width="110" align="center" valign="middle">
                            {$item.quantity}
				   </td>
				   
				   
				   <td  align="center">
                   
                   <span style="color:#FF0000; font-weight:bold" id="sp_{$item.product.id}">$ {if $item.product.price_size}{$item.quantity*$item.product.price_size}{elseif $item.product.Price}{$item.quantity*$item.product.Price}{else}{$item.quantity*$item.product.OldPrice}{/if} </span>
                   </td>
			   </tr>
               {/if}
			   {foreachelse}
				<tr>
				   <td colspan="" align="center" bgcolor="#FFFFFF" align="center">Your cart is currently empty!</td>
			   </tr>
			   {/foreach}		   
			   
			   {if $result}
			   	<tr >
                	<td style="border-top:1px solid #c7c7c7;"></td>
				   <td bgcolor="#FFFFFF" colspan="" align="left" style="font-weight:bold;border-top:1px solid #c7c7c7;  color:#000000;">Subtotal :</td>	
                   <td align="center" style="border-top:1px solid #c7c7c7;"><span id="total" style="font-weight:bold; margin-left:70px; ">SGD $ {$total}</span></td>			   
			   </tr>
			   {/if}
			   
			 </table>
</div>
		

