<div class="box_center1">		
        	<div class="box_center_title1">Order Success</div>
	<div class="box_center_content1" style="height:auto;">   
    	<table width="55%" align="center" border="0" cellpadding="4" cellspacing="0" style="text-align:center; margin:0 0 20px 20%;">
        	<tr><td align="left" style=" font-size:14px; line-height:30px; border:2px solid #ff0000; margin-bottom:20px;">
            Your Order ID is: {$OrderID} <br />
			{$infocheck} 
            </td></tr>
        	<tr><td align="center" > <br /><a href="{$smarty.const.SITE_URL}product/" style="color:#6D86DB; font-size:13px;">--> Continue shopping</a></td></tr>
        </table>
	</div>
</div>