<ul class="menu_list cart-right-logo">
     <li class="menu_list_shop"><a href="{$smarty.const.SITE_URL}cart/"><i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i> Shopping bag: {$count} product</a></li>
</ul>
