@media only screen and (max-width: 599px) {
    .mgr15_mobile {
    	margin-right: 15px !important;
    }
    #size_all {
        margin-left: 0px;
    }
    .box_center_content1 {
        width: 95%;
    }
    .add_quantity {
        margin: 0;
    }
    .page .welcome {
        display: none;
    }
    .top_content_main .banner .logo_header {
        width: 100%;
    }
    .top_content_main .banner .menu12 .mlmenu {
        display: none;
    }
    .top_content_main .banner .right-logo {
        display: none;
    }
    .top_content_main .banner .search-mobile {
        display: none;
    }
    .top_content_main .banner .cart-right-logo {
        display: none;
    }
    .top_content_main .show-menu-pra {
        display: block !important;
        width: 10%;
        float: left;
        font-size: 30px;
    }
    .top_content_main .menu-xs {
        background: #f2f2f2 none repeat scroll 0 0;
        display: none;
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999999;
    }
    .top_content_main .welcome-mobile {
        display: none !important;
    }
    .home_img {
        /*display: table-cell;
		width: 100% !important;*/
        margin: 20px 10%;
    }
    .owl-mobile .lis-slide2 a img {
        width: 100% !important;
        /*margin: 0 10%;*/
    }
    .col-xs-12 {
        width: 100% !important;
    }
    .lis-footer {
        text-align: left;
    }
    .lis-footer .end_clothes {
        margin-bottom: 10px;
        border-bottom: 1px dotted #f2f2f2;
    }
    .lis-footer .end_clothes3a {
        margin-bottom: 15px;
    }
    .lis-footer .end_clothes3a .end_clothes3 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 300;
        font-variant: small-caps;
    }
    .lis-footer .end_clothes ul li {
        font-size: 22px !important;
    }
    .lis-footer .end_clothes ul li a {
        font-size: 17px !important;
    }
    .lis-footer .end_clothes3a .share_social
    {
    	width: 100px !important;
    	margin: unset !important;
    }
    .lis-nav li a {
        color: #000;
        text-transform: uppercase;
    }
    .lis-nav li {
        border-bottom: 1px dotted #f2f2f2;
    }
    #middle .main_home #advance .slideshow1 #slider a img {
        /*width: 100% !important;*/
    }
    #fix-height .owl-stage-outer {
        height: 170px !important;
    }
    .menu-xs .navbar .menu_item {
        float: unset !important;
        clear: both !important;
        text-align: left;
        margin-left: 10px;
    }
    .show-mobile {
        display: block !important;
    }
    .show-mobile .show_search .language {
        color: #8c8c8c;
        float: left;
        position: inherit !important;
        width: 100% !important;
    }
    li.menu_list_shop {
        margin: 7px 0 0 4px !important;
    }
    .show-mobile .show_search .form_seach {
        width: unset !important;
    }
    .sub-menu li {
        background-color: #009688 !important;
    }
    .show-mobile .show_search .menu_active {
        float: unset !important;
    }
    /*==== product ======*/
    #sort_pro .box_sidebar1 {
    	display: none;
    }
    #sort_pro .listPage {
	    width: 101% !important;
	    margin-right: unset;
	}
	#sort_pro .box_center1
	{
		float: unset !important;
		width: 100% !important;
		margin-left: unset !important;
	}
	/*===== detail product =========*/
	.right-detail-content .ajax_detail_product_mobile{
		margin-top: 60px;
	}
	.right-detail-content .ajax_detail_product_mobile img {
		width: 100% !important;
	}
	.right-detail-content .tab_detail_product
	{
		width: 100% !important;
	}
	.right-detail .detai_pro_info {
		width: 100% !important;
        margin-top: 75px;
	}
	.right-detail .dt_sec_size .item_stock {
		width: 100% !important;
	}
	.breadcrumb-product {
		padding-left: unset !important;
		width: 90% !important;
	}
    .div-more-color, .home_price {
        margin-left: 0px !important;
    }
    .home_name {
        margin-left: 20px !important;
    }
    .pd_left0 {
        padding-left: 30px !important;
    } 
    .mrg_left4p {
        margin-left: 0px !important;
    }
    .slide-pro-mobile {
        display: block;
    }
    .slide-pro-desktop {
        display: none;
    }
    .navbar-toggle {
        float: left !important;
        margin-left: 15px;
        margin-right: 0px;
    }
    .shopping-bag-mobile{
        padding-top: 4px;
        margin-left: 35px;
        position: absolute;
    }
    #click_showhide {
        margin-left: 18px;
    }
    #click_showhide #soldout {
        margin-top: 40px !important;
    }
    .connect-with-us {
        font-size: 22px !important;
        font-weight: normal !important;
        margin-bottom: -13px !important;
    }
    .connect-mobile {
        margin-left: -16px !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .mgr15_mobile {
        margin-right: 15px !important;
    }
    .page .welcome {
        display: none;
    }
    .top_content_main .banner .logo_header {
        width: 70%;
    }
    .top_content_main .banner .menu12
    {
        padding: 0 13%;
    }
    .top_content_main .banner .right-logo {
        display: none;
    }
    .top_content_main .banner .search-mobile {
        display: none;
    }
    .top_content_main .banner .cart-right-logo {
        display: none;
    }
    .top_content_main .menu-xs {
        background: #f2f2f2 none repeat scroll 0 0;
        display: none;
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999999;
    }
    .top_content_main .welcome-mobile {
        margin-bottom: 60px;
    }
    .top_content_main .welcome-mobile .language{
        width: 100% !important;
    }
    .top_content_main .welcome-mobile .search-mobile {
        width: 170px !important;
    }
    .home_img {
        /*display: table-cell;
        width: 100% !important;*/
        margin: 20px 14%;
    }
    .owl-mobile .lis-slide2 a img {
        width: 100% !important;
        /*margin: 0 10%;*/
    }
    .views_more_home .fix-width {
        width: 50% !important;
    }
    .lis-footer {
        text-align: left;
    }
    .lis-footer .end_clothes {
        margin-bottom: 10px;
        border-bottom: 1px dotted #f2f2f2;
    }
    .lis-footer .end_clothes3a {
        margin-bottom: 15px;
    }
    .lis-footer .end_clothes3a .end_clothes3 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 300;
        font-variant: small-caps;
    }
    .lis-footer .end_clothes ul li {
        font-size: 22px !important;
    }
    .lis-footer .end_clothes ul li a {
        font-size: 17px !important;
    }
    .lis-footer .end_clothes3a .share_social
    {
        width: 100px !important;
        margin: unset !important;
    }
    .lis-nav li a {
        color: #000;
        text-transform: uppercase;
    }
    .lis-nav li {
        border-bottom: 1px dotted #f2f2f2;
    }
    #middle .main_home #advance .slideshow1 #slider a img {
        /*width: 100% !important;*/
    }
    #fix-height .owl-stage-outer {
        height: 300px !important;
    }
    .menu-xs .navbar .menu_item {
        float: unset !important;
        clear: both !important;
        text-align: left;
        margin-left: 10px;
    }
    .show-mobile {
        display: block !important;
    }
    .show-mobile .show_search .language {
        color: #8c8c8c;
        float: left;
        position: inherit !important;
        width: 100% !important;
    }
    li.menu_list_shop {
        margin: 7px 0 0 4px !important;
    }
    .show-mobile .show_search .form_seach {
        width: unset !important;
    }
    .sub-menu li {
        background-color: #009688 !important;
    }
    .show-mobile .show_search .menu_active {
        float: unset !important;
    }
    /*==== product ======*/
    #sort_pro .box_sidebar1 {
        display: none;
    }
    #sort_pro .listPage {
        width: 100% !important;
        margin-right: unset;
    }
    #sort_pro .box_center1
    {
        float: unset !important;
        width: 100% !important;
        margin-left: unset !important;
    }
    /*===== detail product =========*/
    .right-detail-content .ajax_detail_product_mobile{
        margin-top: 60px;
    }
    .right-detail-content .ajax_detail_product_mobile img {
        width: 100% !important;
    }
    .right-detail-content .tab_detail_product
    {
        width: 100% !important;
    }
    .right-detail .detai_pro_info {
        width: 100% !important;
    }
    .right-detail .dt_sec_size .item_stock {
        width: 100% !important;
    }
    .breadcrumb-product {
        padding-left: unset !important;
        width: 90% !important;
    }
    .frm_cart123 .cart-mobile {
        display: block !important;
    }
    .frm_cart123 .cart_table_desktop{
        display: none !important;
    }
    .div-more-color, .home_price {
        margin-left: 0px !important;
    }
    .home_name {
        margin-left: 20px !important;
    }
    .slide-pro-mobile {
        display: block;
    }
    .slide-pro-desktop {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .mgr15_mobile {
        margin-right: 15px !important;
    }
    .page .welcome {
        display: none;
    }
    .top_content_main .banner .logo_header {
        width: 70%;
    }
    .top_content_main .banner .menu12
    {
        padding: 0 13%;
    }
    .top_content_main .banner .right-logo {
        display: none;
    }
    .top_content_main .banner .search-mobile {
        display: none;
    }
    .top_content_main .banner .cart-right-logo {
        display: none;
    }
    .top_content_main .menu-xs {
        display: none !important;
    }
    .top_content_main .welcome-mobile {
        margin-bottom: 90px;
    }
    .top_content_main .welcome-mobile .language{
        width: 100% !important;
    }
    .top_content_main .welcome-mobile .search-mobile {
        width: 170px !important;
    }
    .home_img {
        /*display: table-cell;
        width: 100% !important;*/
        margin: 20px 14%;
    }
    .owl-mobile .lis-slide2 a img {
        width: 100% !important;
        /*margin: 0 10%;*/
    }
    .lis-footer {
        text-align: left;
    }
    .lis-footer .end_clothes {
        margin-bottom: 10px;
        border-bottom: 1px dotted #f2f2f2;
    }
    .lis-footer .end_clothes3a {
        margin-bottom: 15px;
    }
    .lis-footer .end_clothes3a .end_clothes3 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 300;
        font-variant: small-caps;
    }
    .lis-footer .end_clothes ul li {
        font-size: 22px !important;
    }
    .lis-footer .end_clothes ul li a {
        font-size: 17px !important;
    }
    .lis-footer .end_clothes3a .share_social
    {
        width: 100px !important;
        margin: unset !important;
    }
    .lis-nav li a {
        color: #000;
        text-transform: uppercase;
    }
    .lis-nav li {
        border-bottom: 1px dotted #f2f2f2;
    }
    #middle .main_home #advance .slideshow1 #slider a img {
        /*width: 100% !important;*/
    }
    #fix-height .owl-stage-outer {
        height: 300px !important;
    }
    .menu-xs .navbar .menu_item {
        float: unset !important;
        clear: both !important;
        text-align: left;
        margin-left: 10px;
    }
    .show-mobile {
        display: block !important;
    }
    .show-mobile .show_search .language {
        color: #8c8c8c;
        float: left;
        position: inherit !important;
        width: 100% !important;
    }
    li.menu_list_shop {
        margin: 7px 0 0 4px !important;
    }
    .show-mobile .show_search .form_seach {
        width: unset !important;
    }
    .sub-menu li {
        background-color: #009688 !important;
    }
    .show-mobile .show_search .menu_active {
        float: unset !important;
    }
    /*==== product ======*/
    #sort_pro .box_sidebar1 {
        display: none;
    }
    #sort_pro .listPage {
        width: 100% !important;
        margin-right: unset;
    }
    #sort_pro .box_center1
    {
        float: unset !important;
        width: 100% !important;
        margin-left: unset !important;
    }
    /*===== detail product =========*/
    .right-detail-content .ajax_detail_product_mobile{
        margin-top: 60px;
    }
    .right-detail-content .ajax_detail_product_mobile img {
        width: 100% !important;
    }
    .right-detail-content .tab_detail_product
    {
        width: 100% !important;
    }
    .right-detail .detai_pro_info {
        width: 100% !important;
    }
    .right-detail .dt_sec_size .item_stock {
        width: 100% !important;
    }
    .breadcrumb-product {
        padding-left: unset !important;
        width: 90% !important;
    }
    .div-more-color{
        margin-left: 50px !important;
    }
    .home_price {
        margin-left: 70px !important;
    }
    .home_name {
        margin-left: 55px !important;
        height: 30px;
        max-height: 30px;
        overflow: hidden;
    }
    .top_content_main .banner .cart-right-logo {
        width: 115px !important;
    }
    .show-mobile {
        display: none !important;
    }
    .one-product {
        height: 430px;
    }
    .slide-pro-mobile {
        display: none;
    }
    .slide-pro-desktop {
        display: block;
    }
}

@media only screen and (min-width: 1024px){
    .top_content_main .menu-xs {
        display: none !important;
    }
    .top_content_main .welcome-mobile{
        display: none !important;
    }
    .top_content_main .banner .language{
        /*width: 35% !important;*/
    }
    .top_content_main .banner .search-mobile{
        width: 300px !important;
    }
    .top_content_main .banner ul.menu_list{
        /*width: 110px !important;*/
    }
    .views_more_home .fix-width {
        width: 20% !important;
    }
    .top_content_main .banner .cart-right-logo {
        width: 115px !important;
    }
    .show-mobile {
        display: none !important;
    }
    .lis-slide {
        height: 565px;
        max-height: 570px;
    }
    .slide-pro-mobile {
        display: none;
    }
    .slide-pro-desktop {
        display: block;
    }
}