/*min*/
@media (min-width: 1200px) {
    .container{width: 97%}
}
@media (min-width: 1025px) {
    .banner {min-height:140px;float:left;}
    .banner img{height:100px;}
    .menu12 {width:1000px; height:40px;font-size:12px;bottom:0; left:0;font-weight:400;font-family:Tahoma;}
    .content_footer{ width:1000px; height:28px; float:left; color:#8c8c8c; line-height:28px;}
    .main_home{ width:1000px; float:left; }
    .slideshow1{ width:1000px; height:600px;  float:left; position:relative; margin:0 0 10px 0;/*background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);*/ }
    .nivoSlider{position:relative;width:100%;height:600px; overflow:hidden;z-index:5;}
    .nivoSlider img{position:absolute;top:0;left:0;max-width:none; width:100%;height:600px;}
    .nivo-main-image{display:block!important;width:100% !important; height:600px;}
    .theme-default .nivoSlider img{display:none; width:100%; height:600px;}
    #fix-height .owl-stage-outer{height: 520px}
    .logo img{width: 280px}
    .pdlr30{padding: 0px 30px}
    .lis-product-item{padding-left: 0px;padding-right: 30px}
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .show_search{display: none}
}
/*max*/
@media (max-width: 1024px) {
    .page { width:100%;}
    .top_content_main{width: 100%}
    .banner {width:100%;height:auto;}
    .banner img{width:100%;min-height:100px;}
    .menu12{width:100%; height:40px; border-bottom:2px solid #000;font-size:12px;bottom:0; left:0;font-weight:400;font-family:Tahoma;}
    .content_footer{ width:100%; height:28px; float:left; color:#8c8c8c; line-height:28px;}
    .lis-list-pro{width: 100%}
    .lis-menu-left{width: 100%;padding: 0px}
    .slde{width: 20%;float: left}
    .slde .side_title{margin-top: 0px}
    .side_title{width: 99%}
    .content_footer p {text-align: center}
    .end_clothes1,.end_clothes2,.end_clothes3,.end_clothes4{text-align: left;}
    .horizontal ul{width: 100%}
    .main_home{ width:100%; float:left; }
    .slideshow1{ width:100%; height:250px;  float:left; position:relative; margin:0 0 10px 0;/*background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);*/ }
    .nivoSlider{position:relative;width:100%;height:250px; overflow:hidden;z-index:5;}
    .nivoSlider img{position:absolute;top:0;left:0;max-width:none; width:100%;height:250px;}
    .nivo-main-image{display:block!important;width:100% !important; height:250px;}
    .theme-default .nivoSlider img{display:none; width:100%; height:250px;}
}
@media (max-width: 1024px) and (min-width: 800px) {
    .lis-product-item{width: 25%}
    .table-intro{width: 38%}
    .img-intro{width: 58%}
    .detail_product_inactive .detail_product_center{padding: 0px 8px;margin-right:0px}

}
@media (max-width: 1024px) and (min-width: 768px) {
    .logo img{height: 70px}
    .navbar-ex1-collapse{padding: 0px}
    .nav-lis{margin-top: 40px}
    .lis-nav{margin: 0px}
    .lis-nav li a{font-size: 13px}

}
@media (max-width: 767px){
    .box_center1{margin-left: 0px;padding: 0px 15px}
    .listPage{margin-right: 0px;margin-top: 0px}
}
@media (max-width: 767px) and (min-width: 668px) {
    .logo img{height: 70px}
    .navbar-ex1-collapse{padding: 0px}
    .nav-lis{margin-top: 40px}
    .show_search{display: none}
    .ite-pro-home{width: 50%}
    .lis-nav{margin: 0px}
    .lis-nav li a{font-size: 13px}

}
@media (max-width: 667px){
}
@media (max-width: 667px) and (min-width: 435px){
    .ite-pro-home{width: 50%}
    .show_search{display: block}
    .show_search .list-mid-top{display: block !important;z-index: 10}
    .language{float:left; color:#8c8c8c; position:inherit; width:300px;}
    .language a{ color:#8c8c8c; text-transform:uppercase; padding:0 5px;}
    .dropdown-menu{float: left !important;background: #009688 !important;;z-index: 9999;color: #fff;}
    .dropdown-menu li a{color: #fff}
    .menu-xs{overflow-x: scroll}
}
@media (max-width: 773px) and (min-width: 731px) {
    .page{padding: 0px 15px}
}
@media (max-width: 773px) and (min-width: 600px) {
    .lis-product-item{width: 33.333333%}

}
@media (max-width: 667px){
    .banner img {width: 99%;height: 160px;}
    .list-mid-top{display: none}
    .logo {width: 100%;border-bottom: 2px solid #F44336;height: 164px;left: 0px}
    .logo img {width: 80%;height: 130px;}
    .show-menu-pra{display: block !important;width: 10%;float: left;font-size: 30px;}
    .show-menu-left{display: block !important;width: 10%;float: left;font-size: 30px;margin-right: 20px}
    .menu-xs{position: fixed;width: 100%;height: 100%;z-index: 999999999;background: #f2f2f2;display: none;top:0px}
    .menu12{min-height: 40px;float: left;border-bottom: none}
    .menu12 li{width: 100%;float: left;height: 40px;border-bottom: thin solid #F44336}
    .menu_show-pa{display: block !important;}
    #close_menu_left i,#close_menu i{font-size: 30px;color: #F44336;margin-top: 15px;margin-bottom: 15px;float: left;}
    .nav-lis{float: left}
    .lis-menu-left{position: fixed;width: 100%;height: 100%;background: #f2f2f2;z-index: 999999999;top:0px;padding: 0px 15px;display: none}
    .lis-menu-left img{width: 25%;float: left;height: 40px}
    .slde{width: 100%;text-align: left}
    .show-menu-left{display: block !important;width: 10%;float: right;font-size: 30px;}
    .lis-product-item{width: 50%;height: 420px}
    .lis-product-item div{width: 100%;}
    .lis-product-item .home_item{width: 99%;margin: 0px;min-height: 400px}
    .lis-product-item .home_img{width: 100%;margin: 0px;box-sizing: border-box}
    .lis-product-item a{width: 100%;margin: 0px}
    .lis-product-item img{width: 100%;margin: 0px}
    .sold_out{width: 100%}
    .main_panel{margin: 0px;padding: 0px 15px}
    .home_name{font-size: 11px}
    .end_clothes0{padding: 0px 15px}
    .slideshow1{ width:100%; height:350px;  float:left; position:relative; margin:0 0 10px 0;/*background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);*/ }
    .nivoSlider{position:relative;width:100%;height:350px; overflow:hidden;z-index:5;}
    .nivoSlider img{position:absolute;top:0;left:0;max-width:none; width:100%;height:350px;}
    .nivo-main-image{display:block!important;width:100% !important; height:350px;}
    .theme-default .nivoSlider img{display:none; width:100%; height:350px;}
    .menu_item{width: 100%;border-bottom: thin dotted #333}
}
@media (max-width: 600px){
    .show_search{display: block}
    .show_search .list-mid-top{display: block !important;z-index: 10}
    .language{float:left; color:#8c8c8c; position:inherit; width:300px;}
    .language a{ color:#8c8c8c; text-transform:uppercase; padding:0 5px;}
    .dropdown-menu{float: left !important;background: #009688 !important;;z-index: 9999;color: #fff;}
    .dropdown-menu li a{color: #fff}
}
@media (max-width: 599px) and (min-width: 320px) {
    .lis-product-item{width: 50%}
    .box_center_title1{min-height: 50px;float: left}
    .select-dk{width: 100%;height: 31px;}
    .slideshow1{ width:100%; height:250px;  float:left; position:relative; margin:0 0 10px 0;/*background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);*/ }
    .nivoSlider{position:relative;width:100%;height:250px; overflow:hidden;z-index:5;}
    .nivoSlider img{position:absolute;top:0;left:0;max-width:none; width:100%;height:250px;}
    .nivo-main-image{display:block!important;width:100% !important; height:250px;}
    .theme-default .nivoSlider img{display:none; width:100%; height:250px;}
    .home_img{height: 237px}
    .lis-product-item,.lis-product-item .home_item{height: 340px}

}
@media (max-width: 320px) and (min-width: 240px) {
    .box_center_title1{min-height: 50px;float: left}
    .select-dk{width: 100%;height: 31px;}

}