.cse .gsc-control-cse, .gsc-control-cse {
    width: 0px; height:30px; padding:0;
}
.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
    width: 400px;background:none;
}
.cse .gsc-branding, .gsc-branding {
    display: none;background:none;
}
.cse .gsc-control-cse div, .gsc-control-cse div {
}
.cse .gsc-control-cse, .gsc-control-cse {
    background-color:none;
    border:none;
}
.cse .gsc-control-cse:after, .gsc-control-cse:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; background:none;
}
.cse .gsc-resultsHeader, .gsc-resultsHeader {
}
table.gsc-search-box td.gsc-input {
    padding-right: 24px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 12px;
}
input.gsc-input {
    border: 1px solid #D9D9D9;
    font-size: 16px;
    padding: 4px 9px;
    width: 99%;
}
.gsc-input-box {
    background: #fff;
    border: 1px solid #D9D9D9;
    height: 25px;
}
.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    outline: medium none;
}
.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}
.cse input.gsc-search-button, input.gsc-search-button {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    min-width: 54px;
    padding: 0 8px;
}
.cse input.gsc-search-button:hover, input.gsc-search-button:hover {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border-color: #2F5BB7;
}
.cse input.gsc-search-button:focus, input.gsc-search-button:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    height: 13px;
    margin-top: 2px;
    min-width: 13px;
    padding: 6px 27px;
    width: 13px;
}
.gsc-refinementHeader {
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}
.gsc-refinementHeader.gsc-refinementhActive {
    color: #DD4B39;
    text-decoration: none;
}
.gsc-refinementHeader.gsc-refinementhInactive {
    cursor: pointer;
    text-decoration: none;
}
.gsc-refinementHeader.gsc-refinementhInactive > span:hover {
    text-decoration: underline;
}
.gsc-refinementhActive > span {
    border-bottom: 3px solid;
    padding-bottom: 2px;
}
.gsc-refinementsArea {
    margin-top: 0;
    padding-bottom: 4px;
    padding-top: 10px;
}
.gsc-tabsArea {
    font-size: 11px;
}
.gsc-tabsArea > .gsc-tabHeader {
    height: 27px;
}
.gsc-tabsArea > div {
    height: 30px;
    overflow: auto;
}
.gsc-tabsArea .gs-spacer {
    display: none;
}
.gsc-tabsArea .gs-spacer-opera {
    display: none;
}
.gsc-tabsArea {
    border-bottom: 1px solid #CCCCCC;
    height: 29px;
    margin-bottom: 0;
    margin-top: 12px;
}
.gsc-tabHeader {
    display: inline-block;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-right: 0;
    margin-top: 0;
    min-width: 54px;
    padding: 0 8px 1px;
    text-align: center;
}
.gsc-tabHeader.gsc-tabhActive {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #202020;
}
.gsc-tabHeader.gsc-tabhInactive {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    color: #666666;
}
.gsc-imageResult-column, .gsc-imageResult-classic {
    border: 1px solid #FFFFFF;
    margin-bottom: 1em;
    padding: 0.25em;
}
.gsc-webResult.gsc-result {
    border: 1px solid #FFFFFF;
    margin-bottom: 0;
    padding: 0.25em;
}
.cse .gsc-webResult.gsc-result {
    border: 1px solid #FFFFFF;
    margin-bottom: 0;
}
.gsc-webResult .gsc-result {
    padding: 10px 0;
}
.cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
    border: 1px solid #FFFFFF;
}
.gs-web-image-box, .gs-promotion-image-box {
    padding: 2px 0;
}
.gs-promotion-image-box img.gs-promotion-image {
    max-width: 50px;
}
.gs-promotion-image-box img.gs-promotion-image, .gs-promotion-image-box {
    width: 50px;
}
.gs-web-image-box img.gs-image {
    max-height: 70px;
    max-width: 70px;
}
.gs-web-image-box-landscape img.gs-image {
    max-height: 50px;
    max-width: 70px;
}
.gs-web-image-box-portrait img.gs-image {
    max-height: 120px;
    max-width: 50px;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    width: 80px;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
    height: 50px;
    overflow: hidden;
    width: 60px;
}
.gs-web-image-box {
    text-align: inherit;
}
.gs-promotion-image-box img.gs-promotion-image {
    border: 1px solid #EBEBEB;
}
.cse .gsc-webResult.gsc-result.gsc-promotion, .gsc-webResult.gsc-result.gsc-promotion {
    background-color: #F6F6F6;
    margin-bottom: 10px;
    margin-top: 5px;
}
.gsc-result-info {
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px 8px 10px;
}
.gs-promotion-text-cell .gs-visibleUrl, .gs-promotion-text-cell .gs-snippet {
    font-size: 13px;
}
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 8px;
    padding-right: 8px;
}
.gs-promotion-table {
    margin-left: 8px;
    margin-right: 8px;
}
.gs-promotion table {
    padding-left: 8px;
    padding-right: 8px;
}
table.gs-promotion-table-snippet-with-image {
    padding-left: 0;
    padding-right: 0;
}
.gs-promotion-text-cell {
    margin-left: 8px;
    margin-right: 8px;
}
.gs-promotion-text-cell-with-image {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}
.cse .gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link, .cse .gs-promotion a.gs-title:link *, .gs-promotion a.gs-title:link *, .cse .gs-promotion .gs-snippet a:link, .gs-promotion .gs-snippet a:link {
    color: #1155CC;
}
.cse .gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited, .cse .gs-promotion a.gs-title:visited *, .gs-promotion a.gs-title:visited *, .cse .gs-promotion .gs-snippet a:visited, .gs-promotion .gs-snippet a:visited {
    color: #1155CC;
}
.cse .gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover, .cse .gs-promotion a.gs-title:hover *, .gs-promotion a.gs-title:hover *, .cse .gs-promotion .gs-snippet a:hover, .gs-promotion .gs-snippet a:hover {
    color: #1155CC;
}
.cse .gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active, .cse .gs-promotion a.gs-title:active *, .gs-promotion a.gs-title:active *, .cse .gs-promotion .gs-snippet a:active, .gs-promotion .gs-snippet a:active {
    color: #1155CC;
}
.cse .gs-promotion .gs-snippet, .gs-promotion .gs-snippet, .cse .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right, .cse .gs-promotion .gs-title .gs-promotion-title-right *, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #000000;
}
.cse .gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl {
    color: #009933;
}
.gsc-completion-selected {
    background: none repeat scroll 0 0 #EEEEEE;
}
.gsc-completion-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: #D9D9D9 #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,sans-serif;
    font-size: 16px;
    margin: 0;
}
.gsc-completion-title {
    color: #1155CC;
}
.gsc-completion-snippet {
    color: #000000;
}
.gs-webResult div.gs-visibleUrl-short, .gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long {
    display: block;
}
.gsc-url-top {
    display: block;
}
.gsc-url-bottom {
    display: none;
}
.gsc-thumbnail-left {
    display: none;
}
.gsc-thumbnail-inside {
    display: block;
}
.gsc-result .gs-title {
    height: 1.2em;
}
.gs-result .gs-title, .gs-result .gs-title * {
    color: #1155CC;
}
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
    color: #009933;
    padding-bottom: 2px;
    text-decoration: none;
}
.gsc-results .gsc-cursor-box {
    margin: 10px;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    text-decoration: none;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
    text-decoration: underline;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: #DD4B39;
    text-decoration: none;
}
.gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em {
    color: #333333;
}
.gsc-control-cse-zh_CN .gs-snippet b, .gsc-control-cse-zh_CN .gs-promotion em, .gsc-control-cse-zh_TW .gs-snippet b, .gsc-control-cse-zh_TW .gs-promotion em {
    color: #CC0033;
}
.gsc-snippet-metadata, .gsc-role, .gsc-tel, .gsc-org, .gsc-location, .gsc-reviewer, .gsc-author {
    color: #666666;
}
.gsc-wrapper.gsc-thinWrapper {
    border-right: 1px solid #E9E9E9;
}
.gs-spelling a {
    color: #1155CC;
}
.gs-spelling {
    color: #333333;
    padding-left: 7px;
    padding-right: 7px;
}
.gs-snippet {
    margin-top: 1px;
}
div.gsc-clear-button {
    background-image: url("//www.google.com/uds/css/v2/clear.png");
}
div.gsc-clear-button:hover {
    background-image: url("//www.google.com/uds/css/v2/clear-hover.png");
}
.gsc-preview-reviews ul {
    padding-left: 0;
    padding-right: 0;
}
.gsc-completion-container .gsc-completion-icon-cell {
    height: 42px;
    padding-right: 10px;
    width: 42px;
}
td.gsc-branding-text, td.gcsc-branding-text {
    color: #666666;
}
.gcsc-branding {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.gsc-adBlock {
    padding-bottom: 5px;
}
.gsc-table-cell-snippet-close, .gsc-table-cell-snippet-open {
    padding-left: 0;
    padding-right: 0;
}
.gsc-selected-option-container {
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(center top , whiteSmoke, #F1F1F1);
}
