/* CSS Document */
/* Set value default for tag */
html, body, div,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img,
dl, dt, dd, ol, ul, li,
fieldset, form, label{margin: 0;padding: 0;	border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;font-weight:normal; text-transform:none; text-indent:0; line-height:20px;}
body  { font-size:12px;color:#704b3a; font-family:Tahoma; background:#fff;}
ul, ol {list-style: none;}
a{text-decoration:none;}
.clr{clear:both}
.div_general{width:100%; float:left;}
.container {width:1000px;margin:0 auto;	padding:0; }
.page { width:1000px;text-align:left;}
.top{width:100%; height:130px; margin:0;}
.top_content{width:100%; margin:auto; height:165px; background:#fff; }
.top_content_main{width:1000px;border:none;}
#top {width: 50px; height: 50px; float:right;position: fixed; bottom: 10px; right: 75px;text-indent: -99999px;cursor: pointer;
background: url(/view/images/up.png) no-repeat 0 0;}
.popup{background:#333;width:100%;height:100%;position:fixed;opacity:0.9;display:block;z-index:999999;}
.content_popup{ width:540px; height:450px; position:relative; top:55px; margin:auto;}
.close{width:100px; height:500px; position:absolute; top:100px; left:300px; }

.banner {width:1000px;height:140px;position:relative;float:left;}
.logo{ position:absolute; left:5px; top:0; width:437px; height:172px; z-index:9;}
.ground_menu{ width:100%; height:53px;float:left; background:url(../images/background/bg_menu.jpg);}
.menu12 {width:1000px; height:40px; border-bottom:2px solid #000;font-size:12px; position:absolute; bottom:0; left:0;font-weight:400;font-family:Tahoma;}
.menu_item {float:right; height:40px; color:#292929;line-height:40px;font-size:14px; float:left;font-weight:400; padding:0 25px 0 20px; position:relative; z-index:15;margin-right:5px; font-size:15px; text-transform:uppercase;  }
.menu_active {height:40px; line-height:40px;  font-size:15px; text-transform:uppercase;  float:left; color:#292929; text-decoration:underline;font-weight:400;padding:0 25px 0 20px;z-index:15;position:relative; margin-right:5px;}
.menu_item1 {float:right; height:28px; color:#1B83C2;line-height:28px;font-size:14px; float:left;font-weight:400; padding:0 8px; position:relative; z-index:15;margin-right:5px; font-size:13px; }
.menu_active1 {height:25px; line-height:25px; font-size:13px; background:#1B83C2; float:left; color:#fff;font-weight:400;padding:0 8px;z-index:15;position:relative; }
.border_menu{width:3px; height:53px; float:left;background:url(../images/background/border_menu.jpg) center no-repeat;} 
.share{ width:210px; height:26px; float:left; z-index:10; position:absolute; top:85px; right:140px;}
.addthis_toolbox addthis_default_style a {float: left;width:85px;}
.addthis_toolbox addthis_default_style a.addthis_button_tweet,
.addthis_toolbox.addthis_pill_combo a.addthis_counter { margin-top: -2px;}
.addthis_toolbox addthis_default_style .at15t_compact {margin-right: 4px;  float: left;}

.sub_menu {width:auto; height:20px; position:absolute; right:0px; top:5px;}
.sub_menu_ite {float:left;width:400px;margin-left:330px; height:32px; line-height:32px;}
.sub_menu_ite a {color:#000; font-size:13px;}

.language{float:left; color:#8c8c8c; position:absolute; top:8px; right:0px; width:auto;}
.language a{ color:#8c8c8c; text-transform:uppercase; padding:0 5px;}
.select_lang {width:auto; height:24px; position:absolute; right:5px; bottom:3px;}
#lsd-container{height:24px; float:left;}
#lsd-container li{background-color: #be8d48;border-radius:3px;color:#fff;cursor:pointer;height: 12px;margin: 0 0 1px;padding: 3px 5px 6px 6px;position: relative;text-align: right;width:55px}
#lsd-container li.lsd-active{background: url(../images/icon/icon-lang.jpg) no-repeat 7px center #be8d48}
#lsd-container img{margin-bottom:-1px}
#lsd-container li.lsd-active a{color:#fff}

.box_information {float:left; width:1000px; height:32px; position:relative; z-index:9;}
.form_seach{width:216px;height:31px;float:right;border:none;  position:absolute; top:40px; right:120px; }
.frm_search{width:225px;height:24px;float:left; background:#fff; border:1px solid #dedede;border-radius:10px;  margin-bottom:5px;background:none;  }
.inova{	height:22px;  width:195px;border-radius:3px 0 0px 3px; padding-left:2px; border-radius:10px; line-height:26px; border:none; background:#fff; color:#b2b4c3; float:left; }
.bt_search{background:#fff url(../images/background/bt_tk1.png) center no-repeat;width:26px; height:19px;float:left;cursor:pointer;border:none; font-weight:bold;border-radius:0 10px 10px 0;}
.cart_menu{float:left; width:320px; height:23px; position:absolute; top:4px; right:5px; background:url(../images/background/cart_menu.png) left center no-repeat; padding-left:10px;}
.cart_header {float:left; width:200px;  height:26px; margin:0 15px 0 0; background:url(../images/background/bg_cart.png) left center no-repeat; line-height:2px; padding-top:20px;}
.cart_detail {float:left; width:161px; height:23px; background:url(../images/background/cart_detail.png) left center no-repeat; line-height:26px;text-indent:35px;}

.main_home{ width:1000px; float:left; }
.new_home{ width:351px; height:auto; margin:0 8px 0 0; float:left;}
.news_home_title{width:351px; height:25px; background:url(../images/background/news_home_title.jpg) left center no-repeat; color:#1b83c2; line-height:25px; text-transform:uppercase; text-indent:12px;float:left;}
.news_home_content{ width:351px;  height:auto;}
.line_new_home{ width:280px; height:55px; float:left;}
.line_info{ width:310px; float:left; margin-bottom:8px;}
.line_info_title{width:345px; height:25px; background:url(../images/background/news_home_title.jpg) left center no-repeat; color:#3c3c3c; line-height:25px; text-transform:uppercase; text-indent:12px;float:left;}
.line_info .date{ background:#1b83c2; color:#fff; width:90px; margin:10px 0; text-align:center;}
.line_info .name a{ color:#343434; font-weight:700; }
.line_info .img {width:208px; height:146px; display:block; background:url(../images/background/listItem.jpg) no-repeat; margin:10px 10px 20px 40px;}
.line_info .sum{ color:#767676; margin:10px 0; text-align:justify; font-family:Arial, Helvetica, sans-serif;}
.line_info .view { background:url(../images/background/line_info.png) left center no-repeat; text-indent:14px;}
.line_info .view a{ color:#1b83c2; text-decoration:underline;}
.time_home{ width:280px; height:auto; float:left; color:#626262;}
.appointment{ width:264px; height:49px; font-size:13px; padding:8px 0 0 15px; float:left; background:url(../images/background/register.png); color:#fff; text-align:center; margin-top:40px;}
.time_right{ width:220px; height:auto;padding:0 0 8px 0; float:left; color:#fff; background:#1B83C2;}
.time_rightC{ width:210px; height:auto;padding:8px 0 25px 0; margin:8px 0 0 2px;  float:left; color:#fff;}
.appointmentR{ width:185px; height:49px; font-size:13px; padding:8px 0 0 35px; float:left; background:url(../images/background/register1.png); color:#fff; text-align:center; margin-top:10px; }
.share_social{ width:330px; height:95px; float:left; margin:5px 100px 0 0;   color:#7f7f7f; font-size:13px; line-height:42px; text-align:right;}
.share_social a{ color:#fb0000;}
.contact_home{ width:1000px; height:50px; float:left;}
.video_item{ width:260px; text-align:center; line-height:18px; float:left; margin:0 0 30px 12px;}
.video_item a{ color:#5d89b9; font-weight:700;}
.blog_item{ width:175px; text-align:center; line-height:18px; float:left;}
.blog_item a{ color:#484848;}
.video_name{ /*background:url(../images/background/video.png) left center no-repeat; padding-left:35px;*/ width:260px; float:left; text-align:center;}
.box_letter{ width:220px; float:left; background:#f8f8f8; margin:8px 0 0 0; border-radius:8px; padding-bottom:20px;}
.letter_title{ width:220px; height:73px; color:#3c3c3c; font-size:14px; text-transform:uppercase; line-height:70px; text-indent:40px; background:url(../images/background/letter_title.png);}
.letter_name{ width:200px; float:left; margin:0 0 15px 10px; color:#767676; font-weight:700;}
.letter_sum{width:200px; float:left; margin:0 0 0 10px; color:#767676; font-weight:400; text-align:justify;}
.letter_view{ width:150px; float:left; margin:15px 0 0 10px; color:#1B83C2; background:url(../images/background/letter_view.png) right center no-repeat;}
.about_title{ width:280px; height:40px; float:left; background:url(../images/background/news_home_title.jpg) left center no-repeat; font-size:15px; text-transform:uppercase; color:#3a3a3a; line-height:40px; text-indent:15px;}
.about_item{ width:280px; height:162px; float:left;  margin:0 15px 10px 0; text-align:left; }
.about_item1{ width:343px; height:300px; float:left; text-align:center;margin:0 0 10px 0; }
.box_about2{ width:320px; height:auto; float:left; margin-left:10px; }
.box_about3{ width:380px; height:auto; float:left; }
.box_line_about{ width:950px; float:left; border-bottom:1px dotted #ABABAB; padding:10px 0 10px 0px; margin:0 0 10px 8px; position:relative;}
.line_about{ width:265px; height:25px; float:left; /*background:url(../images/background/line_about.png) left center no-repeat;*/ text-indent:15px; line-height:20px; color:#1b83c2; font-weight:700; cursor:pointer; margin:0 0 10px 50px; }
.welcome{ width:1000px; height:38px; line-height:38px; float:left; color:#f8484b; font-weight:700; border-bottom:1px solid #c1c1c1; text-transform:uppercase; font-size:14px; text-align:center;}
.welcome a{text-transform:uppercase; font-size:14px;color:#f8484b; font-weight:700;line-height:38px;}
.view_more{ width:106px; height:41px; float:left; color:#fff; background:url(../images/background/view_more.png) no-repeat; font-size:14px; text-align:center; line-height:41px; margin:20px 0 -20px 420px;}


#middle {width:1000px;float:left; margin:10px 0 10px 0;  position:relative;}
.left_panel{width:200px;float:left; margin:0 12px 0 5px;}
.main_panel{width:555px;float:left; margin-right:8px;	}
.right_panel {width:220px;float:left; margin-bottom:15px;}
.show_view{ width:166px; height:auto; float:left; box-shadow:1px 1px 1px 1px #ccc;}
.showview_title{width:171px; height:38px; position:relative; z-index:6; color:#fff; line-height:38px; text-transform:uppercase; text-align:center; float:left; background:url(../images/background/showview_title.png); }
.left_panel1{width:180px;float:left;	padding-right:3px; margin-left:4px;}
.right_panel1 {width:810px;float:left;}

/*--- Nivo Slider1 -----*/
.slideshow1{ width:1000px; height:600px;  float:left; position:relative; margin:0 0 10px 0;/*background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);*/ }
.slider{width:580px;height:250px;float:left;}
.theme-default .nivoSlider{background:url(images/loading.gif) no-repeat 50% 50%;margin-bottom:5px}
.theme-default .nivoSlider img{display:none; width:1000px; height:600px;}
.theme-default .nivoSlider a{border:0;display:block}
.theme-default .nivo-controlNav{text-align:left; width:30%;  position:absolute; bottom:-5px; left:450px;z-index:9;}
.theme-default .nivo-controlNav a{display:inline-block;width:20px;background:url(../images/background/bullets12.png) no-repeat;text-indent:-9999px;border:0; height:22px; z-index:99999999;}
.theme-default .nivo-controlNav a.active{background-position:0 -20px}
.theme-default .nivo-directionNav a{display:block;width:30px;height:30px;background:url(../images/background/arrows.png);text-indent:-9999px;border:0;opacity:0;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}
.theme-default:hover .nivo-directionNav a{opacity:1}
.theme-default a.nivo-nextNav{background-position:-30px 0;right:15px}
.theme-default a.nivo-prevNav{left:15px}
.theme-default .nivo-caption{font-family:Helvetica, Arial, sans-serif}
.theme-default .nivo-caption a{color:#fff;border-bottom:1px dotted #fff}
.theme-default .nivo-caption a:hover{color:#fff}
.theme-default .nivo-controlNav.nivo-thumbs-enabled{width:100%}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a{width:auto;height:225px;background:none;margin-bottom:5px}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img{display:block;width:120px;height:auto; z-index:5;}
.nivoSlider{position:relative;width:1000px;height:600px; overflow:hidden;z-index:5;}
.nivoSlider img{position:absolute;top:0;left:0;max-width:none; width:1000px;height:600px;}
.nivo-main-image{display:block!important;width:1000px !important; height:600px;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;z-index:6;display:none;margin:0;padding:0}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden}
.nivo-box img{display:block}
.nivo-caption{position:absolute;left:0;bottom:0;background:#000;color:#fff;width:100%;z-index:8;opacity:0.8;overflow:hidden;display:none;-moz-opacity:0.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px 10px}
.nivo-caption p{margin:0;padding:5px}
.nivo-caption a{display:inline!important}
.nivo-html-caption{display:none}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer}
.nivo-prevNav{left:0}
.nivo-nextNav{right:0}
.nivo-controlNav{text-align:center;padding:15px 0}
.nivo-controlNav a{cursor:pointer}
.nivo-controlNav a.active{font-weight:700}


/* --------------- BEGIN LEFT ---------------- */
.box_left {width:200px;float:left;margin-bottom:3px;}
.side_title {width:200px;height:40px;float:left;line-height:30px; font-weight: bold; color:#ff0000; text-align:center; background:url(../images/background/side_title.jpg) bottom no-repeat; font-size:16px;}
.side_content {width:226px;	float:left; padding:1px 0px; margin-top:2px;}	
		
.box_center { width:555px; float:left; margin:0 0 0 0;}
.box_center_title {float:left; width:545px; height:50px; line-height:20px; color:#6d86db;  text-transform:uppercase;position:relative;  padding-left:10px; }
.box_center_content {float: left; width:555px; padding:0px; margin-top:2px; border:0px dashed #704b3a; color:#5C5C5C; overflow:hidden;}
.title1{ width:284px; height:43px;background:url(../images/background/box_center_title.png) no-repeat; position:absolute; left:-10px; top:-12px;font-weight: bold; text-indent:15px; line-height:30px; }
.box_center_title1 {float:left; width:1000px; height:31px; line-height:21px; border-bottom:1px solid #c7c7c7; color:#d9b1ea;  text-transform:uppercase;position:relative;  }
.box_center_title1 a{ color:#6d86db; text-transform:uppercase;}
.box_center_content1 {float: left; width:1000px; padding:20px 0 0 0; margin-top:2px; border:0px dashed #704b3a; color:#5C5C5C; }

.partner_img{ width:66px; height:56px; float:left; margin:0 5px 0 0;  background:url(../images/background/partner_img.png);}
.counter{ width:216px; height:73px; padding:10px 0 0 10px; margin:20px 0 6px 0; float:left; background:url(../images/background/bg_counter.jpg);}
.line_counter{ width:206px; height:24px; float:left; }
.contact_name{ width:226px; height:auto; line-height:22px;float:left; color:#fa0000; font-weight:700; text-transform:uppercase; text-align:center;}
.line_address{ width:350px; height:50px; line-height:50px; float:left; color:#444; background:url(../images/background/line_contact.png) left 12px no-repeat; padding-left:30px; text-align:left;}
.line_address span{color:#4a97ce; font-weight:700;}
.line_phone{ width:206px; height:auto; line-height:50px; float:left; color:#444; background:url(../images/background/phone.png) left 13px no-repeat; padding-left:30px; text-align:left;}
.line_phone span{color:#4a97ce; font-weight:700;}
.line_email{ width:256px; height:auto; line-height:50px; float:left; color:#444; background:url(../images/background/mail.png) left 17px no-repeat; padding-left:40px;text-align:left;}
.line_email span{color:#4a97ce; font-weight:700;}


/*-----------tap detail-------------*/
.sick_item{ width:155px; height:20px;float:left; margin:5px 0; line-height:30px;  text-indent:20px; color:#1b83c2;  background:url(../images/background/product_active.png) left center no-repeat; }
.sick_item a{color:#1B83C2; font-weight:400;}
.sick_item a:hover{color:#FF0000; font-weight:700;}
.tab_detail_product{width:580px;height:34px;float:right;margin:-36px 0 0 0; position:absolute; top:0; left:-1px;}
.detail_product_active .detail_product_center {padding:0px 20px 1px 20px;height:34px;float:left;line-height:32px;background:#fff;color:#444;cursor:pointer;font-size:12px; margin:0 2px 0 0; text-transform:uppercase; border:1px solid #dcddde;border-bottom:none;}
.detail_product_inactive .detail_product_center {padding:0px 20px;height:34px;float:left;line-height:32px;background:#f4f4f4;color:#444; cursor:pointer;font-size:12px; text-transform:uppercase; border:1px solid #dcddde;border-bottom:none;margin-right:2px; }
.box_product_first{ width:300px; float:left; margin:0 5px 0 13px; text-align:justify; color:#5c5c5c; }
.box_product_first a{ color:#004b9e; font-weight:700; font-size:13px; margin:0 0 12px 0; float:left;  }
.new_summarise{text-align:justify; color:#454545; line-height:18px; float:left;}
.box_product_first span{ color:#929292; font-size:11px; display:block;}
.box_product_second{ width:410px; height:auto; float:left; margin:0 0 0 20px; padding:10px 0 0 0;}
.line_product{width:410px;float:left;background:url(../images/background/line_product.png) left 8px no-repeat;margin:0 0 0px 25px; line-height:16px;text-align:justify; color:#767676;}
.line_product a{ color:#0171ac; font-weight:700; display:block; margin:2px  0 5px 0; }
.services_home{ width:1000px; height:auto; float:left; }
.list_category_gallery {float: left; width:304px; height:260px;  position:relative;}
.list_category_galleryN{ width:100%; height:69px; float:left; color:#343434; font-size:14px; text-align:left; text-indent:12px; line-height:80px;background:url(../images/background/list_category_galleryN.png); margin:-20px 0 0 0; position:relative; z-index:5;}

.product_cat {float:left; width:180px; padding:5px 0 5px 20px; height:auto; line-height:18px; text-align:left; background:url(../images/background/product_cat.png) left 11px no-repeat;  cursor:pointer;}
.product_cat a {color:#0082c8; font-weight:400; font-size:13px;}
.product_sub {float:left; width:160px; padding:5px 0 0 15px;line-height:18px; height:auto;  text-align:left; overflow:hidden;background:url(../images/background/product_cat.png) left 11px no-repeat; margin-left:30px;}
.product_sub a {color:#0082c8; font-size:13px;}
.product_sub1 {float:left; width:141px; padding:5px 0 0 15px;line-height:18px; height:22px;  text-align:left; overflow:hidden;background:url(../images/background/product_cat.png) left 11px no-repeat; margin-left:43px;}
.product_sub1 a {color:#0082c8; font-size:13px;}
.box_child{width:160px;  float:left; margin-left:10px;}
.list_support_home {float:left; width:168xp; padding:0px 5px; margin-bottom:15px;}
.support_cat {float:left; width:168px; height:28px; line-height:32px; text-indent:35px; color:#fff; font-weight:bold; font-size:10px; overflow:hidden;}
.support_sub {float: left; width:100%; padding:5px 0px;; border-bottom:1px dotted #010101;}
.sp_sub_name {float:left; width:105px; font-size:10px; color:#010101;}
.sp_sub_img {float:right; width:60px; height:12px;}

.size_pro {float:left; width:158px; padding:1px 0px 1px 18px; background:url(../images/icon/icon.jpg) 5px 6px no-repeat;}
.size_pro a {color:#1e1e1e; font-weight:normal; font-size:11px;}
.color_select {float:left; width:16px; height:16px; margin:3px 0px 3px 6px; cursor:pointer; border:1px solid #999;}
.size_select {float:left; width:auto; height: auto; margin:5px; cursor:pointer;}
.size_select a {color:#1e1e1e; font-weight:normal; font-size:11px;}
/* --------------- END LEFT ---------------- */
/* -------- Product-home ------------ */
.box_saleoff{ width:635px; height:auto; float:left;}
.saleoff_title{ width:635px; height:36px; line-height:36px; color:#e51921; font-size:14px; font-weight:400; text-indent:10px; text-transform:uppercase;}
.saleoff_title a{ float:right; color:#DE4451; font-size:12px; text-decoration:underline;text-transform:none;}
.saleoff_content{width:635px; height:auto; float:left; padding:10px 0 0 0; background:url(../images/background/saleoff_content.jpg) top repeat-x; position:relative;}
.sale_item{width:198px; height:375px; padding:0px 0px; background:#fff; margin:0px 0 10px 0px; float:left; border:1px solid #bdbdbd; position:relative;}
.sale_price{ width:193px; float:left; background:#fff; margin:0 0 0 5px; border-radius:3px; color:#ff0000;}
.sale_price span{ color:#ff0000; font-size:12px;  margin:5px 0 0 6px;}
.sale_price del{ color:#4a4a4a; font-size:12px; margin:5px 0 0 6px;}
.sale_off{ width:49px; height:24px; position:absolute; top:-8px; right:-8px; background:url(../images/background/sale_off.png); color:#fff; text-align:center; padding-top:22px; z-index:7;}
.home_item{width:215px; height:400px;   margin:0 18px 32px 15px; float:left;  position:relative;}
.home_img{width:213px; height:315px; padding:0px 0px;  margin:0 9px 8px 2px; float:left;  position:relative; border:1px solid #efefef; }
.sold_out{ width:213px; height:35px; background:#c2d1fe; opacity:0.8; font-size:17px; color:#2a2929; line-height:35px; text-align:center; text-transform:uppercase; position:absolute; left:0; bottom:0;}
.sold_outT{ width:213px; height:24px; line-height:24px; float:left; }
.sold_outT font{text-transform:uppercase; font-size:11px;}
.home_name{ width:215px; height:25px; float:left; color:#696464; text-transform:uppercase; font-size:13px; font-weight:400; line-height:25px;  margin:0 0 2px 0; }
.home_name1{ width:155px; height:auto; float:left; font-weight:700; color:#0082C8; font-size:13px; font-weight:700; line-height:17px;   padding-bottom:5px;  }
.home_img1{width:88px; height:120px;  margin:0 7px 15px 0; float:left;  position:relative; }
.home_price{ width:100%; height:20px; line-height:22px; float:left;  color:#696464;font-weight:700;}
.home_price del{ color:#a40e0f; float:right;}
.home_summarise{ width:155px; float:left; font-size:11px;line-height:15px; color:#696969;}
.home_price span{ color:red; font-weight:700; font-size:12px;  margin:-6px 0 0 1px;}
.home_price del{ color:#4a4a4a; font-size:12px; margin:3px 0 0 1px;font-weight:400;}
.home_detail{ width:105px; height:26px; background:url(../images/background/cart.png); color:#fff; line-height:26px; text-indent:8px;font-size:11px; font-weight:700; float:right; margin:5px 5px 0 0;}
.productH_title{ width:800px; height:50px; line-height:20px; color:#672201; font-size:14px; font-weight:400; background:url(../images/background/productH_title.png) bottom left no-repeat; position:relative; padding-left:20px; text-transform:uppercase;}
.productH_title a{color:#de4451; font-size:12px; text-decoration:underline; text-transform:none; float:right; margin-right:20px;}
.productC_title{ width:450px; height:50px; position:absolute; left:250px; top:0;}
.productC{ padding:0 15px; background:url(../images/background/productC.jpg) right center no-repeat; float:left;  }
.productC a{ color:#7d7d7d; text-decoration:none; margin:0; text-transform:none;}
.productC a:hover{color:#de4451;}
.productH_content{width:815px; height:auto; float:left; padding:0 0 15px 5px; margin-bottom:10px; background:url(../images/background/productH_content.png) bottom no-repeat;}
.productImage{ width:200px; height:338px; float:left; background:url(../images/background/productImage.png);}
.box_viewmore{ width:810px; height:350px; padding:0 0 0 10px; margin-bottom:10px; float:left; background:url(../images/background/box_viewmore.png);}
.viewmore_title{ width:790px; height:40px; line-height:36px; color:#672201; font-size:14px; font-weight:400; padding-left:10px;background:url(../images/background/viewmore_title.png) 5px bottom no-repeat;border-top:1px solid #979797; text-transform:uppercase;}
.viewmore_title a{ float:right; color:#DE4451; font-size:12px; text-decoration:underline; text-transform:none; margin-right:10px;}
.viewmore_content{width:820px; height:auto; float:left; padding:3px 0 0 0;}
.viewmore_item{width:151px; height:285px;background:#fff; margin:0 0 5px 6px; float:left; border:1px solid #bdbdbd; position:relative;}
.viewmore_name{ width:147px; height:18px; float:left; color:#672201; font-size:10px; font-weight:400; line-height:18px; text-align:center; margin:0 0 2px 0; text-transform:uppercase;}
.viewmore_price{ width:145px; float:left;  margin:0 0 0 5px; border-radius:3px; color:#00c0f7;}
.viewmore_price span{ color:#ff0000; font-size:10px;  margin:0 0 0 -2px;line-height:30px;}
.viewmore_price del{ color:#4a4a4a; font-size:9px; margin:0 0 0 -2px; float:left;}
.viewmore_detail{ width:84px; height:21px; background:url(../images/background/viewmore_detail.png); color:#fff; line-height:21px; text-indent:5px;font-size:10px; font-weight:700; float:right; margin:5px 2px 0 0;}
.box_brand_Title{width:800px; height:30px; float:left; margin:10px 0 0 8px; line-height:30px; text-indent:10px; color:#672201; font-size:14px; text-transform:uppercase; }
.box_brand{ width:800px; height:135px; margin:0 0 10px 8px; float:left; border:1px solid #ccc;}
/* --------------- BEGIN CENTER ---------------- */
.listProduct {float:left; width:262px; border:1px solid #704b3a; margin:0px 3px 5px 3px; padding-bottom:10px;}
.listProductName {float:left; width:100%; text-align:center; padding-top:5px;}
.listProductName a {color:#704b3a; font-weight:bold;}
.listProductCode {float:left; width:120px; padding:10px 0px 0px 10px; color:#704b3a; font-weight:bold;}
.listProductCode span {color:#704b3a;}
.listProductCart {float: left; width:100px; padding:10px 0px 0px 20px; background:url(../images/icon/icon-cart.png) 90px 0px no-repeat;}
.listProductCart a {color:#704b3a;}
.listPage {width:100%; height:auto; float:right; text-align:center; padding:5px 0px; margin-top:5px;}

.ct_le {float:left; width:500px;}
.cat_link{width:auto; float:left; height:20px;}
.cat_link a{font-weight:normal; color:#704b3a; font-size:11px; text-transform:none;}
.cat_link a:hover{color:#1092cf;}
.ct_ri {float:right; text-align:right; width:300px; padding-left:10px;} 

.product_center_title {float:left; width:810px; height:40px; background:url(../images/background/product_center_title.jpg) line-height:34px; color:#920001;}
.box_product_title {float:left; width:810px;}
.pro_title_left {float:left;}
.pro_title_cen {float:left; padding:2px 0px 0px 10px;}
.pro_title_right {float:right; text-align:right; width:22%;}
.pro_title_right .no_t1 {float:left; color:#5a5a5a; font-size:11px; padding:3px;}
.pro_title_right .no_t2 {float:left; color:#5a5a5a; font-size:11px; padding:3px;}
.item {float:left; margin-left:5px; padding:3px; background-color:#fff; cursor:pointer; color:#704b3a; font-size:11px}
.active {float:left; margin-left:5px; padding:3px; background-color:#704b3a; cursor:pointer; color:#fff; font-size:11px}

.main_img {float:left; width:264px;}
.detail_photo {float:left; position:relative; width:525px;}
.border_main_img {float:left; width:262px; height:11px; background:url(../images/background/border_main_img.jpg) no-repeat;}
.multi_img {float:left; width:70px; padding-left:5px;}
.multi_img_pt {float:left; border:1px solid #704b3a; width:69px; height:94px; margin-bottom:3px}
.detai_pro_info {float:left; width:460px; padding-left:15px;}
.dt_pro_name {float:left; width:100%; color:#000;  font-size:21px; padding-bottom:10px; }
.dt_pro_info{float:left; width:260px; padding-top:20px; color:#545454;}
.dt_pro_code {float:left; width:100%; padding-top:20px; color:#5688bc;}
.dt_pro_price {float:left; width:100%; padding:10px 0; color:#696464; font-weight:700; border-bottom:1px dotted #ccc}
.dt_pro_price span { color:#696464;}
.dt_pro_price del{ margin-left:30px;}
.dt_pro_code span {color:#545454; font-weight:bold}
.dt_pro_number {float:left; width:100%; padding-top:20px; color:#545454; font-weight:bold; font-size:16px; padding-bottom:10px;border-bottom:1px dotted #704b3a}
.dt_box_select {float:left; width:220px; padding-top:20px;}
.dt_sec_size {float:left; width:100%; color:#959595; text-transform:uppercase; padding-top:5px; line-height:30px;}
.dt_sec_size span{float:left;}
#size_all{ width:200px; float:left; margin-left:10px;}
.sl_text {color:#737373; width:25px; height:32px; float:left; font-size:11px; border:1px solid #d0d0d0; text-align:center; line-height:32px; margin-right:5px;cursor:pointer; position:relative;}
.sl_cross{ width:25px; height:32px; position:absolute; top:1px; left:1px; background:url(../images/background/sold_out.png);}
.sl_textA {color:#fff; width:25px; height:32px; float:left;  background:#313131; font-size:11px; border:1px solid #d0d0d0;text-align:center; line-height:32px;margin-right:5px; cursor:pointer;}
.item_stock{width:365px; text-align:left; text-indent:10px; float:left; border:none; font-size:12px;height:25px; margin-top:6px; line-height:25px;}
.item_stock:hover{ background:none;}
.add_quantity {float:left; width:46px; height:25px; border:1px solid #ccc;  margin:-10px 0 0 30px;}
.number {float:left; padding:4px 1px 4px 3px; width:20px;}
.click_arrow {float:right; padding:1px 0 1px 1px;}
.sub_qty{width:16px; height:12px; background:url(../images/icon/sub_qty.jpg) no-repeat; cursor:pointer;}
.add_qty{width:16px; height:12px; background:url(../images/icon/add_qty.jpg) no-repeat; cursor:pointer;}
.dt_add_cart {float:left; width:156px; height:28px; line-height:28px; text-indent:42px; background:#000; margin-top:21px; margin-left:5px; cursor:pointer}
.share2{ width:580px; height:26px; float:left; margin-top:15px;  }
.dt_add_cart span {color:#fff; cursor:pointer;}
.dt_add_cart1 {float:left; width:110px; height:39px; line-height:25px; text-indent:24px; background:url(../images/background/btndatmua.jpg) no-repeat; margin-top:27px; margin-left:5px; cursor:pointer}
.dt_add_cart1 span {color:#fff; font-weight:bold; cursor:pointer;}
.box_link {float:left; width:500px; margin-top:20px; padding-top:5px;}
.dt_pro_sum {float:left;width:100%;padding-top:10px; margin:10px 0 0 0;color:#5688bc;font-size:12px;font-weight:700;}
.dt_pro_sum span{font-size:13px;font-weight:400; color:#7a7a7a; float:left; padding:0 0 0 80px; margin:-20px 0 0 0;}
.like_facebook {float:left; width:50px; padding:10px 0; }
.dt_add_this {float:right; text-align:right; width:250px; margin-top:12px;}
.dt_pro_content {float:left; width:748px; margin:10px 0 10px 0; border:1px solid #ccc;}
.dt_pro_ct_title {float:left; width:758px; height:30px; line-height:30px; color:#545454; font-weight:bold; text-transform:uppercase; text-indent:20px; border-bottom:1px dotted #704b3a}
.dt_pro_text {float:left; width:738px; padding:10px 10px; color:#3b3a3a;}

.other_information {float:left; width:798px; border:1px solid #704b3a; border-top:none; padding:10px 5px;}
.reg_info  {float:left; width:395px;}
.reg_info_title {float:left; width:395px; height:30px; background:url(../images/icon/reg_info.jpg) 0px 0px no-repeat; color:#545454; text-transform:uppercase; text-indent:25px;}
.reg_info_ct {float:left; width:375px; height:130px; padding:10px 10px; background-color:#f1f1f1; border-radius:10px; overflow:hidden;}
.guide_info  {float:left; width:370px; padding:10px 0 0 8px; margin-top:10px;}
.guide_info_title {float:left; width:370px; height:30px; background:url(../images/icon/guide_info.jpg) 0px 0px no-repeat; color:#545454; text-transform:uppercase; text-indent:25px;}
.guide_info_ct {float:left; width:350px; height:100px; padding:10px 10px; line-height:25px; background-color:#f1f1f1; border-radius:10px; overflow:hidden;}

.info_form {float:left; width:298px; color:#777; text-transform:uppercase; margin:15px 0 20px 0; text-align:left; font-size:11px;}
.msg_info {float:left; width:298px; text-align:center; color:red; font-weight:bold; font-size:11px;}
.info_form .email {float:left; width:100%; padding-top:5px;}
.email_text {width:205px; height:20px; float:left; line-height:32px; border:1px solid #9e9e9e; font-size:11px; color:#777;  text-indent:15px;}
.form_text {width:302px;  float:left;}
.reg_submit { width:93px; height:24px; color:#fff; background:#9db6fe;float:left; border:none; padding-right:5px; line-height:24px; }

.listMod {float:left; width:98%; margin:0px 10px 15px 10px; border-bottom:1px dashed #ababab; padding-bottom:10px;}
.listMod .img {float:left; width:215px; height:150px; border:2px solid #e1e1e1; margin-right:20px;}
.listMod .photo {float:left; width:215px; height:150px; }
.listMod .info {float:left; width:300px; position:relative;}
.listMod .name {float:left; width:100%; margin-bottom:15px;}
.listMod .name a {color:#343434;  font-size:14px;}
.listMod .date {float:left; width:86px; padding:3px 0; margin-right:15px; color:#fff; text-align:center;  background:#1b83c2;}
.listMod .sum {float:left; width:100%; height:155px; color:#767676; margin-top:-5px; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:justify;}
.listMod .view {float:right; margin-top:8px; width:81px; height:20px; text-align:center;line-height:20px;background: url(../images/background/line_info.png) left center no-repeat; position:absolute; left:0; bottom:5px;}
.listMod .view a {color:#1B83C2; }

.detailMod {float:left; width:100%; margin:0;  }
.detailMod .img {float:left; width:208px; height:146px; background:url(../images/background/listItem.jpg) no-repeat; margin:10px 10px;}
.detailMod .photo {float:left; width:188px; height:126px; padding:10px;}
.detailMod .info {float:left; width:100%; margin:10px 0 0 0;}
.detailMod .name {float:left; width:100%;color:#004B9E; font-weight:bold; font-size:14px;}
.detailMod .date {float:left; width:86px; padding:3px 0; margin-right:15px; color:#fff; text-align:center;  background:#1b83c2;}
.detailMod .sum {float:left; width:98%; color:#666; font-weight:700; padding-bottom:10px; font-size:13px; text-align:justify; font-family:Arial, Helvetica, sans-serif;}
.detailMod .content {float:left; width:100%; padding:10px 0; color:#000;}

.other_item {float:left; width:525px; padding:10px 10px; margin-top:10px; border-top:1px dashed #704b3a}
.other_item .title {float:left; width:100%; color:#704b3a; font-weight:bold;}
.other_item .name {float:left; width:715px; height:20px; line-height:20px; padding:0 0px 0 15px; background:url(../images/icon/icon_other.png) 5px 10px no-repeat;}
.other_item .name a {color:#004B9E; font-size:12px; text-transform:none;}
.other_item span {color:#b0b0b0; font-size:12px;}

.dtnews_back {float:right; padding-right:20px;}
.dtnews_back a {text-transform:none; color:#fff; font-weight:bold; font-size:11px;}
.dtnews_back a:hover { text-decoration:underline;}

/* --------------- End CENTER ---------------- */

	
/* --------------- Footer --------------- */	
.wrap_footer { width:1000px; height:100px; margin:auto; }
.border_menu_footer {float:left; width:2px; height:11px; background:url(../images/background/border_menu_footer.jpg) no-repeat; margin-top:26px;}
.add_this {float:right; position:absolute; bottom:5px; right:5px;}

.footer{width:1000px; height:210px; padding-top:20px; border-top:1px solid #000;border-bottom:1px solid #000;}
.menu_footer{width:180px; height:130px; float:left; text-align:left; margin:0 30px 0 0;}
.menu_footer a{ line-height:25px; display:block; color:#7f7d7d; text-transform:uppercase;}
.content_footer{ width:1000px; height:28px; float:left; color:#8c8c8c; line-height:28px;}
.navbar{width:500px;height:30px;text-align:center; position:relative;font-family:Tahoma;font-size:10px;color:#573122; padding:5px 0 0 0; float:right; }
.navbar ul{width:500;list-style-type:none;text-align:center;}
.navbar ul li{float:left; padding:9px 5px 0 5px;}
.navbar ul li a{text-decoration:none;color:#222;font-family:Tahoma;font-size:12px;font-weight:bold;padding:7px 8px 0 8px;}
.navbar ul li a:hover{color:#fff; background:url(../images/background/menu_actice.jpg);padding:5px 8px 5px 8px;border-radius:8px;}
/* --------------- End Footer --------------- */

/* --------------- BEGIN HEADER LOGIN --------------- */
.form_login ul.header_in_out_logged{float:right;height:30px;list-style:none;width:123px}
.form_login ul.header_in_out_logged li{float:left;height:23px;background:url(../images/background/login_line.jpg) no-repeat scroll right center transparent;line-height:12px;padding:7px 3px 0}
.li-last-child{background:none repeat scroll 0 0 transparent!important;border:medium none!important;padding-right:0!important}
.form_login ul.header_in_out_logged li a{color:#fff;cursor:pointer;font-size:11px}
#login-form{left:0;position:absolute;top:33px;width:230px;z-index:1000}
.info_cart_header{float:right;position:absolute;right:10px;top:2px;margin:0}
.info_cart_header a{line-height:26px;font-size:12px;color:#737373;font-weight:700;padding:0}
#count_cart_hover{position:absolute;right:0;top:30px;width:230px;z-index:9999}
#count_cart_hover .count_top{height:10px;background:url(../images/icon/count_cart_hover_top.png) no-repeat}
#count_cart_hover .count_cart_hover_bg{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #FFF;border-image:none;border-right:1px solid #CDCDCD;border-color:0 #CDCDCD #CDCDCD;border-style:none solid solid;border-width:medium 1px 1px}
#count_cart_hover .showCartHeader{border:1px solid #FFF}
.alert{color:#000;font-size:12px;text-align:center;padding:10px}
.header_in_out_info_top{height:9px;background:url(../images/background/header_in_out_info_top.png) no-repeat}
.header_in_out_info_center{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-image:none;border-right:1px solid #D1D1D1;z-index:9999;border-color:0 #D1D1D1 #D1D1D1;border-style:none solid solid;border-width:medium 1px 1px;background:#fff;}
#login-form .login_f{background:url(../images/background/bg_header_info_user.png) repeat-x scroll left top #E8E8E8;border:1px solid #FFF;z-index:9;padding:10px}
#close_login{background:url(../images/icon/bg_close.png) right top no-repeat;cursor:pointer;float:right;height:14px;padding-right:18px;margin:0 0 5px}
.hioi_text{color:#666;font-size:11px;padding-left:2px;line-height:18px}
.hioi_text_note{color:#666;float:left;font-size:11px;line-height:14px}
.user-login-text{margin-bottom:5px}
.user-login-text .ult-l{background:url(../images/background/login_L.png) no-repeat scroll left top transparent}
.user-login-text .ult-m{background:url(../images/background/login_bg.png) repeat-x scroll center top transparent;float:left;height:25px;width:200px}
.user-login-text .ult-r{background:url(../images/background/login_R.png) no-repeat scroll right top transparent;float:left;height:29px;width:3px}
.ult-m input{border:0 none transparent;color:#B8B8B8;height:18px;margin-bottom:2px;margin-top:2px;width:200px}
.remember-login{float:left;margin-bottom:8px;margin-top:1px}
.user-submit-button input{background:none repeat scroll 0 0 #008CC6;border:medium none;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,0.2);color:#FFF;cursor:pointer;display:block;float:left;font-size:13px;font-weight:700;height:34px;outline:medium none;padding-bottom:4px;text-align:center;text-decoration:none;width:100px}
.header_in_out_name{float:right;height:28px;margin-top:2px;position:relative}
.hion-center{float:left;height:26px;line-height:26px;max-width:175px;overflow:hidden;padding-left:8px;width:115px}
.hion-center a{color:#fff;display:block;font-family:Arial;font-size:12px;font-weight:700;height:23px;padding:0 4px}
.header .header_in_out_info{left:0;position:absolute;top:33px;width:230px;z-index:2000}
.hioi-center{background:0 repeat scroll 0 0 transparent;border:1px solid #FFF;width:186px;padding:15px 20px 10px}
.hioi-center ul{height:auto;list-style:none outside none;width:100%;margin:0;padding:0}
.hioi-center ul li{font-family:arial;width:100%;margin:0;padding:3px 0}
.hioi_account_text{color:#443937;float:left}
#logout_h{background:none repeat scroll 0 0 #0097D8;border-radius:3px 3px 3px 3px;color:#FFF!important;font-weight:700;padding:7px 20px}
.bg_input{ width:236px; height:28px; background:url(../images/background/bg_input.jpg); border:none;}
.bg_captcha{width:236px; height:50px; background:url(../images/background/bg_captcha.jpg); border:none; margin:0 0 0 148px; font-size:30px; text-align:center; line-height:50px; color:#000;}
.bg_submit{ width:127px; height:31px; float:left; margin:20px 7px 0 0; line-height:31px; background:#9db6fe; border:none; text-align:center; color:#3a3a3a; text-transform:uppercase; font-weight:700;}
.bg_submit a{color:#3a3a3a; text-transform:uppercase; font-weight:700; line-height:31px;}
.cart_title{ width:100%; float:left; color:#000; font-size:18px; margin-bottom:20px; text-transform:uppercase;}
.edit_profile{ width:100%; height:50px; float:left; background:url(../images/background/edit_profile.png) left center no-repeat; line-height:50px; text-indent:60px; color:#6a6969;font-weight:700;}
.message_to{ width:100%; height:50px; float:left;background:url(../images/background/message_to.jpg) left center no-repeat;line-height:50px; text-indent:60px;color:#6a6969;font-weight:700;}
.change_pass{ width:100%; height:50px; float:left;background:url(../images/background/change_pass.jpg) left center no-repeat;line-height:50px; text-indent:60px;color:#6a6969; font-weight:700;}

ul.dropdown{ position: relative; float:right; }
ul.dropdown li{height:30px; width:172px; line-height:30px; text-align:left; padding-left:20px;float: left; zoom: 1; background:url(../images/category_services.png); margin-top:-8px; }
ul.dropdown a:hover{ color: #fff; }
ul.dropdown a:active{ color: #fff; }
ul.dropdown li a{ display: block; color: #fff; font-size:12px; }
ul.dropdown li:last-child a {}
ul.dropdown li.hover,ul.dropdown li:hover {  color: black; position: relative; }
ul.dropdown li.hover a { color: black; }
ul.dropdown ul{ width: 200px; visibility: hidden; position: absolute; top: 38px; left: 0; border-radius:8px;}
ul.dropdown ul li{ font-weight: normal; background: #f6f6f6; color: #000;float: none; z-index:9; position:relative; height:30px; line-height:30px; padding-bottom:8px}
ul.dropdown ul li a{ width: 100%; color:#003090; display: inline-block; } 
ul.dropdown ul li a:hover{ width: 100%; color:#00a354; display: inline-block; } 
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul{ visibility: visible; }
/* --------------- END HEADER LOGIN --------------- */


/* --------------- END Phong thuy --------------- */

ul.menu_list{float:right;width:80px;list-style:none; position:absolute;top:43px; right:25px;}
ul.menu_list li{float:left}
li.menu_list_shop{float:left;background:url(../images/background/cart_detail.png) left center no-repeat ;cursor:pointer;height:23px!important;width:110px;border:0!important;display:block;color:#7a7a7a;margin:0 0 0 4px;position:relative;z-index:55;color:#235eac; font-size:11px; line-height:20px; text-indent:25px;}
li.menu_list_shop a{ color:#7a7a7a;}
li.menu_list_shop div.hover_shop{display:none}
li.menu_list_shop:hover div.hover_shop{display:block}
span.icon_shop{background:url(../images/background/icon_shop.png);width:20px;height:18px;display:block;margin:17px 5px 5px 23px;*margin:17px 5px 5px 3px}li.menu_list_shop span.hover_num{position:absolute;top:-9px;right:7px;z-index:1}
li.menu_list_shop p.hover_TT{padding-left:0!important; background:url(../images/background/hover_TT.jpg); height:30px; float:left; line-height:40px; width:355px;}
p.no_item{padding:10px 0 10px 5px;!important;text-align:center;font-weight:bold;width:237px;border-top:1px solid #e3e3e3}
p.no_item2{padding:10px 8px 10px 8px;!important;text-align:center;width:225px;cursor:default!important}
div.hover_shop{width:370px;position:absolute;top:28px;right:0px;z-index:55}div.hover_shop_space{background:url(../images/background/hover_shop_space.png) no-repeat center top;height:12px}
div.hover_shop_M{background:url(../images/background/hover_shop_M.png) repeat-y center top;overflow:hidden}p.hover_TT{font-size:12px;font-weight:bold;text-align:left!important;color:#666!important;padding-left:10px!important;padding-bottom:10px!important;float:none!important;margin:0 10px 0 8px}
div.hover_shop_B{background:url(../images/background/hover_shop_B.png) no-repeat center top;height:19px}
.show_cart{ width:100px; height:20px; float:left; background:url(../images/background/show_cart.png); border:none; cursor:pointer; margin:15px 0 15px 0;}
.delete_cart{ color:#2d559a; text-decoration:underline; float:right; background:none; border:none; font-size:12px; cursor:pointer; margin-top:10px;}
.payment_cart{ width:92px; height:22px; background:#9db6fe; border:none;cursor:pointer; text-align:center; line-height:22px; color:#fff;}
.continue_cart{ width:190px; height:30px; background:url(../images/background/continue.jpg); border:1px solid #bcbcbc; border-top:1px solid #dfdfdf;cursor:pointer; float:left; color:#666; line-height:30px; text-transform:uppercase;}
.partner_home{ width:50px; height:auto; position:fixed; top:200px; left:80px;}
.bg_remove{ width:100px; height:20px; background:url(../images/background/bg_remove.jpg) left center no-repeat; border:none; text-decoration:underline; line-height:20px; cursor:pointer;}
.voucher{ width:1000px; height:42px; float:left; background:#ededed;}

.faq_img {width:145px;float:left;}
.faq_123 {margin-top:5px;}
.faq_123 a{ color:#434343; font-weight:700;}
.video_123 {margin-top:45px;margin-left:15px;}
.faq_abc {margin-top:5px;color:#929292;}
.faq_info {width:19%;float:left;background:#f8f8f8;padding:13px 10px; margin-left:5px;color:#929292;}
.faq_info1 {margin-top:3px;}
.faq_info1 span{color:#b80000;}
.title_comment{ width:752px; height:30px; float:left; background:#DDE8F4; border-bottom:1px solid #ABC5E4;border-top:2px solid #ABC5E4; line-height:30px; text-indent:15px; font-weight:700; color:#444;}
.list_comment{ width:752px; float:left; padding:15px 0; border-bottom:1px solid #ccc;}
.content_comment{ width:670px; color:#444; margin-left:10px; float:left; line-height:17px;}
.name_comment{ width:660px;color:#999; float:left; display:block; margin-bottom:5px;}
.name_comment span{ color:#578CCA; font-weight:700; font-size:14px; margin:0 10px 0 0;}
.count_comment{ width:750px; height:30px; float:left;font-weight:700; color:#444; font-size:17px; position:relative;}
.share1{ width:120px; height:26px; float:left; position:absolute; top:2px; right:-15px;}
.add_cauhoi{background:url(../images/submit.png) repeat-x; height:30px; line-height:40px; padding:0 18px;}
.thongtin{
float:left;
margin-left:15px;
_margin-left:8px;
width:95%;
margin-top:15px;
}
.thongtin a{
float:left;
margin-left:5px;
_margin-left:3px;
width:95%px;
font-weight:bold;
text-decoration:none;
color:#797c81;
text-align:left;
}
.icon{
float:left;
width:10px;
height:10px;
background:url(../images/icon/cap5.gif) top left no-repeat;
}
.faq_name{float:left;width:450px;color:#343434;font-weight:bold;margin-top:7px;text-align:left;margin-left:20px;}
.faq_content{float:left;width:100%;color:#fff;margin:5px 0 0 0;text-align:left;font-weight:100;color:#797c81; background:url(/view/images/background/faq_content.png) left 5px no-repeat; text-indent:12px; line-height:10px;}
.faq_content a{ font-weight:700; font-size:14px; color:#666;}
.tt_post{margin-top:30px;float:right;padding-left:20px;_padding-left:10px;width:210px;text-align:left;font-size:11px;color:#a5b1b1;font-style:italic;}
.tt_post a{color:#9ca7cc;text-decoration:underline;}
.hr{float:left;width:100%;border-bottom:1px solid  #22A766;height:1px;}
.com_name{float:left; width:100%;margin-left:10px;font-weight:bold;color:#797c81;}
.com_date{float:left; width:100%;font-size:11px;color:#666666;font-style:italic;}
.com_content{float:left; width:100%;text-align:justify;}
.submit{ width:105px; height:28px; background:url(../images/submit.png); color:#fff; line-height:28px; text-align:center; border:none; cursor:pointer;}
/*-------------------info-user-------------------------*/
ul#topnav {width: auto; float:left; list-style: none;font-family: Tahoma;font-size: 12px;color: #000;font-weight: Bold; margin-right:-30px;}
ul#topnav li {float: left;margin: 0; padding: 0;border-right: 0px solid #555;}
ul#topnav li a {padding: 0px 0px;display: block;color: #000;text-decoration: none;}
#topnav li a:hover,#topnav li a:active,#topnav li a:focus {color: #000; }
ul#topnav li:hover { }
ul#topnav li span {float: left;padding: 6px 0; position: absolute;top:30px; margin-left:80px;display: none;background: -moz-linear-gradient(center top , white 0pt, #E8E8E8 100%) repeat scroll 0 0 transparent;color: #ffffff; z-index:1000; border-radius:5px; border:1px solid #ccc;}
ul#topnav li span li{ width:150px;}
ul#topnav li:hover span { display: block; width:150px; float:left; } 
ul#topnav li span a { display:inline-block; width:120px; float:left; text-align:left;} 
ul#topnav li span a:hover {text-decoration: none; color:#FF0000;width:120px; float:left; }
#logout_h {background: none repeat scroll 0 0 #0097D8;border-radius: 3px 3px 3px 3px;color: #FFFFFF !important;font-weight: bold; width:50px !important; height:25px !important; line-height:25px; text-indent:5px; margin-left:20px;}

/*-------------------Newsticker-------------------------------*/
#newsticker-demo { width:100%; padding:0; font-family:Verdana,Arial,Sans-Serif;font-size:12px;margin:auto;}
#newsticker-demo a { text-decoration:none; }
#newsticker-demo img {}
#newsticker-demo .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;}
.newsticker-jcarousellite { width:100%; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:110px; }
.newsticker-jcarousellite .info { float:left; width:97%; height:auto;}
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }
.clear { clear: both; }


div#mainNav {width:80px;line-height: 100%;z-index:99999999;}
div#mainNav ul {list-style: none;z-index:99999;display: block;width: 80px}
div#mainNav ul li {position: relative;z-index:99999;cursor: pointer;}
div#mainNav ul li:hover{}
div#mainNav ul li a , div#mainNav ul li span{text-decoration: none;font-weight:normal;display: block;color: #FF0033;padding: 5px;}
div#mainNav ul li a:hover, div#mainNav ul li span:hover{text-decoration: none;color: #0000FF;}
div#mainNav ul li ul li{padding-left:8px;}
div#mainNav ul li ul li a{color: #000;font-weight:normal;display: block;}
div#mainNav ul li ul li a:hover{color: #f36501;text-decoration: none;}
div#mainNav ul li:hover ul {display: block;width: 200px;}
div#mainNav ul li ul{border: 1px solid #92D050;border-radius:8px;background:#D4F9AF ;position: absolute;top: 50px;left:80px;display: none;z-index:9999999; padding:5px 10px 15px 10px;}

.register_line{ width:291px; height:25px; padding:7px 0 0 10px; line-height:30px; float:left; color:#000; background:url(../images/background/register_line.png); border:none; }
.register_sex{ width:110px; height:32px; padding:7px 0 0 10px; line-height:30px; float:left; color:#000; background:url(../images/background/register_sex.png); border:none; }
.register_birthday{ width:177px; height:32px; padding:0 0 0 10px; margin-left:5px; line-height:30px; float:left; color:#000; background:url(../images/background/birthday.png); border:none; }
.bg_banner{ width:1000px; height:25px; float:left; margin:auto; background:url(../images/background/bg_banner.png) center no-repeat;}

.advance_search1{ width:36px; position:absolute; top:4px; right:186px;}
ul.dropdown{ position: relative; float:right; }
ul.dropdown li{height:30px; width:172px; line-height:30px; text-align:left; float: left; zoom: 1; background:url(../images/category_services.png); margin-top:-8px; }
ul.dropdown a:hover{ color: #aaa; }
ul.dropdown a:active{ color: #aaa; }
ul.dropdown li a{ display: block; color: #aaa; font-size:12px; }
ul.dropdown li:last-child a {}
ul.dropdown li.hover,ul.dropdown li:hover {  color: black; position: relative; }
ul.dropdown li.hover a { color: black; }
ul.dropdown ul{ width: 200px; height:auto; display: none; position: absolute; top: 25px; left: -3px; float:left; }
ul.dropdown ul li{ font-weight: normal; color: #000; height:30px;float: none; z-index:9; position:relative; height:auto; line-height:30px; }
ul.dropdown ul li a{ width: 100%; color:#003090; display: inline-block; } 
ul.dropdown ul li a:hover{ width: 100%; color:#00a354; display: inline-block; } 
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul{ display: block; }

.tag_land{ width:448px; height:50px; margin:10px 0 0 15px; float:left;}
.tag_land_title{ width:50px; z-index:1000; margin-left:-5px; position:relative; height:50px; float:left; background:url(../images/tag_title.png) left top no-repeat; line-height:18px; text-indent:15px; color:#6D86DB; font-weight:700;}
.tag_land_content{ width:370px; height:50px; float:left; color:#e80403;}
.tag_land_content a{ color:#e80403;}
/*================= garung ==================*/
.center
{
	text-align: center;
}
.pink
{
	color: #EE5A89;
}
/*==================*/
.mgr-bottom-30
{
	margin-bottom: 30px; 
}
.footer .column2{
	margin-left: 17%; 
}
.menu_footer{
	text-align: center;
}
.menu_footer label{
	font-size: 16px;
}
.menu_footer a{
	color:#EB5A46;
}
.listproduct .box_center_content1 {float: left; width:745px; padding:20px 0 0 0; margin-top:2px; border:0px dashed #704b3a; color:#5C5C5C; }
