    <div class="box_center_title1">  
       <a href="{$smarty.const.SITE_URL}">{#HOME#}</a>&nbsp; / &nbsp;<a href="{$smarty.const.SITE_URL}faq/">{#FAQ#}</a>
    </div>
    <div class="bottom_title"></div>
