
<div class="box_center" style="width:760px;">
	<div class="box_center_title">{#faq#} {$full_cat_name}</div>
	<div class="box_center_content" style="width:760px;">
		<div  style="float:left; width:450px; margin-left:0px;">
			<div  class="faq_name">{$item.Title}</div>
			<div class="faq_content" style="margin-left:20px;_margin-left:10px; width:450px;">
				<i>{$item.Summarise}</i>
			</div>
		</div>	
		<div  class="tt_post">
				{#user_post#} {$item.Name}
				<br />
				{#post#} {$item.CreateDate}
				<br />
				{#email#}: <a href="mailto:{$item.Email}">{$item.Email}</a>
	  </div>
		
		
		<div style="float:left; width:98%; text-align:justify; margin:10px 0  15px 5px;_margin-left:8px;">
			{$item.Content}
	  </div>
        <div class="title_comment">{#send_anser#}</div>
				<form action="{$smarty.const.SITE_URL}faq/comment/" method="post" name="frm_add" onsubmit="return abc()">
					<table style=" float:left; margin:0 10px 0px 0; padding-top:20px; background:#f7f7f7; padding-bottom:15px; border-bottom:2px solid #ccc; " width="752" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td width="82" style="text-indent:10px;"><strong>{#ct_fullname#}</strong></td>
						<td width="398"><input name="Name" type="text" id="Name" size="40" style="width:360px;height:22px; border:1px solid #bcbcbc;border-radius:8px; margin:0 0 5px 20px;" /></td>
					  </tr>
					  <tr>
						<td><img src="{$smarty.const.SITE_URL}view/images/avata1.png" alt="avata" style="margin-left:5px;"/></td>
						<td><textarea name="comment" cols="67" rows="2" style="margin-left:20px;  border:1px solid #ccc; border-radius:8px;" id="comment"></textarea></td>
					  </tr>
					  <tr>
						<td><input type="hidden" name="id" value="{$item.id}" />
                        	<input type="hidden" name="user" value="{$user}" /></td>
						<td><input class="submit" style="float:right; margin:10px 12px 0 0;" name="cmdok" type="submit" id="cmdok" value="{#share#}" /></td>
<!--						<input class="reset" type="reset" name="Reset" value="{#Cancel#}" /></td>
-->					  </tr>
				  </table>
	
				</form>
		</div>		
			{if $count>0}
				{foreach from=$tl item=item1 name=item1}
        	<div class="list_comment">
                <img src="{$smarty.const.SITE_URL}view/images/avata.png" alt="avata" style="float:left;"/>		               
                <div class="content_comment">
                	<div class="name_comment"><span>{$item1.subname}</span>{$item1.CreateDate|date_format:"%d-%m-%Y"}</div>
                    {$item1.Content}
                </div>
            </div>
				{/foreach}
			{/if}	
</div>

