<br>
<div style="width:100%; float:left; margin-bottom:30px; margin-top:20px; padding-top:10px; border-top: 2px solid #f2f2f2;font-weight:700;font-size: 14px">{$content.Title}</div>
{$content.Content}
