	<div class="form_seach">
    	<form action="{$smarty.const.SITE_URL}" method="get">
			<input class="bt_search" type="submit" onclick="return chkSearch();" value=""/>
			<input id="search_text" class="inova" type="text" onfocus="delValue(this, '... Tìm kiếm sản phẩm ...');" onblur="setValue(this,'... Tìm kiếm sản phẩm ...');" value=" " name="keyword" onclick="this.value=''" />
			<input type="hidden" name="mod" value="news" />
			<input type="hidden" name="task" value="search" />
		</form>

	</div>