{literal}
    <script type="text/javascript">
        function hnn_show_menu_news(id)
        {
            if(id==1)
			{
				$('#box_child_pro1').slideToggle('slow');
				document.getElementById("box_child_pro2").style.display = "none";
				document.getElementById("box_child_pro3").style.display = "none";
				document.getElementById("box_child_pro4").style.display = "none";
				document.getElementById("box_child_pro5").style.display = "none";
				document.getElementById("box_child_pro6").style.display = "none";
				var ele = document.getElementById("box_child_pro1");
				if(ele.style.display == "block") {
						ele.style.display = "none";
						$("#showhide_about1").html('<img src="/view/images/background/line_about.png" />');
				  }
				else {
					ele.style.display = "block";
						$("#showhide_about1").html('<img src="/view/images/background/line_about1.png" />')
						$("#showhide_about2").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about3").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about4").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about5").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about6").html('<img src="/view/images/background/line_about.png" />');
				}
			}
			else if(id==2)
			{
				$('#box_child_pro2').slideToggle('slow');
				document.getElementById("box_child_pro1").style.display = "none";
				document.getElementById("box_child_pro3").style.display = "none";
				document.getElementById("box_child_pro4").style.display = "none";
				document.getElementById("box_child_pro5").style.display = "none";
				document.getElementById("box_child_pro6").style.display = "none";
				var ele = document.getElementById("box_child_pro2");
				if(ele.style.display == "block") {
						ele.style.display = "none";
						$("#showhide_about2").html('<img src="/view/images/background/line_about.png" />');
				  }
				else {
					ele.style.display = "block";
						$("#showhide_about1").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about2").html('<img src="/view/images/background/line_about1.png" />');
						$("#showhide_about3").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about4").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about5").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about6").html('<img src="/view/images/background/line_about.png" />');
				}
			}
		    else if(id==3)
			{
				$('#box_child_pro3').slideToggle('slow');
				document.getElementById("box_child_pro1").style.display = "none";
				document.getElementById("box_child_pro2").style.display = "none";
				document.getElementById("box_child_pro4").style.display = "none";
				document.getElementById("box_child_pro5").style.display = "none";
				document.getElementById("box_child_pro6").style.display = "none";
				var ele = document.getElementById("box_child_pro3");
				if(ele.style.display == "block") {
						ele.style.display = "none";
						$("#showhide_about3").html('<img src="/view/images/background/line_about.png" />');
				  }
				else {
					ele.style.display = "block";
						$("#showhide_about3").html('<img src="/view/images/background/line_about1.png" />');
						$("#showhide_about1").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about2").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about4").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about5").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about6").html('<img src="/view/images/background/line_about.png" />');
				}
			}
            else if(id==4)
			{
				$('#box_child_pro4').slideToggle('slow');
				document.getElementById("box_child_pro1").style.display = "none";
				document.getElementById("box_child_pro3").style.display = "none";
				document.getElementById("box_child_pro2").style.display = "none";
				document.getElementById("box_child_pro5").style.display = "none";
				document.getElementById("box_child_pro6").style.display = "none";
				var ele = document.getElementById("box_child_pro4");
				if(ele.style.display == "block") {
						ele.style.display = "none";
						$("#showhide_about4").html('<img src="/view/images/background/line_about.png" />');
				  }
				else {
					ele.style.display = "block";
						$("#showhide_about4").html('<img src="/view/images/background/line_about1.png" />');
						$("#showhide_about1").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about2").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about3").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about5").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about6").html('<img src="/view/images/background/line_about.png" />');
				}
			}
			else if(id==5)
			{
				$('#box_child_pro5').slideToggle('slow');
				document.getElementById("box_child_pro1").style.display = "none";
				document.getElementById("box_child_pro3").style.display = "none";
				document.getElementById("box_child_pro4").style.display = "none";
				document.getElementById("box_child_pro2").style.display = "none";
				document.getElementById("box_child_pro6").style.display = "none";
				var ele = document.getElementById("box_child_pro5");
				if(ele.style.display == "block") {
						ele.style.display = "none";
						$("#showhide_about5").html('<img src="/view/images/background/line_about.png" />');
				  }
				else {
					ele.style.display = "block";
						$("#showhide_about5").html('<img src="/view/images/background/line_about1.png" />');
						$("#showhide_about1").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about2").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about3").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about4").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about6").html('<img src="/view/images/background/line_about.png" />');
				}
			}
			else
			{
				$('#box_child_pro6').slideToggle('slow');
				document.getElementById("box_child_pro1").style.display = "none";
				document.getElementById("box_child_pro3").style.display = "none";
				document.getElementById("box_child_pro4").style.display = "none";
				document.getElementById("box_child_pro2").style.display = "none";
				document.getElementById("box_child_pro5").style.display = "none";
				var ele = document.getElementById("box_child_pro6");
				if(ele.style.display == "block") {
						ele.style.display = "none";
						$("#showhide_about6").html('<img src="/view/images/background/line_about.png" />');
				  }
				else {
					ele.style.display = "block";
						$("#showhide_about6").html('<img src="/view/images/background/line_about1.png" />');
						$("#showhide_about1").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about2").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about3").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about4").html('<img src="/view/images/background/line_about.png" />');
						$("#showhide_about5").html('<img src="/view/images/background/line_about.png" />');
				}
			}
        }
</script>
{/literal}
<div class="box_center" style="width:990px;">
    <div class="box_center_content" style="width:990px;">
    	{foreach from = $cat item = cat name = cat}
        	{if $smarty.foreach.cat.iteration!=1}
            <div class="box_about{$smarty.foreach.cat.iteration}">
            	<a class="about_title" href="{$smarty.const.SITE_URL}about/c-{$cat.id}/{$cat.Name|remove_marks}.html" title="{$cat.Name}">{$cat.Name}</a>
            {/if}
    	{foreach from = $cat.sub item = item name = item}
        {if $smarty.foreach.cat.iteration==1 && $smarty.foreach.item.iteration==1}
        	<div class="detailMod" style="width:930px; margin:0 0 20px 20px; border-bottom:1px dotted #ABABAB;">
                <div class="info" style="width:930px;">
                    <div class="name" style="text-align:center; font-size:22px;color:#2185c5; text-transform:uppercase;">
                        {$item.Name}
                    </div>
                    <div class="sum">
                        {$item.Summarise}
                    </div>
                </div>
               <!-- <div class="img">
                    {if $item.Photo}
                        <img src="{$item.Photo}" class="photo" alt="{$item.Name}"/>
                    {/if}
                </div>-->
                <div class="content" style="width:930px; height:480px; padding-bottom:20px; overflow:hidden; color:#959595; font-size:14px;">
                    {$item.Content}
                </div>
            	<a class="view_more" href="{$smarty.const.SITE_URL}about/c-{$cat.id}/{$cat.Name|remove_marks}.html" title="{$cat.Name}">{#view_more#}</a>
			</div>
        {if $smarty.foreach.cat.iteration==1}
        	<div class="box_line_about">
        		<a class="line_about" onclick="hnn_show_menu_news('1');"><div id="showhide_about1" style="float:left;"><img src="/view/images/background/line_about.png" /></div>{#NEWS#}</a>
        		<a class="line_about" onclick="hnn_show_menu_news('2');"><div id="showhide_about2" style="float:left;"><img src="/view/images/background/line_about.png" /></div>{#PRODUCT#}</a>
        		<a class="line_about"  onclick="hnn_show_menu_news('3');"><div id="showhide_about3" style="float:left;"><img src="/view/images/background/line_about.png" /></div>{#faq#}</a>
				<div class="box_child_pro" id="box_child_pro1" style=" width:100%; cursor:pointer;margin:0 0 0 50px;display:none;">
    			{foreach from = $news item = item name = item}
                	<div class="product_cat" style="width:100%;"><a href="{$smarty.const.SITE_URL}news/c-{$item.id}/{$item.Name|remove_marks}.html">{$item.Name}</a></div>
                {/foreach}
                </div>
				<div class="box_child_pro" id="box_child_pro2" style=" width:100%; cursor:pointer; margin:0 0 0 370px;display:none;">
    			{foreach from = $product item = item name = item}
                	<div class="product_cat" style="width:100%;"><a href="{$smarty.const.SITE_URL}product/c-{$item.id}/{$item.Name|remove_marks}.html">{$item.Name}</a></div>
                {/foreach}
                </div>
				<div class="box_child_pro" id="box_child_pro3" style=" width:100%; cursor:pointer; margin:0 0 0 685px;display:none;">
    			{foreach from = $faq item = item name = item}
                	<div class="product_cat" style="width:100%;"><a href="{$smarty.const.SITE_URL}faq/{$item.id}-{$item.Title|remove_marks}.html">{$item.Title|truncate:60}</a></div>
                {/foreach}
                </div>
    			{foreach from = $cat1 item = item name = item}
                {if $smarty.foreach.item.iteration > 3 &&  $smarty.foreach.item.iteration < 7}
                <a class="line_about" onclick="hnn_show_menu_news('{$smarty.foreach.item.iteration}');"><div id="showhide_about{$smarty.foreach.item.iteration}" style="float:left;"><img src="/view/images/background/line_about.png" /></div>{$item.Name}</a>
                {/if}
                {/foreach}
    			{foreach from = $cat1 item = item name = item}
                {if $smarty.foreach.item.iteration > 3 &&  $smarty.foreach.item.iteration < 7}
				<div class="box_child_pro" id="box_child_pro{$smarty.foreach.item.iteration}" style=" width:100%; cursor:pointer;margin:100px 0 0 0px;display:none;">
                    {foreach from = $item.sub item = item2 name = item2}
                    <div class="detailMod" style="width:860px; margin-left:40px;">
                        <div class="info" style="width:860px;">
                            <div class="name">
                                {$item2.Name}
                            </div>
                            <div class="sum">
                                {$item2.Summarise}
                            </div>
                        </div>
                        <div class="content" style="width:860px;">
                            {$item2.Content}
                        </div>
                    </div>
                    {/foreach}
                </div>
                {/if}
                {/foreach}
           </div>
        {/if}
        {elseif $smarty.foreach.cat.iteration==2}   
        {if $smarty.foreach.item.iteration<3}
        	<div class="about_item">
                	{if $item.Photo}
                    	<a href="{$smarty.const.SITE_URL}about/{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}"><img src="{$item.Photo}" width="138" height="128" style="padding:2px;border:1px solid #dbdbdb; float:left; box-shadow:1px 2px 2px 1px #dbdbdb; margin:0 10px 6px 0;" alt="{$item.Name}"/></a>{/if}
						<a href="{$smarty.const.SITE_URL}about/{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}" style="color:#979595; font-weight:700; display:block;">{$item.Name}</a>
                        {$item.Summarise|truncate:130}					
            </div>
        {/if}
        {elseif $smarty.foreach.cat.iteration==3}
        {if $smarty.foreach.item.iteration==1}
        	<div class="about_item1">
                	{if $item.Photo}
                    	<a href="{$smarty.const.SITE_URL}about/{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}"><img src="{$item.Photo}" width="343" height="290" style="padding:1px;border:1px solid #dbdbdb; box-shadow:1px 2px 2px 1px #dbdbdb; margin-bottom:15px;" alt="{$item.Name}"/></a>{/if}
						<a href="{$smarty.const.SITE_URL}about/{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}" style="color:#5b5b5b; font-weight:700;">{$item.Name}</a>					
            </div>
        {/if}
		{/if}
    	{/foreach}
        {if $smarty.foreach.cat.iteration!=1}</div>{/if}
        {/foreach}
        {php}loadModule("contact","right");{/php}	
</div>
</div>

