		{foreach item=adv from=$giua1 name=adv}
		{if $adv.Type == 'FLA'}
		<div style="margin-bottom:2px; width:100%;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}" align="center" style="float:left;">
			{if $adv.Link !=''}<a href="{$adv.Link}" target="_blank">{/if}
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="810"  height="{$adv.Height|default:115}">
			  <param name="movie" value="{$smarty.const.SITE_URL}{$adv.Photo}" />
			  <param name="quality" value="high" />
			  <param name="wmode" value="transparent" />
			  <embed src="{$smarty.const.SITE_URL}{$adv.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"  height="{$adv.Height|default:115}" wmode="transparent" ></embed>
			</object>
			{if $adv.Link !=''}</a>{/if}
		</div>
		{else}
		<div style="margin-bottom:2px; width:100%;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}" align="center">
			{if $adv.Link !=''}<a href="{$adv.Link}" target="_blank">{/if}
			<img src="{$smarty.const.SITE_URL}{$adv.Photo}" width="810" border="0" style="margin-bottom:5px;"  />
			{if $adv.Link !=''}</a>{/if}
		</div>
		{/if}
		{/foreach}
