<div class="box_right">
	<div class="box_right_content" style="border:none; padding:0px;">
		{foreach item=adv from=$advert_right name=adv}
		{if $adv.Type == 'FLA'}
		<div style="margin-bottom:2px; width:100%;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}" align="center">
			{if $adv.Link !=''}<a href="{$adv.Link}">{/if}
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="240" height="{$adv.Height|default:115}">
			  <param name="movie" value="{$smarty.const.SITE_URL}{$adv.Photo}" />
			  <param name="quality" value="high" />
			  <param name="wmode" value="transparent" />
			  <embed src="{$smarty.const.SITE_URL}{$adv.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="240" height="{$adv.Height|default:115}" wmode="transparent" ></embed>
			</object>
			{if $adv.Link !=''}</a>{/if}
			{*{if $adv.Name}<p>{if $adv.Link !=''}<a href="{$adv.Link}" style="color:#1d1c1f;">{$adv.Name}</a>{/if}</p>{/if}*}
		</div>
		{else}
		<div style="margin-bottom:2px; width:100%;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}" align="center">
			{if $adv.Link !=''}<a href="{$adv.Link}">{/if}
			<img src="{$smarty.const.SITE_URL}{$adv.Photo}" width="240" border="0" style="margin-bottom:5px;" />
			{if $adv.Link !=''}</a>{/if}
			{*{if $adv.Name}<p align="center">{if $adv.Link !=''}<a href="{$adv.Link}" style="color:#474545; font-weight:bold;">{$adv.Name}</a>{/if}</p>{/if}*}
		</div>
		{/if}
		{/foreach}
	</div>
</div>