<div class="advert_home" style="float:left; padding:5px 0px;">
   	<div class="advert_home_content">
	 <ul id="mycarousel" class="jcarousel-skin-tango">	
	{foreach from = $advert_center item = item name = item}
		{if $item.Type == 'FLA'}
            <li>{if $item.Link !=''}<a href="{$item.Link}">{/if}
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="98">
              <param name="movie" value="{$smarty.const.SITE_URL}{$item.Photo}" />
              <param name="quality" value="high" />
              <embed src="{$smarty.const.SITE_URL}{$item.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" height="{$item.Height|default:98}" ></embed>
            </object>
            {if $item.Link !=''}</a>{/if}</li>    
		{else}
            <li>{if $item.Link !=''}<a href="{$item.Link}" target="_blank">{/if}
            <img src="{$smarty.const.SITE_URL}{$item.Photo}" width="218" height="98" style="float:left; border:1px solid #d4d5d6;"  />
            {if $item.Link !=''}</a>{/if}</li>
		{/if}	
	{/foreach}
	</ul>
	</div>
</div>    


