	{foreach from=$popup item=item name=item}
    	{if $item.Link}<a href="{$item.Link}" title="{$item.Name}" target="_blank">{/if}
            {if $item.Type == 'FLA'}
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="190" height="{$item.Height}" style="margin-bottom:4px; margin-left:5px;">
                  <param name="movie" value="{$smarty.const.SITE_URL}{$item.Photo}" />
                  <param name="quality" value="high" />
                  <param name="wmode" value="transparent" />
                  <embed src="{$smarty.const.SITE_URL}{$item.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="190" height="{$item.Height}" wmode="transparent" ></embed>
                </object>
            {else}
             <a target="_blank" href="{$item.Link}"> <img src="{$smarty.const.SITE_URL}{$item.Photo}"  align="left" border="0"/></a>
            {/if}
        {if $item.Link}</a>{/if}
    {/foreach}
