          	<span style="line-height:15px; font-size:13px; font-style:italic; float:left; margin-right:20px;">{#share_friends#}</span>
            <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-4f83ed2107499a13"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f83ed2107499a13"></script>
