    <div class="navbar">
		<ul>
        	<li ><a href="{$smarty.const.SITE_URL}" {if $smarty.get.mod == ''} style="background:url(../../../view/images/background/menu_actice.jpg);padding:5px 15px 5px 15px;border-radius:8px;color:#fff; " {/if}>{#HOME#}</a></li> 
            <li><a href="{$smarty.const.SITE_URL}product/" {if $smarty.get.mod == 'product'} style="background:url(../../../view/images/background/menu_actice.jpg);padding:5px 15px 5px 15px;border-radius:8px;color:#fff; " {/if}>{#PRODUCT#}</a></li>   
            <li><a href="{$smarty.const.SITE_URL}news/" {if $smarty.get.mod == 'news'} style="background:url(../../../view/images/background/menu_actice.jpg);padding:5px 15px 5px 15px;border-radius:8px;color:#fff; " {/if}>{#NEWS#}</a></li>  
            <li><a href="{$smarty.const.SITE_URL}pt/" {if $smarty.get.mod == 'pt'} style="background:url(../../../view/images/background/menu_actice.jpg);padding:5px 15px 5px 15px;border-radius:8px;color:#fff; " {/if}>{#Feng_Shui#}</a></li>                    
            <li><a href="{$smarty.const.SITE_URL}about/" {if $smarty.get.mod == 'about'} style="background:url(../../../view/images/background/menu_actice.jpg);padding:5px 15px 5px 15px;border-radius:8px;color:#fff; " {/if}>{#ABOUT#}</a></li>                    
            <li><a href="{$smarty.const.SITE_URL}contact/" {if $smarty.get.mod == 'contact'} style="background:url(../../../view/images/background/menu_actice.jpg);padding:5px 15px 5px 15px;border-radius:8px;color:#fff; " {/if}>{#CONTACT#}</a></li>                    
        </ul>
        <div class="add_this">
        	{php}
            	loadModule("menu","add_this")
            {/php}
		</div>
	</div>
</div>

