{literal}
	<script type="text/javascript">
		function hrefUrl(a){location.href=a}$(document).ready(function(a){a("#mega-menu").dcMegaMenu({rowItems:"3",speed:"fast",effect:"fade"})});$(document).ready(function(){$(".header_in_out_name").hover(function(){$(".header_in_out_info").css("display","block")},function(){$(".header_in_out_info").css("display","none")});$(".header_in_out_login").click(function(){$("#login-form").toggle();$("#uth").focus();$(this).addClass("color_action")});$("#close_login").click(function(){$("#login-form").css("display","none");$(".header_in_out_login").removeClass("color_action")});$(".header_in_out ul li:last").addClass("li-last-child");$("#nav-deal ul li").hover(function(){if(!$(this).hasClass("nav_deal_li_active")){$(this).addClass("nav_deal_li_hover")}},function(){$(this).removeClass("nav_deal_li_hover")});$(".info_cart_header").hover(function(){$("#count_cart_hover").css("display","block")},function(){$("#count_cart_hover").css("display","none")})});function chk_header_login(){if($("#uth").val()=="Email đăng nhập ..."){alert("Bạn chưa nhập email !");$("#uth").focus();return false}else{if($("#uph").val()=="Mật khẩu ..."){alert("Bạn chưa nhập mật khẩu !");$("#uph").focus();return false}else{return true}}}function delValue(a){args=delValue.arguments;if(typeof(args[1])!="undefined"){default_value=args[1]}if($(a).val()==default_value){$(a).val("")}}function setValue(a){args=setValue.arguments;if(typeof(args[1])!="undefined"){default_value=args[1]}if($(a).val()==""){$(a).val(default_value)}}
		
	$(document).ready(function()
	{
		$("#firstpane p.menu_head").click(function()
		{
			$(this).css({backgroundImage:"url(down.png)"}).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
			$(this).siblings().css({backgroundImage:"url(left.png)"});
		});
		$("#secondpane p.menu_head").click(function()
		{
			$(this).css({backgroundImage:"url(down.png)"}).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
			$(this).siblings().css({backgroundImage:"url(left.png)"});
		});
	});

	</script>
    <script type="text/javascript" language="javascript" src="/lib/accordion-menu/jquery.js"></script>
    
    </script>
    
<style type="text/css">
.menu_list {	
	width: auto;
}
.menu_head {
	padding: px 0px;
	cursor: pointer;
	position: relative;
	margin:0px;
    font-weight:normaol;
	color:#704b3a;
	font-size:11px;
	font-style:italic;
    /*background: #eef4d3 url(left.png) center right no-repeat;*/
}
.menu_body {
	display:none;
}
.menu_body a{
  display:block;
  color:#704b3a;
 /* background-color:#EFEFEF;*/
  padding-left:0px;
  font-weight:normal;
  text-decoration:none;
  text-align:right;
}
.menu_body a:hover{
  color: #704b3a;
  text-decoration:underline;
  }
</style>

{/literal}

<div class="sub_menu">

	<div class="sub_menu_ite" style="cursor:pointer">
    	<a class="header_in_out_login">{#login#}</a> &nbsp;|&nbsp;
    </div>
    
    
    <div id="login-form" align="right" style="display: none;">
	<div class="header_in_out_info_center">
		<form class="login_f" onsubmit="return chk_header_login(); return false;" method="post" action="/customer/login/" name="login_f">
			<div id="close_login">
				<span class="hioi_text">Close</span>
			</div>
			<div class="hioi_text_note">{#username#}</div>
			<div class="clr"></div>
			<div class="user-login-text">
				<div class="ult-m">
					<input id="uth" type="text" onfocus="delValue(this, 'Tài khoản đăng nhập ...');" onblur="setValue(this,'Tài khoản đăng nhập ...');" value="Tài khoản đăng nhập ..." name="tex_username"/>
				</div>
				<div class="ult-r"></div>
				<div class="clr"></div>
			</div>
			<div class="hioi_text_note">{#password#}</div>
			<div class="clr"></div>
			<div class="user-login-text">
				<div class="ult-l"></div>
				<div class="ult-m">
					<input id="uph" type="password" onfocus="delValue(this, 'Mật khẩu ...');" onblur="setValue(this,'Mật khẩu ...');" value="Mật khẩu ..." size="30" name="tex_password"/>
				</div>
				<div class="clr"></div>
			</div>
			<div class="remember-login">
				<input id="checkbox_login" type="checkbox" style="padding-left: 0px; margin-left: 0px;float: left;"/>
				<label class="hioi_text" for="checkbox_login"> {#remember#}</label>
			</div>
			<div class="clr"></div>
			<div class="user-submit-button">
				<input class="submit-top" type="submit" value="{#login#}"/>
				<div style="float: left; padding: 6px;">
					<a class="hioi_text" href="/customer/forgot_password/">{#forgot_pass#}</a>
				</div>
			</div>
			<div class="clr"></div>
		</form>
	</div>
</div>


	<div class="sub_menu_ite">
    	<a href="/customer/register/">{#register#}</a> &nbsp;|&nbsp;
    </div>
    
    <div class="sub_menu_ite">
    	<a href="{$smarty.const.SITE_URL}pt/">{#feng_shui#}</a> &nbsp;|&nbsp;
    </div>
    
    <div class="sub_menu_ite">
         <div id="firstpane" class="menu_list">
            <p class="menu_head" style="font-style:normal;">
            	Thông tin &nbsp;|&nbsp; 
            </p>
            <div class="menu_body">
            	{foreach from = $cap1 item = item name = item}
                 	<a style="text-align:left;" href="{$smarty.const.SITE_URL}info/c-{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}">{$item.Name}</a>
                 {/foreach}
            </div>
		</div>
    </div>
    
    
    <div class="sub_menu_ite">
    	<a href="/contact/">{#CONTACT#}</a> &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    
    <div class="sub_menu_ite">
        <div id="secondpane" class="menu_list">
        	{if $smarty.session.username_cus !=''}
            <p class="menu_head">
            	<b>{#welcome#},</b>
                <span style="color:#704b3a; font-style:italic">
                    <a style="color:#704b3a">{$smarty.session.username_cus}</a>
                </span>            
            </p>
            <div class="menu_body">
                     <a href="/customer/edit_profile/">{#profile#}</a>
                     <a href="/customer/edit_profile/">{#change_pass#}</a>
                     <a href="/customer/order/">{#cart_manager#}</a>
                     <a href="/message/to/">{#inbox#}</a>
                     <a href="/customer/logout/">{#logout#}</a>
            </div>
            {else}
            	<p class="menu_head">
                    <b>{#welcome#},</b>
                    <span style="color:#704b3a; font-style:italic">
                    	{#guest#}
                    </span>   
                </p>

            {/if}
        </div>
	</div>
    
</div>
