
<div class="box_information">
    <div class="search_header">
    	{php}
        	loadModule("search","search_form");
        {/php}
    </div>
	<div class="sub_menu_ite" {if $user} style="margin-left:300px;"{/if}>
    	{if $user==''}<a href="/customer/register/">{#open_register#} <img src="../../../view/images/background/tkvip.png" style="margin:0 0 -8px 0;" /></a>{else} <a href="{$smarty.const.SITE_URL}customer/logout/">{#logout#}</a>{/if}&nbsp;|&nbsp;
        {if $user==''}
        	<a href="{$smarty.const.SITE_URL}/customer/login/">{#login#}</a> &nbsp;|&nbsp;
        {else} 
            <ul id="topnav">
                <li>
                   <a href="#" style="float:left; margin-left:100px;"> {#hello#} <b style="color:red">{$user1.FullName}</b>&nbsp;|&nbsp;</a>
                    <span>
                       <a href="{$smarty.const.SITE_URL}customer/edit_profile/">{#info_user#}</a> 
                      <a href="{$smarty.const.SITE_URL}customer/logout/" id="logout_h">{#logout#}</a>
                    </span>
                </li>
            </ul>		 
        {/if}
    	<a href="/customer/login/">{#login#}</a> &nbsp;|&nbsp;
    <a href="javascript:setHomepage('{$smarty.const.SITE_URL}')">{#homepage#}</a>
</div>
	{php}
	loadModule("menu","select_lang");{/php}
</div>

 
