{literal}
<script type="text/javascript">	
	function showHide123(id,id1) {
	//alert(id);
		var ele = document.getElementById("sick");
		if(ele.style.display == "block") {
				ele.style.display = "none";
		  }
		else {
			ele.style.display = "block";
			ele.style.top = id+"px";
			ele.style.left = id1+"px";
		}
	}
</script>
{/literal}
<div class="new_home">
	<div class="news_home_title">{#we_help#}</div>
	<div class="news_home_content">
			{foreach from = $news item = item name = item}
            {if $smarty.foreach.item.first}
                <div style="position:relative; width:185px; height:400px; float:left;">
                <img src="{$item.Photo}" width="160" height="370" style="margin:15px 0 0 0;" />
                <div id="sick" style="width:31px;height:30px; background:url(/view/images/background/pain.png); display:none; position:absolute; "></div>
                </div>
            {/if}
                <div class="sick_item" {if $smarty.foreach.item.first} style="margin-top:15px;"{/if} onmouseover="showHide123('{$item.Top}','{$item.Left}')" onmouseout="showHide123('{$item.Top}','{$item.Left}')"><a href="{$smarty.const.SITE_URL}news/c-{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}">{$item.Name}</a></div>
      		{/foreach}
	</div>
</div>