{literal}
<script type="text/javascript">	
	function showHide123(id) {
		$.ajax({
			type: "GET",
			url: "/index.php?mod=news&task=home_ajax&ajax",
			data: "id="+id,
			success: function(response_text){
				$("#sick").html(response_text);
			}
		});
	}
	
</script>
{/literal}
<div class="new_home">
	<div class="news_home_title">{#we_help#}</div>
	<div class="news_home_content">
			{foreach from = $news item = item name = item}
            {if $smarty.foreach.item.first}
        	<div id="sick" style="position:relative; width:293px; height:290px;">
            <img src="{$item.Photo}" style="margin:15px 0 0 0;" width="293" height="250" />
            </div>
            {/if}
                <div class="sick_item" onmouseover="showHide123('{$item.id}'" onmouseout="showHide123('{$item.id}')"><a href="{$smarty.const.SITE_URL}news/c-{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}">{$item.Name}</a></div>
      		{/foreach}
	</div>
</div>