		/*this is the css for the vertical version*/
.vertical ul{list-style-type: none;padding: 0px;width:193px;*margin:0px;}
.vertical li a{display: block;line-height:25px;color:#737373;font-size:12px; border-bottom:3px solid #fff;background: #ecedef url(../../view/images/background/arrow1.png) 10px 5px no-repeat;text-indent:30px;text-decoration:none; font-weight:600;}
.vertical li li a{text-indent:0px;line-height:25px; font-weight:600; }
.vertical li a:hover{color:#737373; }
.vertical li ul a{line-height:25px;}
.vertical li li a{text-indent:30px;line-height:25px; color:#737373;font-weight:400;border-bottom:1px solid #fff;}
.vertical li li a:hover{color:#737373;}
.vertical li{display: inline;}
.vertical li ul{position: absolute;margin-top: -25px;margin-left: 193px;_margin-left:193px;width:200x; }
.vertical li ul ul{position: absolute;margin-top: -25px;margin-left: 193px;}
.border_vertical{ height:3px; width:193px; background:#fff;}
		/*this is the css for the horizontal version*/
		.horizontal ul{
			list-style-type: none;
			display: block;
			width:100%;
			float:left;
		}
		.horizontal li{
			float: left;
			text-align:center; 
			display: inline; height:31px;
			position:relative;
			margin-right: 30px;
		}
		.horizontal li a{
			text-decoration: none;
			float: left;
			display: block;
			width: auto;
		}
		.horizontal li li a{
			border-top: none;
		}
		.horizontal li ul{
			position: absolute; 
			margin-top: 40px;
			width: 230px;
			border: none;
			display: block; border:1px solid #e8e8e8;
			height: auto;
			padding:0px;
			background-color:#fff;
			z-index:9999;
		}
		.horizontal li li ul{
			position: absolute;
			margin-top: 0px;
			margin-left: 228px;
		}
		.horizontal li ul li{
			float: left;
			text-align:center; border-bottom:1px solid #e8e8e8;
			display: inline; 
			height: 40px;
			position:relative;
		}
		.horizontal li ul li { }
		.horizontal li ul li a{
			width: 205px;
			margin:0px;
			padding:0px 0px 0px 22px;
			text-align:left;
			font-weight:normal;
			color:#292929;
			line-height:20px;
		}
		.horizontal li ul li a:hover{
			background:none;
			color:#292929;
			text-decoration:underline;
			font-weight:400; 
		}
		/*This section makes the menu not work in non-javascript enabled browsers by not showing the menu by default-This can be worked around by making top level links point to a sitemap*/
		/*Not sure if I recommend this or not*/
		.inaccesible li ul{
			display: none;
		}
		/*Arrow code - looks like <a class="haschild" href="#">Text <span>Arrow</span></a> can be turned on/off with arrow class*/
		.arrow a span{
		padding-left: 1em;
		font-size: 85%;  
		}
		.arrow a:hover span{
			padding-left: 2em;			
		}
		.arrow a span.noshow{
			visibility: hidden;
		}
		/*Plus code*/
		.plus a span{
			padding-left: .5em;
		}
		/*colors for menu*/
		.blackwhite li a{
			background-color: white;
			color: black;
			border-color: black;
		}
		.blackwhite li a:hover{
			color: white;
			background:red;
			border-color: black;
		}
		.blackwhite ul{
			border-color: black;
		}
		
		.bluewhite li a{
			font-weight:400;
			text-transform:none;
		}
		/*.bluewhite li a:hover{
			background:url(../../view/images/bg_menu_active_1.gif) bottom center no-repeat; 
			color:#FFF;
		}*/
.jqueryslidemenu{font: bold 13px Tahoma, Geneva, sans-serif;width: 1000px;}
.jqueryslidemenu ul{margin: 0;padding: 0;list-style-type: none; background:#a92d2b;}
.jqueryslidemenu ul li{position: relative;display: inline;float: left;}
.jqueryslidemenu ul li a{display: block;color: #fff;text-decoration: none;}
* html .jqueryslidemenu ul li a{ display: inline-block;}

/*.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
color: white;
}*/

	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
position: absolute; 
left: 0;
display: block;
visibility: hidden;
z-index:99;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0px;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
font: normal 12px Tahoma, Geneva, sans-serif;
width: 170px; /*width of sub menus*/
padding: 8px 10px 8px 20px; float:left;
background:url(icon.png) 3px 12px no-repeat;
color:#fff;
*margin-top:-1px;
border-top-width: 0;
text-align:left; font-weight:400;
}
.jqueryslidemenu ul li ul li a:hover{ color:#fff; font-weight:700; text-decoration:underline;}


.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

