		/*this is the css for the vertical version*/
		.vertical ul{
			list-style-type: none;
			padding: 0px;
			width:200px;
			*margin:0px;
		}
		
		.vertical li a{
			display: block;
			height:25px;
			line-height:25px;
			color:#FFF;
			padding-left:45px;
			text-decoration:none;
		}
		.vertical li li a{
			padding-left:32px;
			line-height:28px;
		}
		.vertical li a:hover{
			background:url(../../view/images/cat_active.jpg) repeat-x;
			color:#0e0300;
		}
		.vertical li{
			/*Needed for IE. Don't ask me why, It was a lucky guess.*/
			display: inline;
		}
		.vertical li ul{
			position: absolute;
			margin-top: -26px;
			margin-left: 200px;
			width:220px;
			background:url(../../view/images/box_subcat.jpg) repeat-y;
		}
		.vertical li ul ul{
			position: absolute;
			margin-top: -25px;
			margin-left: 252px;
		}
		/*this is the css for the horizontal version*/
		.horizontal ul{
			list-style-type: none;
			display: block;
			height: 58px;
			width:760px;
			float:left;
		}
		.horizontal li{
			float: left;
			text-align:center;
			display: inline;
			position:relative;
		}
		.horizontal li a{
			text-decoration: none;
			height: 58px;
			float: left;
			display: block;
			width: auto;
			padding-left:20px;
			padding-right:20px;
			line-height:58px;
		}
		.horizontal li li a{
			border-top: none;
		}
		.horizontal li ul{
			position: absolute; 
			margin-top: 58px;
			width: 180px;
			border: none;
			display: block;
			height: auto;
			padding:0px;
			*top:38px;
			*left:129px;
			background-color:#FFF;
			/* for IE */
			filter:alpha(opacity=90);
			/* CSS3 standard */
			opacity:0.9;
			border-bottom:1px solid #c3c3c3;
			border-left:1px solid #c3c3c3;
			border-right:1px solid #c3c3c3;
			z-index:9999;
		}
		.horizontal li li ul{
			position: absolute;
			margin-top: 0px;
			*margin-top: -9px;
			margin-left: 180px;
		}
		.horizontal li ul li a{
			width: 170px;
			margin:0px;
			padding:0px 0px 0px 10px;
			text-align:left;
			font-weight:normal;
			color:#717171;
			height:28px;
			line-height:28px;
			border-top:solid 1px #c3c3c3;
		}
		.horizontal li ul li a:hover{
			background:none;
			color:#000;
			text-decoration:underline;
			font-weight:normal;
		}
		/*This section makes the menu not work in non-javascript enabled browsers by not showing the menu by default-This can be worked around by making top level links point to a sitemap*/
		/*Not sure if I recommend this or not*/
		.inaccesible li ul{
			display: none;
		}
		/*Arrow code - looks like <a class="haschild" href="#">Text <span>Arrow</span></a> can be turned on/off with arrow class*/
		.arrow a span{
		padding-left: 1em;
		font-size: 85%;  
		}
		.arrow a:hover span{
			padding-left: 2em;			
		}
		.arrow a span.noshow{
			visibility: hidden;
		}
		/*Plus code*/
		.plus a span{
			padding-left: .5em;
		}
		/*colors for menu*/
		.blackwhite li a{
			background-color: white;
			color: black;
			border-color: black;
		}
		.blackwhite li a:hover{
			color: white;
			background:red;
			border-color: black;
		}
		.blackwhite ul{
			border-color: black;
		}
		.bluewhite li a{
			font-weight:normal;
		}
		.bluewhite li a:hover{
			background: url(../../view/images/bg/bg_menu_active.jpg) repeat-x;
			color:#FFF;
		}