.paging_div {	
	color: #2238be;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 	
}
.paging_div span a:link, .paging_div span a:visited {
	text-decoration: none;
	color:#666666;
}
.paging_div span a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.paging_current_class {
	font-weight: bold;
	color:#2238be;	
	text-decoration:underline;
}
.paging_link_class {
	font-weight: normal;
	color: #2238be;	
	border: none;
}

.span_a_class
{
	font-weight:bold;
	background-color:#FFF;
	color:#000;
	font-size:11px;
	padding:2px 0px;
}
.span_a_class a
{
	font-weight:bold;
}

.span_select_class
{
	font-weight:bold;
	color:#000;
	font-size:11px;
	padding:2px 0px;
}
.span_a_class img{
	width: auto;
	height: auto;
	display:inline;
}