.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}

.blue {font: normal 13px Arial, sans-serif; line-height: 16px;}
.blue ul.mega-menu, .blue ul.mega-menu, .blue ul.mega-menu li {margin: 0; padding: 0; border: none;}
.blue ul.mega-menu{width: 100%; height: 44px; position: relative;}
.blue ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 12px; font-weight: bold;}
.blue ul.mega-menu li a {float: left; display: block; color: #fff; padding: 0px 5px 0px 0px; text-decoration: none;}
.blue ul.mega-menu li a.dc-mega {position: relative;}
.blue ul.mega-menu li a .dc-mega-icon {display: none; position: absolute; top: 27px; right: 1px; width: 8px; height: 6px; background: url(images/arrow.png) no-repeat 0 0;}
.blue ul.mega-menu li.mega-hover a, .blue ul.mega-menu li a:hover {background-position: 100% -40px; color: #3c6ab3; font-weight:bold; text-shadow: none;}
.blue ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.blue ul.mega-menu li .sub-container {position: absolute; background: url(images/bg_sub_left.png) no-repeat 0 100%; background:#fff; padding-left: 0px; margin-left: -3px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
.blue ul.mega-menu li .sub {background: url(images/bg_sub.png) no-repeat 100% 100%; background:none; padding: 0px 20px 0px 10px;}
.blue ul.mega-menu li .sub-container.mega .sub {padding: 0 10px 5px 0;}
.blue ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.blue ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal; text-align:left;}
.blue ul.mega-menu li .sub li.mega-hdr {margin: 2px 0px 0px 10px; float: left;}
.blue ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.blue ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.blue ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 10px; margin-bottom: 5px; background: #704738 url(images/bg_mega_hdr.png) no-repeat 0 0; text-transform: none; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #333;}
.blue ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #A8B7CF; text-shadow: none;}
.blue ul.mega-menu .sub li.mega-hdr li a {padding: 2px 5px 2px 20px; background: url(images/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.blue ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(images/arrow_off.png) no-repeat 5px 8px;}
.blue ul.mega-menu .sub ul li {padding-right: 0;}
.blue ul.mega-menu li .sub-container.non-mega .sub {padding: 0px 0px 0px 0; background:none;}
.blue ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 230px; margin: 0;}
.blue ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; border:1px solid #b99e73; background:#f9f1e2 url(images/arrow_off.png) no-repeat 7px 12px; color:#704b3a; background-color:#fff;}
.blue ul.mega-menu li .sub-container.non-mega li a:hover {color: #704b3a; background: #efefef url(images/arrow_off.png) no-repeat 7px 12px;}