<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAeEAs1Y0h0VJcsrh264vXARQtmwj0TAIsLQjAZpz6CcusFoPELRQ9LJoNkwvYBeUtWxccPVnrwY8y5Q" type="text/javascript"></script>
<script src="/lib/jsmap.js" type="text/javascript"></script>
{literal}
<script>
$(document).ready(function(){
	initialize();
});
</script>
{/literal}
<div class="box_center">
	<div class="box_center_title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{#FORUM#}</div>
    <div class="box_center_content">		
		<table align="left" width="98%" cellpadding="3" cellspacing="3" border="0" style="text-transform:none;">
			<tr>
				<td>Tìm đường: </td>
				<td>Đi từ <input type="text" size="30" id="txtAddress" name="from"/> (Ví dụ : 120 Kim Mã Ba Ðình)</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>Đến : Khu CN Đài Tư, 386 Nguyễn Văn Linh, Long Biên, HN. &nbsp;<input  type="button" value="Tìm đường" onclick="show();" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
			<div style="background:#EEEEEE; height:20px;width:565px; float:left; font-weight:bold; padding-top:5px;">Hành trình</div>
			</td>
			</tr>						
			<tr>
				<td colspan="2"><div id="route" style="width:555px;"></div></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				<div style="background:#EEEEEE; height:20px;width:565px; float:left; font-weight:bold;padding-top:5px">Bản đồ</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><div id="map" style="width: 565px;height:450px " ></div></td>
			</tr>
		</table>
	</div>
	<div class="box_center_bottom"></div>
</div>