
<div class="box_center" style="width:760px;">		
      <div class="box_center_title">{#place#}</div>
		<div class="box_center_content" style="width:760px;">	
			{#dc#}: {$regulation.Name} <br />
			{#dt#}: {$regulation.Address} <br />
			{#email#}:{$regulation.Email}    <br /><br /><br />    
			<span style="text-align:center;">{$regulation.Content1} </span>       
	</div>
</div>




