<div class="box_left">
	<div class="side_title">{#info_gene#}</div>
	<div class="side_content">
		<div class="product_cat"><a  href="{$smarty.const.SITE_URL}contact/place/">{#place#}</a></div>
		<div class="product_cat"><a  href="{$smarty.const.SITE_URL}regismail/">{#appointment1#}</a></div>
		<div class="product_cat"><a  href="{$smarty.const.SITE_URL}career/">{#career#}</a></div>
		<div class="product_cat"><a  href="{$smarty.const.SITE_URL}faq/">{#faq#}</a></div>
	</div>
</div>