<div class="contact_home">
               <div class="line_address"><span>{#dc#}:</span> {$regulation.Name} - {$regulation.Address}</div>  
                <div class="line_phone"><span>{#dt#}:</span> {$regulation.Phone} </div>
               <div class="line_email"><span>{#email#}:</span> {$regulation.Email}</div>
</div>

    
    
    


