<div class="share_social" style="margin-left: 30px;">
<!-- {#connect_we#}: <br /> -->
{foreach from = $home_share item = item name = item}
	<div class="col-xs-4 col-sm-4 col-md-2 end_clothes3 pd0 mgr15_mobile">
        <a target="_blank" href="{$item.Link}" title="{$item.Name}"><img width="33" height="33" alt="" style=" margin:-3px 8px 0 0; vertical-align:middle; float: left; margin: 10px 5px 5px 0px; " src="{$smarty.const.SITE_URL}{$item.Photo}" /></a>
    </div>
{/foreach} 
 </div>

    
    
    


