<div class="box_center">		
        	<div class="box_center_title_content">
            	<div style="float:left; font-weight:bold;">{#PARTNER#} {$full_cat_name}</div>
        	</div>
<div class="box_center_content">
		{foreach from = $listItem item = item name = item}
        <div class="list_partner">
            {if $item.Photo}<a href="{$smarty.const.SITE_URL}partner/{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Nmae}"><img src="{$item.Photo}" width="180" height="140" style="border:solid 1px #969696; float:left;" /></a>{/if}
        </div>
		{foreachelse}
			<div style="width:97%; height:auto; float:left; text-align:center; padding: 0px 10px; color:red;">{#updating#}</div>
		{/foreach}
		{if $num_rows > $limit}
		<div style="width:97%; height:auto; float:left; text-align:right; padding:10px;">
			<font style="font-size:11px;">{#page#}</font> &nbsp;&nbsp;{$num_rows|page:$limit:$smarty.get.page:$paging_path}
		</div>
		{/if}
	</div>
</div>