
{literal}
<script>
function regismail_home123(){
	var frm = document.frmregismailHome123;
	var email = frm.Email_regis123.value;
	var apos=email.indexOf("@");
	var dotpos=email.lastIndexOf(".");
	if(email == '' || email == 'Your Email')
	{
		alert("Please enter your email address!");
		frm.Email_regis123.focus();
		return false;
	}
	else if (apos<1||dotpos-apos<2){
		alert("Invalid email address!");
		frm.Email_regis123.select();
		return false;
	}

	
	return true;
}

</script>
{/literal}

<div class="info_form">{#fill_info#}</div>
        <div class="msg_info">{$error1}</div>
<div class="form_text">
	<form action="" method="post" name="frmregismailHome123" onsubmit="return regismail_home123()">
        	<input type="text" class="email_text" name="Email_regis123" value="{#regismail#}"  onclick="this.value=''"/>
        	<input class="reg_submit" type="submit" value="{#reg_submit#}" />
    </form>
</div>







