    <script type="text/javascript" src="{$smarty.const.SITE_URL}lib/thickbox/thickbox.js"></script>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.SITE_URL}lib/thickbox/thickbox.css" />
{config_load file=$smarty.session.lang_file}
<a href="/index.php?mod=regismail&task=thickbox&id={$id}&ajax&keepThis=true&TB_iframe=true&height=560&width=1000" title="" class="thickbox">
<span style="line-height:10px; color:#FF0000;">{#find_street#}</span> <img src="/view/images/background/place.png" style="margin-bottom:-8px;" /></a>