{php}
	loadModule("header");
{/php}
<div class="container-fluid">
    <div class="bg_banner"></div>
	<div class="page">
<div id="middle">

                  <div class="left_panel" style="width:220px;">
                      {php}
                         loadModule("contact","menu");
                    	 loadModule("contact","left");
                    	 loadModule("letter","home");
                     	loadModule("advert","partner_left");
                  	  {/php}
                  </div>
                  <div class="main_panel" style="width:760px; margin-right:0;">
                    <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
                    </div>
                  </div>
</div> 
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}
