{php}
	loadModule("header");
{/php}
<div class="container">
	<div class="page">
<div id="middle">

                  <div class="left_panel">
                  {if $smarty.get.mod=='services'}
                      {php}
                         loadModule("services","menu"); 
                      {/php}
                  {elseif $smarty.get.mod=='info'}
                      {php}
                         loadModule("info","menu"); 
                      {/php}
                  {elseif $smarty.get.mod=='cart'}
                      {php}
                         loadModule("product","menu"); 
                         loadModule("cart","show_count"); 
                      {/php}
                  {elseif $smarty.get.mod=='blog'}
                      {php}
                         loadModule("blog","menu"); 
                      {/php}
                  {elseif $smarty.get.mod=='letter'}
                      {php}
                         loadModule("letter","menu"); 
                      {/php}
                  {else}
                      {php}
                         loadModule("contact","menu"); 
                      {/php}
                  {/if}
                  {php}
                     loadModule("advert","partner_left");
                  {/php}
                  </div>
                  <div class="main_panel">
                    <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
                    </div>
                  </div>
                  <div class="right_panel">
                  	{php}
                    {/php}
                  </div>
</div> 
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}
