{php}
	loadModule("header");
{/php}
<div id="middle" style="padding:15px 0;">
      <div class="right_panel1">
            <div id="advance">
                {php}
					loadModule($_GET['mod'],$_GET['task']);
                {/php}
            </div>
      </div>
</div> 
<div class="clr"></div>

{php}
	loadModule("footer");
{/php}
