{php}
	loadModule("header");
{/php}
<div class="container">
    <div class="bg_banner"></div>
	<div class="page">
<div id="middle">
               <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
              </div>
</div>
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}

