<input type="button" class="bg_submit" style="color:#fff;font-size:11px;float:left;background:red;padding: 80px;margin-left: 40%;border: none;margin-top: 150px; font-size:30px; cursor:pointer" name="bt_payment" value="Check out" onclick="checkout_paypal()" />


<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" id="frmPayPal">

    <input type="hidden" name="USER" value="info.jolipretty_api1.gmail.com">
    <input type="hidden" name="PWD" value="LKP5MDHW8SKEUXH3">
    <input type="hidden" name="SIGNATURE" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AdRB4eTbHo-VvKRCOqVzz-yadgst">

    <input type="hidden" name="cmd" value="_cart">
    <input type='hidden' name='business' value='info.jolipretty@gmail.com'>
    <input type='hidden' name='upload' value='1'>
    <input type='hidden' name='return' value='http://jolipretty.com/'>
    <input type='hidden' name='notify_url' value='http://jolipretty.com/ipn.php'>
    <input type='hidden' name='cancel_return' value=''>
    <input type='hidden' name='currency_code' value='SGD'>

    <input type="hidden" name="shipping_1" value="2.00">
    <input type="hidden" name="item_name_1" value="First item name">
    <!-- Change this to the price of the first item -->
    <input type="hidden" name="amount_1" value="15.00">
    <input type="hidden" name="quantity_1" size="2" min="1" max="99" value="1"><br>
    <input type="hidden" name="item_name_2" value="Second item name">
    <input type='hidden' name='on0_1' value='Size'>
    <input type='hidden' name='os0_1' value='M'>
    <!-- Change this to the price of the second item -->
    <input type="hidden" name="amount_2" value="20.00">
    <input type="hidden" name="quantity_2" size="2" min="1" max="99" value="2"><br>
    <input type='hidden' name='on0_2' value='Size'>
    <input type='hidden' name='os0_2' value='XXL'>
</form>

<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="frmPayPal">

    <input type="hidden" name="USER" value="info_api1.jolipretty.com">
    <input type="hidden" name="PWD" value="9GMBSKM5A6G8NBCX">
    <input type="hidden" name="SIGNATURE" value="ApfOvY3gXSeA.31UEo2f20bzR2VUAVZqybQ0JPIdv5J5qCJOIah9h5mO">

    <input type="hidden" name="cmd" value="_cart">
    <input type='hidden' name='business' value='info.jolipretty@gmail.com'>
    <input type='hidden' name='upload' value='1'>
    <input type='hidden' name='return' value='http://jolipretty.com'>
    <input type='hidden' name='cancel_return' value=''>
    <input type='hidden' name='currency_code' value='SGD'>
    
    {foreach item=item from=$result name=item}
        {if $smarty.foreach.item.iteration == 1}<input type="hidden" name="shipping_1" value="{$price_ship}">{/if}

        <input type='hidden' name='item_name_{$smarty.foreach.item.iteration}' value='{$item.product.Name}'>
        <input type='hidden' name='amount_{$smarty.foreach.item.iteration}' value='{if $item.product.Price}{$item.product.Price}{else}{$item.product.OldPrice}{/if}'>
        <input type='hidden' name='quantity_{$smarty.foreach.item.iteration}' value='{$item.quantity}'>
        <input type='hidden' name='on0_{$smarty.foreach.item.iteration}' value='Size'>
        <input type='hidden' name='os0_{$smarty.foreach.item.iteration}' value='{$item.product.size}'>
    {/foreach}

</form> -->

{literal}
<script type="text/javascript">
    function checkout_paypal()
    {
        document.getElementById("frmPayPal").submit();
    }
</script>
{/literal}