

/* Feature section in ZoomEngine page */
.zoom-section {	
	clear:both;		
}

* html .zoom-section { 
	display:inline;
	clear:both;
}
/* Feature descriptions in ZoomEngine page */
.zoom-desc {
	float:left;
	margin-left:0px;
	width:254px;
	margin-bottom:0px;

}

.zoom-small-image {
	border:0px solid #CCC;
	float:left;
	margin-bottom:20px;
}
.zoom-tiny-image {
	border:0px solid #CCC;
	margin:0px;
	
}
.zoom-tiny-image:hover {
	border:0px solid #C00;		
}

