<script type="text/javascript">	
	var s_fi = '{$video.Code}';
</script>   
{literal}	
<script type="text/javascript">
	playVideo(s_fi);
</script>	
{/literal}
<div id="mvmain" align="center" style="padding-bottom:10px; padding-left:15px;"></div>