<marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()" height="220" width="190">
	<table cellpadding="0" cellspacing="6" width="100%">
	{foreach from = $video_all_ajax item = item name = item}
		{if $item.Type=='up'}<tr><td class="video_item"><a onclick="changCode('{$item.id}'); changeName({$item.id})">{$item.Name|truncate:45}</a>&nbsp;<span style="color:#8e3531">({$item.CreateDate|date_format:"%d/%m/%Y"})</span></td></tr>
		{else}<tr><td class="video_item"><a onclick="changContent('{$item.id}'); changeName({$item.id})">{$item.Name|truncate:45}</a>&nbsp;<span style="color:#8e3531">({$item.CreateDate|date_format:"%d/%m/%Y"})</span></td></tr>
		{/if}
	{/foreach}
		
	</table>
</marquee>