<div id="gallery">
   <a href="{$smarty.const.SITE_URL}{$img.Photo}">
		<img src="{$smarty.const.SITE_URL}/{$img.Photo}" width="220" height="220" alt="{$smarty.const.SITE_URL}{$img.Photo}" />
   </a>
</div>