<div class="box_center">
{foreach item=adv from=$advert name=adv}
{if $adv.Type == 'flash'}
	{if $adv.Link !=''}<a href="{$adv.Linh}">{/if}
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="595" height="{$adv.Height|default:115}" style="margin-bottom:5px; float:left; border:1px solid #6f6f6f;">
      <param name="movie" value="{$smarty.const.SITE_URL}{$adv.Photo}" />
      <param name="quality" value="high" />
	  <param name="wmode" value="transparent" />
      <embed src="{$smarty.const.SITE_URL}{$adv.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="595" height="{$adv.Height|default:115}" wmode="transparent"></embed>
    </object>
    {if $adv.Link !=''}</a>{/if}
{else}
	{if $adv.Link !=''}<a href="{$adv.Linh}">{/if}
    <img src="{$smarty.const.SITE_URL}{$adv.Photo}" width="595" style="margin-bottom:5px; float:left; border:1px solid #6f6f6f;" />
    {if $adv.Link !=''}</a>{/if}
{/if}
{/foreach}
</div>