<div style="width:994px; height:150px; border:2px solid #fff; padding-bottom:5px;float:left;">
<img src="/view/images/logo copy.jpg" width="300" height="150" style="float:left" />

<marquee direction="left" scrollamount="3" height="150" width="692">
	<table border="0" >
    	
	<tr>
        {foreach from = $advert_top item = item name = item}
        	<td>
        	{if $item.Type == 'FLA'}
        
        	{if $item.Link !=''}<a href="{$item.Link}">{/if}
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"   width="{$item.Height|default:150}" height="150">
      <param name="movie" value="{$smarty.const.SITE_URL}{$item.Photo}" />
      <param name="quality" value="high" />
      <embed src="{$smarty.const.SITE_URL}{$item.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="{$item.Height|default:150}" height="150" ></embed>
    </object>
    {if $item.Link !=''}</a>{/if}
    	
        {else}
    	
        	{if $item.Link !=''}<a href="{$item.Link}" target="_blank">{/if}
   			 	<img src="{$smarty.const.SITE_URL}{$item.Photo}" height="150" style="margin-left:5px; float:left; border:1px solid #cccccc;"  />
  			{if $item.Link !=''}</a>{/if}
	
		
        	{/if}
			</td>
		{/foreach}
	</tr>
        
    </table>
    
</marquee>
</div>




{*<div style="width:994px; height:150px; border:2px solid #fff; padding-bottom:5px;">
	<img src="/view/images/logo copy.jpg" width="192" height="150" style="float:left;" />
	<div style="border:none; float:left;">
    	<marquee direction="left" scrollamount="3" style="width:800px;float:left;">
		{foreach from = $advert_top item = item name = item}
    {if $item.Type == 'FLA'}

	{if $item.Link !=''}<a href="{$item.Link}">{/if}
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="150">
      <param name="movie" value="{$smarty.const.SITE_URL}{$item.Photo}" />
      <param name="quality" value="high" />
      <embed src="{$smarty.const.SITE_URL}{$item.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="80" height="{$item.Height|default:40}" ></embed>
    </object>
    {if $item.Link !=''}</a>{/if}
	

	{else}

	{if $item.Link !=''}<a href="{$item.Link}" target="_blank">{/if}
    <img src="{$smarty.const.SITE_URL}{$item.Photo}" height="150" style="margin-left:5px; float:left; border:1px solid #cccccc;"  />
    {if $item.Link !=''}</a>{/if}
	{/if}
{/foreach}
	</marquee>
	</div>
</div>**}