<div id="divAdLeft" style="position: absolute; top: 0px; width: 120px; left: 0px;">
{foreach item=adv from=$scroll_left name=adv}
	{if $adv.Type == 'FLA'}
		{if $adv.Link !=''}<a href="{$adv.Link}" target="_blank">{/if}
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="120" height="{$adv.Height|default:392}" style="margin-bottom:5px; float:left;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}">
		  <param name="movie" value="{$smarty.const.SITE_URL}{$adv.Photo}" />
		  <param name="quality" value="high" />
		  <param name="wmode" value="transparent" />
		  <embed src="{$smarty.const.SITE_URL}{$adv.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="120" height="{$adv.Height|default:392}" wmode="transparent"></embed>
		</object>
		{if $adv.Link !=''}</a>{/if}
	{else}
		{if $adv.Link !=''}<a href="{$adv.Link}">{/if}
		<img src="{$smarty.const.SITE_URL}{$adv.Photo}" width="120" border="0" style="margin-bottom:5px; float:left;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}" />
		{if $adv.Link !=''}</a>{/if}
	{/if}
{/foreach}
</div>