{foreach item=adv from=$item_right name=adv}
{if $adv.Type == 'flash'}
<div style="margin-bottom:2px; width:189px; float:left;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}">
	{if $adv.Link !=''}<a href="{$adv.Link}">{/if}
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="189" height="{$adv.Height|default:115}">
      <param name="movie" value="{$smarty.const.SITE_URL}{$adv.Photo}" />
      <param name="quality" value="high" />
	  <param name="wmode" value="transparent" />
      <embed src="{$smarty.const.SITE_URL}{$adv.Photo}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="189" height="{$adv.Height|default:115}" wmode="transparent"></embed>
    </object>
    {if $adv.Link !=''}</a>{/if}
	{*{if $adv.Name}<p>{if $adv.Link !=''}<a href="{$adv.Link}" style="color:#1d1c1f;">{$adv.Name}</a>{/if}</p>{/if}*}
</div>
{else}
<div style="margin-bottom:2px; width:189px; float:left;{if $smarty.foreach.adv.last}margin-bottom:0px;{/if}">
	{if $adv.Link !=''}<a href="{$adv.Link}">{/if}
    <img src="{$smarty.const.SITE_URL}{$adv.Photo}" width="189" border="0"  />
    {if $adv.Link !=''}</a>{/if}
	{*{if $adv.Name}<p align="center">{if $adv.Link !=''}<a href="{$adv.Link}" style="color:#474545; font-weight:bold;">{$adv.Name}</a>{/if}</p>{/if}*}
</div>
{/if}
{/foreach}