
<div class="box_information">
    <div class="search_header">
    	{php}
        	loadModule("search","search_form");
        {/php}
    </div>
	<div class="sub_menu_ite" {if $user} style="margin-left:300px; "{/if}>
    	{if $user==''}<a href="/customer/register/">{#open_register#} <img src="../../../view/images/background/tkvip.png" style="margin:0 0 -8px 0;" /></a>{else} <a href="{$smarty.const.SITE_URL}customer/logout/">{#logout#}</a>{/if}&nbsp;|&nbsp;
        {if $user==''}
        	<a href="{$smarty.const.SITE_URL}/customer/login/" style="color:#fff;">{#login#}</a> &nbsp;|&nbsp;
        {else} 
            <ul id="topnav">
                <li>
                   <a href="{$smarty.const.SITE_URL}message/to/" style="float:left; margin-left:40px;"> {#hello#} <b style="color:red">{$user1.FullName}</b></a>
					  <a href="{$smarty.const.SITE_URL}message/to/" style="float:left; margin-left:6px;"> <img src="../../../view/images/icon/inbox.jpg" style="margin:7px 0 0 5px;" /><font style=" float:right; margin-left:5px;">({$count})&nbsp;|&nbsp;</font></a>
					
                    <span>
                       <a href="{$smarty.const.SITE_URL}customer/edit_profile/">{#info_user#}</a> 
                      <a href="{$smarty.const.SITE_URL}customer/logout/" id="logout_h">{#logout#}</a>
                    </span>
                </li>
            </ul>		 
        {/if}
    	<a href="/customer/login/">{#login#}</a> &nbsp;|&nbsp;
    <a href="javascript:setHomepage('{$smarty.const.SITE_URL}')">{#homepage#}</a>
</div>
</div>

 
