{php}
	loadModule("header");
{/php}
<div class="container-fluid">
    <div class="bg_banner"></div>
	<div class="page">
<div id="middle">
				{if $smarty.get.task==''}
               <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
              </div>
              {else}
                  <div class="left_panel">
                  {php}
                      loadModule("about","menu"); 
                     loadModule("advert","partner_left");
                  {/php}
                  </div>
                  <div class="main_panel">
                    <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
                    </div>
                  </div>
                  <div class="right_panel">
                  	{php}
                    	 loadModule("contact","left");
                    	 loadModule("letter","home");
                    {/php}
                  </div>
              {/if}
</div>
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}

