{php}
	loadModule("header");
{/php}
<div class="container-fluid">
	<div class="page">
	<div id="middle">
	               <div id="advance">
	                        {php}
	                            loadModule($_GET['mod'],$_GET['task']);
	                        {/php}
	              </div>
	</div>
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}

