{php}
	loadModule("header");
{/php}
<div class="container">
    <div class="bg_banner"></div>
	<div class="page">
<div id="middle">
                  {if $smarty.get.task!='search'}
                  <div class="left_panel">
                      {php}
                         loadModule("news","menu"); 
                     	loadModule("advert","partner_left");
                  {/php}
                  </div>
                  {/if}
                  <div class="main_panel" {if $smarty.get.task=='search'} style="width:780px; margin-right:0;"{/if}>
                    <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
                    </div>
                  </div>
                  <div class="right_panel">
                  	{php}
                    	 loadModule("contact","left");
                    	 loadModule("letter","home");
                    {/php}
                  </div>
</div> 
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}
