{php}
	loadModule("header");
{/php}
<div class="container-fluid">
	<div class="page">
<div id="middle">
                  <div class="main_panel">
                    <div id="advance">
                        {php}
                            loadModule($_GET['mod'],$_GET['task']);
                        {/php}
                    </div>
                  </div>
</div> 
<div class="clr"></div>
{php}
	loadModule("footer");
{/php}
