
	<div class="services_home">
        <ul id="mycarousel" class="jcarousel-skin-tango1">
        {foreach from = $services item = item name = item}
                <li>
                       <div class="list_category_gallery">
                                   <a href="{$smarty.const.SITE_URL}services/c-{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}" ><img src="{$smarty.const.SITE_URL}{if $item.Photo}{$item.Photo}{else}view/images/no_img.jpg{/if}" width="300" height="200"  alt="{$item.Name}"  align="left"; /></a>
                                  
                                   <a class="list_category_galleryN" href="{$smarty.const.SITE_URL}services/c-{$item.id}/{$item.Name|remove_marks}.html" title="{$item.Name}" >{$item.Name}</a>
                                   
                        </div>
                </li>
    	{/foreach}
        </ul>
	</div>
