<div class="counter">
        <div class="line_counter">{#statistics_online#}: <span style="color:#cd1717; font-weight:bold;">{$count_user_online}</span></div>
        <div class="line_counter">{#Visitors#}: <span style="color:#cd1717; font-weight:bold;">{$count_user_view}</span></div>
        <div class="line_counter">Version 3.0.</div>
</div>
