.jcarousel-skin-tango .jcarousel-container {
	float: left;
	width:115px;
	height:590px; margin-top:8px;
	background-color:#fff;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 115px;
    height: 500px;
	float:left;
    padding:50px 0 0px 0;
	
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  115px;
    height: 500px;
	float:left;
	padding:0;
}

.jcarousel-skin-tango .jcarousel-item {
	width:115px;
	height: 180px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -20px;
    left: 8px;
    width: 20px;
    height: 20px;
	padding-top:15px;
    cursor: pointer;
    background: transparent url(next.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    /*background-position: -32px 0;*/
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    /*background-position: -96px 0;*/
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    bottom: 0px;
    left: 7px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent url(prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    /*background-position: -32px 0;*/
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    /*background-position: -96px 0;*/
}


/*---------------------------*/

.jcarousel-skin-tango1{width:940px; margin-left:30px;height:265px;float:left}
.jcarousel-skin-tango1 .jcarousel-clip-horizontal ul {
    width:940px;height:265px;overflow:hidden
}

.jcarousel-skin-tango1 .jcarousel-item { /*chỗ này là viền ảnh*/
	width:324px; margin:5px 0 0 0;
	height:265px;
}

.jcarousel-skin-tango1 .jcarousel-item-horizontal {
}

.jcarousel-skin-tango1 .jcarousel-item-placeholder {
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango1 .jcarousel-next-horizontal {
    position: absolute; z-index:99;
    top: 90px;
    right: -25px;
    width: 22px;
    height: 53px;
    cursor: pointer;
    background: transparent url(next.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-next-horizontal:hover {
    background: transparent url(next.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-next-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(next.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal {
    position: absolute;
    top: 90px;
    left: -25px;
    width: 32px;
    height: 53px;
    cursor: pointer;
    background: transparent url(prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal:hover {
    background: transparent url(prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal:active {
    background: transparent url(prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(prev.png) no-repeat 0 0;
}



/*-----------------------------*/

.jcarousel-skin-tango2{width:100%;height:175px;float:left}
.jcarousel-skin-tango2 .jcarousel-clip-horizontal ul {
    width:100%;height:175px;overflow:hidden;
}

.jcarousel-skin-tango2 .jcarousel-item { /*chỗ này là viền ảnh*/
	width:184px; margin:5px 5px 0 0;
	height:175px;
}

.jcarousel-skin-tango2 .jcarousel-item-horizontal {
}

.jcarousel-skin-tango2 .jcarousel-item-placeholder {
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango2 .jcarousel-next-horizontal {
    position: absolute; z-index:99;
    top: -24px;
    right: 0px;
    width: 21px;
    height: 20px;
    cursor: pointer;
    background: transparent url(next1.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:hover {
    background: transparent url(next1.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(next1.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal {
    position: absolute;
    top: -24px;
    right: 21px;
    width: 21px;
    height: 20px;
    cursor: pointer;
    background: transparent url(prev1.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:hover {
    background: transparent url(prev1.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:active {
    background: transparent url(prev1.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(prev1.jpg) no-repeat 0 0;
}
